[2017-04-07 20:08] zaracay opened #1613 "Create Toolkits from a directory of networks -- command line feature"
Allow users to create their own toolkits from a directory of networks.  I'd like to see it as an exposed button, but as discussed in the testing lunch, it is probably not necessary for now.  So, just making it available as a command line tool would be best for now.

[2017-04-07 20:08] jessdtate commented on #1609
we need the zoom tools in the subnets, and the module selection options.
It would be nice to have the 'i' hotkey and others in the subnets.

[2017-04-07 20:08] jessdtate commented on #1609
deleting the subnet should delete all the modules in it.

[2017-04-07 20:14] johaenns opened #1614 "Tab order in EditMeshBoundingBox"
### Description

Jumping through the fields for "Set Center" with the tab-key the current order is "X -> Z -> Y".

### Versions

v5.0-beta.G
Mac OS X 10.12.3

[2017-04-07 20:26] zaracay opened #1615 "ShowString: Textbox anchor point control"
### Description

Text is anchored, by default, to the lower left corner of the text box.  As a result, if I place the text along the upper boundary or along the right most boundary of the View Window, the text is no longer visible.  It is out of the view pane.

### Steps to Reproduce

1. CreateString -- write any string
2. ShowString -- change x or y coordinate to 1

I would expect to see the text

[2017-04-09 23:27] jessdtate commented on #933
I found a case that crashes pretty reliably.  IF there are point clouds and surfaces as input, the supress surface splitting must be checked, otherwise tetgen and SCIRun crashes with a Segmentation fault.

[2017-04-10 19:38] dcwhite commented on #738
Will combine with #881.

[2017-04-10 19:41] dcwhite commented on #737
Interesting but possibly not very useful.

[2017-04-10 19:52] dcwhite commented on #720
Try converting back to all 1x1 matrix ports, like in 4.

[2017-04-10 19:54] dcwhite commented on #718
I'll write the function, @collint8 will change usages.

[2017-04-10 19:58] dcwhite commented on #717
Would need a preference toggle--off by default. @jessdtate hates this.

[2017-04-10 20:00] dcwhite commented on #714
@jessdtate Needs exec discussion.

[2017-04-10 20:02] dcwhite commented on #715
I'll check python round-trip unit tests, this might be fixed.

[2017-04-10 22:23] dcwhite commented on #722
We will revisit this one eventually.

[2017-04-11 02:04] dcwhite commented on #881
If we fix this, #738 will probably be resolved. So I'll close that one and just reference it here for testing.

[2017-04-11 02:04] #738 closed

[2017-04-11 02:08] dcwhite commented on #1371
Closed via #1603.

[2017-04-11 02:08] #1371 closed

[2017-04-12 19:51] dcwhite commented on #1614
Done. @johaenns Please report any other module UIs with goofy tab orders, since most have never been set.

[2017-04-12 20:00] dcwhite commented on #1612
The keyboard shortcut is `.`

[2017-04-13 16:09] moritzdannhauer opened #1616 "SolveComplexLinearSystem_outputs_incorrect_values"
### Prerequisites

* [x] Are you running the [latest version of SCIRun](https://github.com/SCIInstitute/SCIRun/releases)?
* [x] Are you reporting to the [correct repository](https://github.com/SCIInstitute/SCIRun)?
* [x] Did you [perform a cursory search](https://github.com/SCIInstitute/SCIRun/issues) to see if your bug or enhancement is already reported?

### Description

By using a simple 3x3 se

[2017-04-13 21:35] dcwhite commented on #522
Closed with #1607

[2017-04-13 21:35] #522 closed

[2017-04-17 19:31] #1595 closed

[2017-04-17 19:31] #1612 closed

[2017-04-17 19:31] #1614 closed

[2017-04-17 19:43] dcwhite commented on #596
@moritzdannhauer Is this still relevant since you can implement something similar in python now? If not, we will close it.

[2017-04-17 19:47] dcwhite commented on #597
Related to network file importing. Needs more testing.

[2017-04-17 19:49] #603 closed

[2017-04-17 19:49] moritzdannhauer commented on #596
Ok close it!

[2017-04-17 19:54] dcwhite commented on #623
@moritzdannhauer, this one might be good for @shayestehfard if you want her to get more module coding experience.

[2017-04-17 20:00] moritzdannhauer commented on #623
Yes, after she finished the ones that have been assigned to her before.
I guess she also might need some guidance from you regarding this.

[2017-04-17 20:00] dcwhite commented on #632
@jessdtate Needs exec-level discussion.

[2017-04-17 20:01] dcwhite commented on #632
Basically same as #714, but anonymous.

[2017-04-17 20:03] dcwhite commented on #631
Add automatic compression?

[2017-04-17 20:04] dcwhite commented on #631
Needs some revisiting

[2017-04-18 19:11] cbrightsci commented on #556
There doesn't seem to be a need for this. Closing.

[2017-04-18 19:11] #556 closed

[2017-04-18 19:14] cbrightsci commented on #558
Not needed. If requests in the future look like they would need approximate rendering a new ticket can be made.

[2017-04-18 19:14] #558 closed

[2017-04-19 17:52] #596 closed

[2017-04-21 21:14] collint8 commented on #718
Sounds good. Let me know when it's available.

[2017-04-24 09:06] pip010 opened #1619 "FAIL ON: Performing download step (SVN checkout) for 'SCI_data_external' Authentication failed"
### Bug

External data dependency svn authentication error, causes the build to fail. Please make optional!

### Description

[Description of the bug or feature]

[ 59%] Performing download step (SVN checkout) for 'SCI_data_external'
svn: E170013: Unable to connect to a repository at URL 'https://gforge.sci.utah.edu/svn/CIBCData'
svn: E215004: No more credentials or we tried too many times.
Authen

[2017-04-24 19:16] #1597 closed

[2017-04-24 19:56] dcwhite commented on #663
@jessdtate Bring up at Sim-est

[2017-04-24 19:58] dcwhite commented on #654
Need to simplify Trello board

[2017-04-25 21:44] #1619 closed

[2017-05-01 19:45] #1178 closed

[2017-05-01 20:05] dcwhite commented on #409
This is intern work and can be pushed. Assigning to Training

[2017-05-01 20:08] dcwhite commented on #1613
https://github.com/SCIInstitute/FwdInvToolkit/issues/49

[2017-05-01 20:09] dcwhite commented on #513
I have it built, but the Renderer is doing all sorts of funky things. Meeting with @cbrightsci tomorrow to discuss options.

[2017-05-01 20:10] dcwhite commented on #560
@cbrightsci Let's look at this one tomorrow too, quickly.

[2017-05-02 23:07] dcwhite commented on #1615
I implemented the second of the options above. GUI is identical but the position adapts to proximity to ViewScene border.

[2017-05-03 16:34] #1615 closed

[2017-05-03 17:31] dcwhite commented on #560
Look in `GeometryImpl.h`

[2017-05-04 01:50] dcwhite commented on #1616
Found discrepancy in your matrices. Please re-test with the same input :1st_place_medal:

[2017-05-04 02:10] dcwhite commented on #648
Post-Qt5 #513

[2017-05-05 16:50] gduffley commented on #1605
@dcwhite What's the status of this bug?

[2017-05-08 19:42] dcwhite commented on #645
Update with latest error messages when it happens.

[2017-05-08 19:48] aylakhan commented on #641
Since we're migrating a lot of the documentation to Markdown, this is obsolete.

[2017-05-08 19:48] #641 closed

[2017-05-08 19:48] dcwhite commented on #647
@moritzdannhauer Another one for @shayestehfard

[2017-05-08 19:50] dcwhite commented on #1271
@aylakhan Please kill 💣

[2017-05-08 19:54] dcwhite commented on #1221
Let's discuss IBBM requirements for this one. @jessdtate

[2017-05-08 19:55] aylakhan commented on #1271
The effort involved is not equal to the benefit. Killing.

[2017-05-08 19:55] #1271 closed

[2017-05-08 20:01] dcwhite commented on #1224
Discussed with @aylakhan and @jessdtate. Still useful for larger-scale integrations; but will put on hold until compelling use case arises.

[2017-05-10 16:48] dcwhite commented on #1605
@gduffley This should be fixed. Now everything after the -s flag (except for the script file name) is ignored by SCIRun and available in python via sys.argv. Let me know if there are additional difficulties.

[2017-05-10 17:14] gduffley commented on #1605
Great, thanks!

[2017-05-10 18:06] #216 closed

[2017-05-10 18:06] #519 closed

[2017-05-10 18:06] #631 closed

[2017-05-11 19:10] jansonap opened #1624 "ShowString ViewScene Padding to prevent cutoff of displayed text"
### Description

In reference to #1615 is it possible to add some padding around the ViewScene window to prevent cutoff at anchor points like 0,0. I would much rather be able to just put 0,0 as an anchor instead of having to type 0.01,0.02 to prevent cutoffs.

![image](https://cloud.githubusercontent.com/assets/6484210/25967274/d31db0ea-364a-11e7-80bc-2994652cd0ae.png)

### Versions
v5.0-beta.H-69

[2017-05-11 19:29] jcollfont commented on #631
Enabling the dock all option makes SCIRun quit with error:

QPixmap::scaled: Pixmap is a null pixmap
Segmentation fault: 11

[2017-05-11 19:31] jcollfont commented on #631
It does not always repeat. I managed to set this option with no problem the second time I tried.

Maybe because I had less UIs to open?

[2017-05-11 20:06] jessdtate opened #1625 "docking ui window expands scirun window past screen"
### Description

This is somewhat related to #631. When docking ui windows,  the scirun window will always expand to fit the ui window, even if it goes past the screen.  On OS X, when the fit to screen function (doudble click on the scirun window bar)  the scirun window is fit to the screen and the module uis are stacked together in not a nice way.

### Steps to Reproduce

1. make or load a networ

[2017-05-11 20:37] gduffley commented on #1605
If you run:
./SCIRun -x -E -s script.py arg1 arg2
then:
sys.argv = [./SCIRun', '-x', '-E', '-s', 'script.py, 'arg1', 'arg2']

The problem is that if you change which flags you run scirun with, you are going to change the amount of arguments you have. This makes it hard to script. I think that args should be ['script.py, 'arg1', 'arg2'], which is how python would work. The only issue is it makes it

[2017-05-11 23:02] dcwhite commented on #1605
Good idea. I will add code to truncate up to and including the -s.

[2017-05-12 21:30] dcwhite opened #1626 "Mesh-constrained point probe widget"
Creating for @ajanson/@jessdtate to fill in requirements.

[2017-05-12 21:32] dcwhite opened #1627 "Controlling location of point probe widget between slices"
Creating for @ajanson to fill in details.

[2017-05-15 19:46] dcwhite commented on #1266
It doesn't work on Seg3D either. But now it doesn't crash in SCIRun according to Jess...I will investigate.

[2017-05-15 19:49] dcwhite commented on #1251
Will wait until requested.

[2017-05-15 20:03] dcwhite commented on #1227
Discussed ideas for incentivizing unit testing as a group. We'll pick this up after IBBM. @jessdtate @aylakhan

[2017-05-18 01:27] dcwhite commented on #1234
#720

[2017-05-18 21:54] dcwhite commented on #1266
Confirmed does not crash anymore. Closing.

[2017-05-18 21:54] #1266 closed

[2017-05-18 22:44] #1605 closed

[2017-05-18 22:44] #1624 closed

[2017-05-19 18:51] dcwhite commented on #714
@jessdtate Any update on this one?

[2017-05-19 20:20] jessdtate commented on #714
I haven't been able to get this in an exec meeting yet.  I will try for the next one.

[2017-05-22 17:28] ajanson commented on #1627
SCIRun 4 functionality when moving a point probe that was generated in the center of the slice is to keep the new location until a new slice is selected. At that point the point probe is re-centered on the new slice and can be moved again.

SCIRun 5 does not let you move the point probe once it has been generated at the center of an object. Upon moving it it jumps back to the original center locat

[2017-05-22 17:34] ajanson commented on #1626
It would be nice to have the functionality to constrain movement of a point probe to a plane or slice especially if the viewer window is not directly orthogonal to the slice. Either let the point move out of plane in 3D space and then project it back onto the slice. See the comment in #1627 for a possible solution to this. However, this could lead to some inaccuracy due to not being able to predic

[2017-05-22 19:44] dcwhite commented on #791
Check in Qt5

[2017-05-22 19:45] #796 closed

[2017-05-22 19:49] dcwhite commented on #1065
@jessdtate will add some more examples for me.

[2017-05-22 19:51] dcwhite commented on #817
Very rare now--still should rewrite the code.

[2017-05-22 19:54] dcwhite commented on #821
I will check the BuildBE code for bad auto usages. New issue needed to make this an external.

[2017-05-22 21:31] dcwhite commented on #1330
@gduffley Need demo python code to replicate this, please.

[2017-05-23 17:56] jessdtate commented on #714
The discussion we had with the exec concluded with the opinion that having users who publish with our software and can give statements support is the metric that will lead to more funding.  There is also the notion that increased steps will reduce the total number of users.  In light of those two ideas, the decision was that putting resources to registration would not help our funding prospects an

[2017-05-23 17:56] #714 closed

[2017-05-23 17:56] jessdtate commented on #632
The same issues for #714 apply here, with the added concern of privacy.

[2017-05-23 18:06] jessdtate commented on #501
There is still some support for this on the exec level.  ImageVis3D mobile and duality have some similarities to what we are trying to do.  Some other software with the VPH project have attempted this, so we should look into them to see if what the overhead and the success of such a feature is.

This is also somewhat related to having a simplified customizable ui for a network.

[2017-05-23 18:07] jessdtate commented on #651
vistrails has provenance in it.  Is there a way to incorperate that or another third party provenance package?

[2017-05-23 18:11] jessdtate commented on #997
after discussion with the exec, we determined that the resources required to implement this feature outstrips the usefulness of it.  Instead, we should focus on getting cvx to work in the python interface.

[2017-05-23 18:11] #997 closed

[2017-05-23 19:07] dcwhite commented on #632
Close this as well?

[2017-05-23 19:11] jessdtate commented on #632
The exec were concerned about credibility, though  something voluntary would work.  Mostly, they would rather you spend time on features.  If you think this is really easy to implement, I'm sure they won't mind it as long as it was an optional thing for the users.

[2017-05-23 20:32] dcwhite commented on #651
That idea came up in a dev meeting long ago. I think @aylakhan could shed more light on feasibility.

[2017-05-23 20:41] aylakhan commented on #651
Vistrails is very powerful and does a lot more than provenance. Python package is available: https://pypi.python.org/pypi/vistrails to experiment with.

[2017-05-29 20:58] zaracay opened #1629 "SCIRun5.0 beta-G binary download is actually Seg3d"
The download name and link on the pre-release binary labeled EAB 2017 (https://github.com/SCIInstitute/SCIRun/releases) is for Seg3D2-2.4.0

[2017-05-30 04:22] johaenns commented on #1361
Does this issue deal with/include the error that the alpha values set in createstandardcolormap are not applied by showfield?

[2017-05-30 18:12] dcwhite commented on #1629
I deleted the trespassing binary. 💥

[2017-05-30 18:12] #1629 closed

[2017-05-30 18:13] dcwhite commented on #1361
Presumably, when this is implemented, it will be implemented correctly, so yes.

[2017-06-02 18:44] jcollfont opened #1631 "scorn crash when creating subnet"
### Description

SCIRun crashes when creating a subnet with error:
2017-06-02 14:40:23.981 SCIRun[19346:1589165] modalSession has been exited prematurely - check for a reentrant call to endModalSession:
Segmentation fault: 11

### Steps to Reproduce

1. Run SCIRun with the torso-tank-bem.srn5  network
./bin/SCIRun/SCIRun.app/Contents/MacOS/SCIRun ~/Desktop/Toolkits/FwdInvToolkit-1.2.1/Networks/pot

[2017-06-02 18:47] jessdtate commented on #1609
deleting the subnet now crashes scirun (os x 10.12)

[2017-06-02 18:48] dcwhite commented on #1631
Put crash reports in #1609

[2017-06-02 18:48] #1631 closed

[2017-06-02 18:50] dcwhite commented on #1609
Delete subnet UI when items sent to parent (found by @johaenns)

[2017-06-02 18:51] jcollfont commented on #1631
only breaks in my local build

[2017-06-02 18:53] wgood commented on #1609
[SubNetting.srn5.zip](https://github.com/SCIInstitute/SCIRun/files/1048686/SubNetting.srn5.zip)

Subnet does not load as a subnet.

[2017-06-02 18:59] dcwhite commented on #1609
In A->B->C, if you subnet A or A->B, crashes every time.

[2017-06-02 19:02] dcwhite commented on #1609
Regression in adding module to subnet window by dragging.

[2017-06-02 19:03] dcwhite commented on #1609
Problem with multiple subnets with same name.

[2017-06-02 19:12] collint8 commented on #1609
Cancel button does not work (creates new one anyway/ complains about having the same name)

[2017-06-02 19:25] jessdtate commented on #1609
with a->b->c, making a subnet of the middle (b) crashes, but b-c and the whole thing works

[2017-06-02 19:25] dcwhite commented on #1609
Every problem from @wgood and @johaenns were from an older version. Disregard...

[2017-06-02 19:28] jessdtate commented on #1609
diffused edges for the drop shadow.

[2017-06-02 19:28] zaracay commented on #1609
Creating a subnet from modules in the saved Fwd/Inv toolkit generates a blank subnet UI in both source build and 10.10 binary (running on a 10.11 machine).  The modules are still there because I can expand them back out and they show up when clicking the Subnet Menu button (3 horizontal lines), but they are not visible in the subnet window.

I was able to construct separate networks inside the sav

[2017-06-02 19:29] dcwhite commented on #1609
Saving and loading a subnet-containing file without exiting SCIRun crashes.

[2017-06-02 19:32] jessdtate commented on #1609
making a subnet with a subnet in it crashes

[2017-06-02 21:03] gduffley commented on #1605
I am still having issues. I am now getting the load file errors that I got before you fixed it.

Here is the copy and paste from my original bug:

Call SCIRun -x -s anyscript.py arg1

Result:
[PYTHON] Python 3.4.3 (default, Mar 24 2017, 16:45:03)
[GCC 4.8.3 20140627 [gcc-4_8-branch revision 212064]] on linux
HEADLESS MODE
2017-03-24 19:35:13.682 [ERROR] File load failed(arg1): exception in load_xm

[2017-06-05 15:28] dcwhite commented on #1605
What version of SCIRun? Use SCIRun --version

[2017-06-05 19:40] jessdtate commented on #1223
module position related to this

[2017-06-05 19:48] dcwhite commented on #1219
Students and interns needed.

[2017-06-05 19:51] dcwhite commented on #1217
Wait until next coding lunch.

[2017-06-05 19:52] #1208 closed

[2017-06-05 19:54] dcwhite commented on #289
Check out description of https://github.com/SCIInstitute/SCIRun/issues/1216 as well.

[2017-06-05 22:37] dcwhite commented on #1605
I ask because I removed the "HEADLESS MODE" print out, so you must be on an old version.

[2017-06-05 23:32] gduffley commented on #1605
I’m 95% sure I pulled and built that morning. I’m not sure how I would have gone from old version -> new version -> old version again. I’ll test next week when I’m back at SCI.

[2017-06-05 23:44] dcwhite commented on #1605
Perhaps you did a "git unpull" or "git historical pull" by mistake...

[2017-06-06 00:00] gduffley commented on #1605
[PYTHON] Python 3.4.3 (default, Jun  2 2017, 11:45:21)
[GCC 4.8.3 20140627 [gcc-4_8-branch revision 212064]] on linux
v5.0-beta.I-40-geae7f2a

is my version. Don’t worry about this now. I’ll make sure I can reproduce my bug next week.

[2017-06-06 19:59] dcwhite commented on #1609
@jessdtate Can you pull latest `subnet2` branch and check the following:
- [ ] new blur radius of drop shadow
- [ ] (A->B)->C and (A)->B->C crash, I cannot replicate anymore
- [ ] Subnet within a subnet construction

[2017-06-06 20:12] moritzdannhauer opened #1632 "module_self_connection"
#1221 ## Prerequisites

* [x] Are you running the [latest version of SCIRun](https://github.com/SCIInstitute/SCIRun/releases)?
* [x] Are you reporting to the [correct repository](https://github.com/SCIInstitute/SCIRun)?
* [x] Did you [perform a cursory search](https://github.com/SCIInstitute/SCIRun/issues) to see if your bug or enhancement is already reported?
### Description

[Description of the

[2017-06-08 16:36] #1632 closed

[2017-06-08 18:30] #821 closed

[2017-06-09 15:35] moritzdannhauer opened #1635 "'Connect Module ...' is broken"
Gui feature 'Connect Module ...' does not seem to work at all. It either crashes (e.g., colormap input port of RescaleColorMap) or does not do anything (e.g., field output port of ClipFieldbyFunction).

### Prerequisites

* [x] Are you running the [latest version of SCIRun](https://github.com/SCIInstitute/SCIRun/releases)?
* [x] Are you reporting to the [correct repository](https://github.com/SCII

[2017-06-09 15:51] #1635 closed

[2017-06-09 15:51] dcwhite commented on #1635
I will cover this in the new subnet issue.

[2017-06-09 15:58] dcwhite commented on #1635
Look here https://sciinstitute.slack.com/archives/C0B58V1CJ/p1497022271316851?thread_ts=1497021862.158848&cid=C0B58V1CJ

[2017-06-09 16:04] dcwhite opened #1636 "Regression with module actions"
- [ ] Duplicate
- [ ] Replace With
- [ ] Insert module

All broken since subnets came along.

[2017-06-09 16:36] dcwhite commented on #1627
I'll work on this today.

[2017-06-09 21:24] jessdtate opened #1637 "simplified InterfaceWithMatlab"
### Description

This idea of this simplified version of the Interface with Matlab.  This version would run matlab code through the python interface without the users learning much of the matlab python interpreter.  I envision the module allowing inputs similar to the IWP module, but only allowing one function call with matlab syntax.  For instance the function call:
`[output1, output2,...] = func

[2017-06-10 23:33] dcwhite opened #1639 "Subnets, part 3"
Continuation of #287 and #1609.
- [x] opening a new network with another one already on SCIRun breaks the program. Not sure if it only happens with subnets though
- [ ] when adding a module within a subnet does not allow to connect the ports outside of the subnet.
- [ ] serialization--needs testing
- [ ] network editor creation button: check if selection is fully path-connected
- [ ] other module

[2017-06-10 23:33] dcwhite commented on #287
Everything left over here is now on the above issue.

[2017-06-11 22:14] #1609 closed

[2017-06-11 22:14] #1636 closed

[2017-06-12 16:21] dcwhite opened #1641 "Multi-level subnets"

[2017-06-12 19:37] dcwhite commented on #853
Try a brute force error catching approach

[2017-06-12 19:42] dcwhite commented on #881
Will pair-debug with @jessdtate later this year.

[2017-06-12 19:43] dcwhite commented on #884
@jessdtate will probe @cbrightsci's memory once again.

[2017-06-12 19:46] dcwhite commented on #885
Need to investigate why `Ctrl-C` isn't working on the command line.

[2017-06-12 19:48] dcwhite commented on #886
@jessdtate will talk with @jcollfont

[2017-06-12 19:57] dcwhite commented on #888
See #1209.

[2017-06-12 20:04] dcwhite commented on #897
Will revisit after IBBM.

[2017-06-12 22:07] dcwhite commented on #1626
@ajanson We can keep this one open for the more general case, as well as better widget support.

[2017-06-12 22:07] #1627 closed

[2017-06-13 19:15] ajanson opened #1642 "Interactive Execution with GetSliceFromStructuredFieldByIndices"
### Description

Parsing through an image stack with GetSliceFromStructuredFieldByIndices and a showfield is a little tedious right now as I need to right click->execute in the module UI every time I move the slider. I would like the option to have this module execute interactively on release of the mouse when I move the slider around.

[2017-06-14 18:59] ajanson commented on #1626
My first comment was not general enough. It should have stated any surface or and even more general is any mesh. I will mention @dcwhite implementation for #1627 allows for this to work on an arbitrary mesh (surface or volume).

[2017-06-15 21:53] dcwhite commented on #632
http://www.qtcentre.org/threads/2221-Sending-email-using-Qt

[2017-06-15 22:02] dcwhite commented on #632
Rather than try to send email with the SCIRun program, it's one line of Qt code to pop open the user's email client (using a `mailto` link). Thus it would be very easy to implement a voluntary message-back-to-us system. It could appear only the first time the user runs the program.

[2017-06-15 22:20] jessdtate commented on #632
I'll bring it back to the exec and see what they think.

[2017-06-16 17:45] #1642 closed

[2017-06-19 19:40] dcwhite opened #1646 "Module conversion: WriteBundle"
From #1187.

[2017-06-19 19:40] dcwhite commented on #1187
Remaining stuff in separate issues.

[2017-06-19 19:40] #1187 closed

[2017-06-19 19:42] dcwhite commented on #1184
Biggest part left:
[code]

[2017-06-19 19:48] dcwhite commented on #1182
2018

[2017-06-19 19:51] dcwhite commented on #1177
@aylakhan Need google docs download count sheet link

[2017-06-19 19:51] aylakhan commented on #1177
Link to googledocs sheet: https://docs.google.com/spreadsheets/d/1b_U-6v0PCspF1jPUhjuR15M7MM2LYnkaJaoYHSWlf9E/edit?usp=sharing

[2017-06-19 20:13] aylakhan commented on #1177
And here are the scripts. The script release-data.py is the original, which was implemented by Liz's student. The others have the project-specific repo URLs.
[release_scripts.zip](https://github.com/SCIInstitute/SCIRun/files/1086212/release_scripts.zip)

[2017-06-20 22:06] ajanson opened #1647 "Lock ViewScene Rotation, Zoom, Pan controls"
### Description

I would like to be able to turn off the ability to rotate, zoom, pan, etc. in the ViewScene window (each of these cases individually or any combination thereof).

For my use case if I get the ViewScene in a certain orientation I want to disallow rotation of the window and only allow zooming and panning. Right now it is very easy to left click and drag the mouse to accidentally rot

[2017-06-20 22:25] dcwhite commented on #1647
I'll make a valiant effort to get this one in before the breakfast tomorrow.

[2017-06-21 15:57] dcwhite opened #1648 "Fix size of network editor space"
This might help with zooming and new module placement. Try out four vertical pages of iMac screen space.

[2017-06-21 15:58] dcwhite commented on #1639
https://stackoverflow.com/questions/29568038/qt-window-that-stays-on-top-of-the-application-but-not-other-windows

[2017-06-22 15:52] gduffley opened #1650 "Preferences window can't be closed on Linux"
There is no way to close the window.

I'm running Suse13.2.

[2017-06-22 16:02] gduffley opened #1651 "GetMatrixSlice resetting index every time the network executes"
Disclaimer: I'm using Linux (Suse13.2)

This makes it impossible to execute the network at any value besides 0. It is the case if you use play or specify the slice to a specific value.

This is a problem because Heart_visualization.srn5 for IBBM uses this module

[2017-06-22 16:03] dcwhite commented on #1650
I'll see if I can replicate on my home Ubuntu box. What version are you on now?

[2017-06-22 16:07] gduffley commented on #1650
I built the branch you wanted us to use yesterday.

[2017-06-22 16:26] jessdtate commented on #1651
Are you sure that you are using the first instance of the module, not the downstream one, ie, the one controlling the other?

[2017-06-22 16:37] gduffley commented on #1651
Yeah, I'm dumb

[2017-06-22 16:37] #1651 closed

[2017-06-22 17:33] dcwhite opened #1652 "Subnets, part 4"
Continuation of #1639.

Old tasks:
- [ ] serialization--needs testing
- [ ] network editor creation button: check if selection is fully path-connected
- [ ] UI button behavior--how about connection picker?
- [ ] other module interactions: delete, duplicate, etc
- [ ] File menu
- [ ] Python integration subnets
- [ ] crashes still with the right click connect module option
- [ ] viewscene has initia

[2017-06-22 17:35] dcwhite commented on #1652
https://stackoverflow.com/questions/29568038/qt-window-that-stays-on-top-of-the-application-but-not-other-windows

[2017-06-22 17:46] dcwhite opened #1653 "IBBM fixes and suggestions"
- [x] Hide tooltip for clipboard items (truncate or show some other info--need to store xml some other way)
- [x] add note to `i` pop-up that it is a static snapshot, not live, can be used to compare between runs
- [x] ViewScene toolbar has trouble with expansion button, consider shortening
- [x] add ability to distribute network building "checkpoints" in the form of fragments/subnets/provenance l

[2017-06-23 16:14] neuroradiology opened #1655 "unable to compile beta-J on Antergos linux"
### Prerequisites

* [x] Are you running the [latest version of SCIRun](https://github.com/SCIInstitute/SCIRun/releases)?
* [x] Are you reporting to the [correct repository](https://github.com/SCIInstitute/SCIRun)?
* [x] Did you [perform a cursory search](https://github.com/SCIInstitute/SCIRun/issues) to see if your bug or enhancement is already reported?

### Description

When compiling on linux

[2017-06-23 16:45] dcwhite commented on #1655
This is a known issue on very recent Linux releases. Fix will come today.

[2017-06-23 17:39] gduffley opened #1656 "Using python to add modules isn't working"
If you use python to add a module, whether from the python console, calling a python script at launch with -s, or calling a script from the GUI, the module exists in memory and can be interacted with via other python code, but it doesn't show up in the GUI. If you then try to execute the network, you get a seg fault. If you use python to load a network, and then change module states, the network l

[2017-06-23 17:44] jessdtate commented on #1656
I see the same thing.  Here is my crash report:

Process:               SCIRun_test [26463]
Path:                  /Users/USER/*/SCIRun_test
Identifier:            SCIRun_test
Version:               0
Code Type:             X86-64 (Native)
Parent Process:        bash [658]
Responsible:           SCIRun_test [26463]
User ID:               501

Date/Time:             2017-06-23 11:43:23.845 -0600
OS

[2017-06-23 17:46] #1639 closed

[2017-06-23 17:46] #1647 closed

[2017-06-24 02:00] dcwhite commented on #1656
This bug affects all pathways for adding a module. Here is a list, am I missing any?
- [ ] Double-click in selector
- [ ] Drag from selector
- [ ] loading a file
- [ ] Replacing a module
- [ ] Adding a new module/connection through a port
- [ ] Adding a new module with Insert module
- [ ] `scirun_add_module` from the python console
- [ ] `scirun_add_module` in a script, run from wand button
- [ ]

[2017-06-24 18:01] #1452 closed

[2017-06-25 21:12] jessdtate opened #1657 "clipping plane connection to UI bug"
### Description

Clipping plane 1 will become plane 6 if a second clipping plane is created.  It will disconnect form plane 1, with the appearance of being unable to modify or delete it.  The Plane can be controlled as clipping plane 6.  If another plane is created first (2, 3, etc)  there are no problems.

### Steps to Reproduce

1. create visualization with latvol snippet
2. create a clipping pl

[2017-06-25 21:32] dcwhite commented on #1657
Essential for IBBM?

[2017-06-25 21:50] jessdtate commented on #1657
not necessarily. Crashes are more important.  The IBBM students will probably run into it though.

[2017-06-26 15:49] gduffley commented on #1656
Those are more ways than I was even aware of. One comment I have is I don’t actually think this bug is that important. How I envision (and currently use) python with SCIRun is to prototype a network in the GUI, then use python to make changes to variables. Although it is cool, I actually don’t know how important it is to be able to add modules to a network, as long as they can be rewired and state

[2017-06-26 16:16] dcwhite commented on #1656
I fixed almost all the cases, replace is being fixed today. PR coming soon

[2017-06-26 16:52] jessdtate opened #1658 "new folder crashing in OS x"
### Description

When pressing the new folder button in the file navigator dialog, SCIRun will crash.  This is true for read/writefield/matrix/bundle and load/save network.

### Steps to Reproduce

1. choose save network
2. click new folder

**Expected behavior:**

should create a new folder in the path specified

**Actual behavior:**

SCIRun Crashes

### Versions

Os x 10.12
scirun v5.0-beta.J-12

[2017-06-26 17:52] dcwhite commented on #1658
Can't replicate. Can you try some other machines?

[2017-06-26 19:37] dcwhite commented on #1276
Defunct

[2017-06-26 19:37] #1276 closed

[2017-06-26 21:14] dcwhite commented on #632
Any decision on this one? Useful for IBBM?

[2017-06-27 04:03] dcwhite commented on #1658
And how about a stack trace?

[2017-06-27 04:03] #1656 closed

[2017-06-27 04:03] #1657 closed

[2017-06-28 02:32] #1655 closed

[2017-06-28 05:13] dcwhite commented on #1652
Pushing to after IBBM. 😞

[2017-06-29 04:57] jessdtate commented on #632
not for IBBM

[2017-06-29 19:06] dcwhite opened #1662 "Update links for toolkits"
If I figure out why Windows can't download the github links, we can use those; otherwise, we need to upload the latest releases to a fixed location.

[2017-06-29 19:08] dcwhite commented on #1648
Use the function for screen geometry, and default to 2x width and 4x height. Then add an advanced option to increase this.

[2017-06-29 21:56] jessdtate opened #1663 "signed packages"
productbuild should make it easy to created signatures for os x pacakges.  This will allow release on the apple store and such.  Ed should have a certificate to use.

[2017-06-30 19:24] dcwhite commented on #1625
@jessdtate For this one, I can add a maximum number of docked module UIs, and then collapse the least recently used ones. What number should this be? I'm thinking 3-5, and maybe I can take the size of the UI into account.

[2017-06-30 19:30] jessdtate commented on #1625
That is probably ok.  It also depends on the size of the UI. Showfield has a long ui and ReadField has a short one.

[2017-06-30 19:50] dcwhite opened #1664 "Test every module UI and network on latest OSes and highest resolutions for readability"
Hoping the IBBM team can help with this one.

[2017-06-30 19:52] gduffley commented on #1664
I need the builds to work on 10.10 to test this.

[2017-06-30 19:56] dcwhite commented on #1664
That is the plan; we'll have testable builds Monday.

[2017-07-03 17:30] dcwhite commented on #1625
I have a version of this, but I'll disable for IBBM. It needs a lot of thorough testing.

[2017-07-03 23:00] #1653 closed

[2017-07-03 23:00] #565 closed

[2017-07-05 22:10] dcwhite commented on #1650
I couldn't replicate on Ubuntu. Can you take a screenshot of the window on your machine?

[2017-07-05 22:21] gduffley commented on #1650
![screenshot - 07052017 - 04 15 18 pm](https://user-images.githubusercontent.com/5941547/27887439-06fd1576-619e-11e7-9f69-d1b1e3d24b22.png)

[2017-07-05 22:27] dcwhite commented on #1650
Bizarre. Do any other subwindows have this problem?

[2017-07-05 22:33] gduffley commented on #1650
I don't know of any. All that I looked at have the same GUI as the python console in this screenshot
![screenshot - 07052017 - 04 31 45 pm](https://user-images.githubusercontent.com/5941547/27887767-b0d4679c-619f-11e7-8ebd-6b1d7be43cbe.png)

[2017-07-05 22:45] dcwhite commented on #1650
Does `Esc` close it?

[2017-07-06 16:25] #1662 closed

[2017-07-06 16:25] #1664 closed

[2017-07-10 15:36] dcwhite commented on #1154
The toolkit menu and `.toolkit` file sort of help with this, since you can load a fresh copy of a network from the menu.

[2017-07-10 15:39] dcwhite commented on #1129
@ajanson Is this still an issue on Win7 or 10?

[2017-07-10 15:40] dcwhite commented on #1126
Defunct, we're not supporting 10.8 anymore.

[2017-07-10 15:40] #1126 closed

[2017-07-10 15:45] dcwhite commented on #1078
I'm pretty sure this one is fixed.

[2017-07-10 15:45] #1078 closed

[2017-07-10 15:45] dcwhite commented on #1074
Duplicate

[2017-07-10 15:45] #1074 closed

[2017-07-10 15:47] dcwhite commented on #1043
Duplicate

[2017-07-10 15:47] #1043 closed

[2017-07-10 16:20] dcwhite commented on #963
@ajanson sees this occasionally too. It's hard to reproduce. If someone gets consistent replication steps, I can fix it.

[2017-07-10 16:22] dcwhite commented on #961
This works now with OSX 10.12, even though we're still using Qt 4. Do we need special support for 10.10?

[2017-07-10 16:48] ajanson commented on #1129
Just tested this on Windows 7 and it crashed.

[2017-07-10 18:00] dcwhite commented on #915
These have been changed to pop up separate chooser widgets; no more nested QGraphicsScene menus.

[2017-07-10 18:00] #915 closed

[2017-07-10 18:13] dcwhite commented on #1526
I saw this again last week on a 10.12 desktop. We'll need to get the various screen/view hotkeys working properly, and documented.

[2017-07-10 18:17] dcwhite commented on #1485
Can't do anything with this one.

[2017-07-10 18:17] #1485 closed

[2017-07-10 18:19] dcwhite commented on #1482
Might be related to #1650. I'll change the underlying widget type.

[2017-07-10 20:48] dcwhite commented on #1391
Duplicate

[2017-07-10 20:48] #1391 closed

[2017-07-10 20:49] dcwhite commented on #1386
We seem to have a stable, if unwieldy, solution for this.

[2017-07-10 20:49] #1386 closed

[2017-07-11 19:31] dcwhite commented on #887
Investigate this instead: http://www.pyqtgraph.org/

[2017-07-13 01:31] dcwhite opened #1667 "Add high-dpi adjustment option to preferences and lower threshold for auto-enabling"

[2017-07-13 18:47] gduffley opened #1668 "Update Python version in SCIRun"
May fix error associated with

/home/sci/gduffley/Development/SCIRun/bin/Externals/Install/Python_external/lib64/python3.4/lib-dynload/_ctypes.cpython-34m.so: undefined symbol: _PyTraceback_Add

and

Error while finding spec for ‘pip.__main__’ (<class ‘ImportError’>: /home/sci/gduffley/Development/SCIRun/bin/Externals/Install/Python_external/lib64/python3.4/lib-dynload/pyexpat.cpython-34m.so: unde

[2017-07-13 19:43] dcwhite commented on #722
Collapse CPM into externals

[2017-07-13 19:45] dcwhite commented on #624
Tied to #722.

[2017-07-13 19:45] dcwhite commented on #783
Tied to #722.

[2017-07-13 20:40] dcwhite opened #1669 "Copying python comments into console doesn't work well"

[2017-07-13 20:46] dcwhite opened #1670 "ShowField field naming bugs"
Spaces/underscores aren't parsed; duplicate names overwrite each other in the ViewScene object chooser.

[2017-07-13 20:46] zaracay opened #1671 "Generate *.py script from network"
Feature Request:

Simplify the python network building process by enabling the user to generate a python script after building a SCIRun network through the GUI interface.

[2017-07-14 22:53] #1667 closed

[2017-07-14 22:53] #1670 closed

[2017-07-15 20:43] dcwhite commented on #1658
Seems to be 10.12 only.

[2017-07-17 15:48] jessdtate opened #1673 "save scirun preferences when saving network or from the preferences window."
### Description

Feature request. The preferences need to be save more frequently than just when scirun is shut down. It would be nice if the general preferences save (or check if needs to be saved) when the network is saved.  Another option would be to save when the preference window is closed or have a save preferences button in the preferences window.  This will allow the preference to save eve

[2017-07-18 12:52] kgillette opened #1674 "ShowField: Enable Transparency affects ViewScene Rendering"
I am running the most recent git pull of SCIRun 5 (updated 18.07.2017) and the version on my GUI is v5.0-betaN. I am operating on CentOs 7.3.1611 OS.

The network that crashed is a generic rendering of different tissues in a torso segmentation.

![torso_view](https://user-images.githubusercontent.com/12956701/28317245-69b73c5a-6bc6-11e7-965f-34a54a76b03c.png)

When I load and run the network, the

[2017-07-19 17:18] dcwhite commented on #1674
Can you upload network and data? And is there an actual crash, or are objects just not appearing when they should be?

[2017-07-20 17:20] dcwhite opened #1675 "IBBM 2017 ideas"
- [ ] Make network editor space dynamic sized, with helper widgets to resize
- [ ] Add more note font default settings
- [ ] Move mouse mode toggle buttons out of advanced toolbar (advanced should have everything IBBM users *don't* need)
- [x] Misleading current file name when loading a toolkit network on top of a saved file
- [x] If CreateMatrix checkbox checked, warn when executing
- [x] CreateM

[2017-07-20 17:48] jessdtate commented on #1675
For the creatematrix.  Maybe closing the ui can auotomatically uncheck the matrix?

[2017-07-20 17:51] jessdtate commented on #1675
Another possible feature is to have a preference setting for the scroll and movement speed

[2017-07-20 17:54] jessdtate commented on #1675
bug fix: info box (from the i key) doesn't close with the window x button, even when it is there.

[2017-07-20 18:10] dcwhite commented on #1675
Thanks for these

[2017-07-24 15:24] #271 closed

[2017-07-25 20:33] kgillette commented on #1674
My computer is currently being moved so I don't have access to the data or the files. I will be sure to upload them as soon as I am up and running again. There is no actual crash of SCIRun or with the ViewScene module, but the rendering is behaving improperly.

[2017-07-26 19:35] dcwhite opened #1677 "New module: InterfaceWithOSPRay"
Suggested by Chris and @zaracay.

Relevant links:
https://github.com/ospray/ospray
https://github.com/ospray/ospray#prerequisites
http://www.ospray.org/documentation.html
http://www.sdvis.org/ospray/download/OSPRay_readme.pdf
https://github.com/ospray/ospray/blob/master/ospray/include/ospray/ospray.h

[2017-08-04 21:17] #1616 closed

[2017-08-05 03:51] #624 closed

[2017-08-05 03:51] #722 closed

[2017-08-05 03:51] #783 closed

[2017-08-08 20:02] dcwhite opened #1680 "IBBM 2017 ideas part 2"
Continued from #1675

- [x] Make network editor space dynamic sized, with helper widgets to resize
- [ ] Add more note font default settings
- [x] Move mouse mode toggle buttons out of advanced toolbar (advanced should have everything IBBM users *don't* need)
- [x] Rethink module dock widget space for laptops. It's just too cramped right now.
- [ ] Add preference for scroll and movement speed, mak

[2017-08-09 16:35] #1675 closed

[2017-08-11 19:47] jessdtate opened #1683 "module porting reshape matrix"
### Description

there has been some recent request for this module in SR5, which is in SR4 but not working properly.  It should behave more like the reshape() function in matlab, ie, all the elements of the original matrix should be included in the final reshaped matrix if the size allows.  Padding with zeros or truncating is acceptable with a warning if the number of elements do not match the ou

[2017-08-11 19:55] jessdtate opened #1684 "New module idea CreateStandardMatrix"
This is an idea for a new module similar to CreateMatrix.  It would be nice to be able to make some of the standard matrices of any size, ie, a matrix of size nxm of ones, zeros, nans, or an identity matrix.  This could be made to make a 100x100 matrix of ones more easily than using CreateMatrix

Refer to the module Module Generation Document (https://github.com/SCIInstitute/SCIRun/tree/master/src

[2017-08-28 19:44] dcwhite commented on #1677
@jessdtate will follow up on requirements.

[2017-08-28 20:25] a1209910 opened #1686 "Colormap request"
This might be 3 or 2 different requests.

x) allowing multiple transfer functions. I.e. assign one data vector to red, one to green, one to blue, and most important have a different data vector to decide opacity.

x) using automatic 'histogram equalization' to create colormaps that fit to the data values shown.

x) being able to interactively adapt color map. (Compare Paraviews version). Essential

[2017-08-29 17:01] dcwhite opened #1687 "repair_package is broken"
There's no "plist" file being generated--need this for a build for @buuuurak.

[2017-08-29 21:53] dcwhite commented on #1687
User error for me--BUILD_BUNDLE was turned off. But @jessdtate saw a different error--can you update this issue Jess?

[2017-08-29 21:54] dcwhite commented on #679
This is indeed fixed on the `qt5` branch. Should close when #513 closes.

[2017-08-29 22:18] jessdtate commented on #1687
when building the SCIRun.app, I get the following errors:

ERROR: no file at "/Library/Frameworks/QtOpenGL.framework/Versions/4/QtOpenGL.framework/Versions/4/QtOpenGL"
ERROR: no file at "/Library/Frameworks/QtGui.framework/Versions/4/QtGui.framework/Versions/4/QtGui"
ERROR: no file at "/Library/Frameworks/QtNetwork.framework/Versions/4/QtNetwork.framework/Versions/4/QtNetwork"
ERROR: no file at "/

[2017-08-30 21:02] dcwhite commented on #1687
Can you attach the entire build log? I don't see `@loader_path` used anywhere in the cmake.

[2017-09-01 15:50] dcwhite commented on #1673
Done. Settings are saved when the network file is saved, when executed (execute all button), and on closing the prefs window.

[2017-09-01 16:12] dcwhite commented on #1680
For module dock space, I made a simple change: by default, the first time showing the module UI it will be undocked (floating). This will avoid the main-window-growth problem if multiple UIs are opened.

[2017-09-01 21:25] dcwhite opened #1688 "Upgrade boost and python externals to the latest versions"
- [x] Boost: 1.67
- [x] Python: 3.6.5

[2017-09-06 21:09] jessdtate opened #1689 "complex number support in Calculation"
### Description

To improve complex number utility, CalculateFieldData should support complex number operations.  There should be functions calculating the amplitude, phase, real, and imaginary parts.  The standard operations should handle complex numbers.

[2017-09-07 21:42] #934 closed

[2017-09-07 21:42] #956 closed

[2017-09-07 21:42] #1025 closed

[2017-09-07 21:42] #1106 closed

[2017-09-07 21:42] #1171 closed

[2017-09-07 21:42] #1346 closed

[2017-09-07 22:27] moritzdannhauer opened #1691 "profile_mesh_lookup_table_generation"
### Prerequisites

* [x] Are you running the [latest version of SCIRun](https://github.com/SCIInstitute/SCIRun/releases)?
* [x] Are you reporting to the [correct repository](https://github.com/SCIInstitute/SCIRun)?
* [x] Did you [perform a cursory search](https://github.com/SCIInstitute/SCIRun/issues) to see if your bug or enhancement is already reported?

### Description

Feature: I spend a lot o

[2017-09-08 16:19] dcwhite commented on #513
https://stackoverflow.com/questions/31323749/easiest-way-for-offscreen-rendering-with-qopenglwidget

[2017-09-11 20:11] dcwhite commented on #1686
We can get to part of this feature set this year. Let's have a meeting soon.

[2017-09-11 20:14] dcwhite commented on #1626
@ajanson Do you need this one in 2017?

[2017-09-11 20:14] dcwhite commented on #1590
@moritzdannhauer Update?

[2017-09-11 20:15] dcwhite commented on #1589
@moritzdannhauer Update?

[2017-09-11 20:17] dcwhite commented on #1573
10.8 support will be dropped soon, qt 5 will eliminate this anyway, so let's close.

[2017-09-11 20:17] #1573 closed

[2017-09-11 20:25] dcwhite commented on #1537
Once PyQtGraph is in, we should close this.

[2017-09-11 20:31] dcwhite commented on #1526
Copy hotkeys from a common app.

[2017-09-11 20:53] moritzdannhauer commented on #1590
I will take over for Kimia, she is busy with other stuff for now.

[2017-09-11 20:54] moritzdannhauer commented on #1589
I will take over for Kimia, she is busy with other stuff for now.

[2017-09-11 21:11] jessdtate opened #1692 "matlab format cannot be read in python"
### Description

the matlab files saved out of SCIRun cannot be read by  python using the scipy.io.loadmat function.  The files load into Matlab fine, and once saved from matlab will open in python.

### Steps to Reproduce

1. save a matrix or a field in matlab format
2. in python, run
`import scipy.io
scipy.io.loadmat('matlab file')`
3.  in matlab load file and save it.
try same python code as ab

[2017-09-11 21:13] jessdtate commented on #1692
here are some test files:
from scirun
[test_Matrix.mat.zip](https://github.com/SCIInstitute/SCIRun/files/1294079/test_Matrix.mat.zip)
from matlab
[test_Matrix_matlab.mat.zip](https://github.com/SCIInstitute/SCIRun/files/1294081/test_Matrix_matlab.mat.zip)

[2017-09-11 21:18] jessdtate opened #1693 "new trigger for start scirun"
We could use a trigger event for the start of scirun.  One key application would be to set the python path variable at the beginning of each session automatically.

[2017-09-11 21:19] jessdtate commented on #1693
Would it be easier to just have the python path as a preference than to add a new trigger?  it would probably be easier for the user.

[2017-09-11 21:30] dcwhite commented on #1693
It's similar amount of work so I'll just add both.

[2017-09-13 20:44] dcwhite commented on #1693
Actually, the user will want to edit the python path carefully, so I'll just implement the triggered script method. Editing the path list in a basic Qt widget will be more error-prone.

[2017-09-13 22:59] dcwhite commented on #1687
@jessdtate Any further problems with this?

[2017-09-14 18:35] dcwhite commented on #1394
@gduffley Any updates on this one?

[2017-09-15 15:47] #1677 closed

[2017-09-15 17:23] jessdtate opened #1695 "ospray improvement ideas"
- [x]  camera orientation based on center of scene
- [ ] text line for additional parameters like InterfaceWithTetgen (or a string input)
- [x] increase max number of frames
- [x] expose lighting options
- [x] enable streamline visualization
- [x] allow for multiple instances of module (currently crashing)
- [x] user set location and filename of saved images

[2017-09-15 17:27] dcwhite commented on #1695
All good. One question: "increase number of frames"--do you mean the default value in the UI, or something else?

Also, I was thinking of
- [ ] Camera position as matrix input from ViewScene (which will need a new matrix output)
- [ ] Dynamic port for multiple trisurf inputs
- [ ] Dynamic port for multiple colormaps
- [ ] Separate dynamic port for streamlines--not sure what format it will be yet

[2017-09-15 17:33] jessdtate commented on #1695
For the frames, mostly the max number in the ui.  I still get grainy images with the max value.  I updated the list

[2017-09-15 17:33] jessdtate commented on #1695
Those suggestions are good.  I was focusing on mostly easy things (hopefully)

[2017-09-15 17:49] dcwhite commented on #1695
And of course:
- [ ] Improve (nonexistent) documentation

[2017-09-15 18:26] moritzdannhauer commented on #1695
Some more ...
- Interactive mode: each time you click on a control widget (changing camera location and direction) or some mouse command it runs the renderer and plots the result - like in ViewScene (and with a direct pipeline to the renderer without loading from disc) ... is that feasible?
- maybe there is trick that I do not know about but the rendering of potential distributions has not been ve

[2017-09-16 22:56] #911 closed

[2017-09-16 22:56] #1613 closed

[2017-09-16 22:56] #1673 closed

[2017-09-16 22:56] #1680 closed

[2017-09-16 22:56] #1693 closed

[2017-09-18 19:40] dcwhite commented on #250
Start with a text-based API description in a GUI window. Add known limitations.

[2017-09-18 19:43] dcwhite commented on #278
This is working well enough.

[2017-09-18 19:43] #278 closed

[2017-09-18 19:49] dcwhite commented on #360
Still interesting idea. @jessdtate will try to work on some use cases.

[2017-09-18 19:52] dcwhite commented on #468
Let me test this more precisely.

[2017-09-18 19:55] dcwhite commented on #486
@jonbronson @jessdtate Here is one of the SCIRun/Cleaver issues we can discuss this week.

[2017-09-18 19:56] dcwhite commented on #1407
@jonbronson @jessdtate Here's another one.

[2017-09-18 20:04] dcwhite commented on #632
Exec did not approve.

[2017-09-18 20:04] #632 closed

[2017-09-20 21:29] dcwhite opened #1697 "Execution error items placement needs fixing"
They appear way too far away, and stretch out the network editor.

[2017-09-21 22:01] jessdtate opened #1699 "complex number support, norm squared"
### Description

The norm of the complex matrix and a field with complex data seems to be the squared norm.  This is not as obvious with the reportcomplexmatrixinfo because it doesn't show the norm, but the values of the min and max.

### Steps to Reproduce

1. create a field with createlatvol
2. create complex matrix of a single value with magnitude other than one, ie, (1,1)
3. use reportfieldinf

[2017-09-21 22:07] jessdtate opened #1700 "complex number support, add magnitude and phase to ConvertComplexToRealMatrix"
### Description

We need some functionality to extract the norm and the phase from a complex matrix or field data.  It could fit nicely with ConvertComplexMatrixToRealMatrix.  One idea is to include four ports, but only allocate the memory if the output port is connected.  Another Idea is to have a toggle between the two modes, ie, real/im and mag/phase.

[2017-09-26 15:25] gduffley commented on #1394
@dcwhite It still crashes and it doesn't output a matrix. This is not a module I use for research, but they ability to use volume data and output a matrix seems like obvious features the module should be able to handle

[2017-09-27 20:20] danielcwhite commented on #1699
Oops, std::norm returns the squared norm:
http://en.cppreference.com/w/cpp/numeric/complex/norm

[2017-09-29 20:46] dcwhite commented on #888
This is done, but has some potential numerical issues. We can close this after I add a checkbox to enable/disable multithreading.

[2017-10-02 08:58] pip010 commented on #968
Just curious, any chance of supporting depth-pealing and avoid sorting all together?

[2017-10-02 13:27] pip010 opened #1702 "ViewScene memory leak"
Please follow these instructions for your issue to be worked on:

### Prerequisites

run latest scirun5 from github

### Description

Rendering seems to cause memory leaks. Opening and then Closing the main render window of the ViewScene window with moderate/big triangular surface/volume lead ultimately to running out of RAM.

### Steps to Reproduce

1. Open some moderate to big data set of volume

[2017-10-02 16:25] dcwhite commented on #1702
This is kind of a duplicate but it has a better description than previous versions of this problem. I'll take a look.

[2017-10-02 16:28] dcwhite commented on #968
We don't have anyone working on deep graphics problems in SCIRun right now, so the answer is "unknown at this time."

[2017-10-02 19:44] dcwhite commented on #654
Testing issues will be grouped together better and we will have a big discussion on resource allocation.

[2017-10-02 19:46] dcwhite commented on #654
When @allywarner is full-time Seg3d, we can get all the CIBC machines running builds and tests again for both SCIRun and Seg3d, so let's revisit this then.

[2017-10-02 19:48] dcwhite commented on #816
@jessdtate will add some example networks for testing and improvements.

[2017-10-02 19:55] dcwhite commented on #825
This can be tested with python now!

[2017-10-02 20:01] dcwhite commented on #697
I'll split off an issue for `Auto-rotate controls` and try to work on it.

[2017-10-02 20:09] jessdtate commented on #1702
IBBM network: /usr/sci/projects/cibc/IBBM/2017/Scientific_Visualization/nets/Heart_visualization.srn5 should be a good example to test this out.

[2017-10-03 08:14] pip010 commented on #1702
I tried profiling with valgrind, but it kills the app just after dragging the ViewScene module on the workspace. :/

[2017-10-04 17:23] dcwhite commented on #1687
Still need that build log...

[2017-10-05 18:46] #1699 closed

[2017-10-05 18:46] #1700 closed

[2017-10-05 18:46] #1315 closed

[2017-10-05 18:46] #1462 closed

[2017-10-05 18:46] #1697 closed

[2017-10-05 19:17] dcwhite commented on #1695
I'll split off a "Part 2" for this one. Right now I have a separate port for streamline meshes, but the ospray code is very similar so I can probably lump those two dynamic ports into one. Thoughts?

[2017-10-05 19:24] dcwhite opened #1703 "ospray improvement ideas, part 2"
Follows #1695.

- [ ] text line for additional parameters like InterfaceWithTetgen (or a string input): please request specific parameters from the list at http://www.ospray.org/documentation.html
- [ ] Camera position as matrix input from ViewScene (which will need a new matrix output)
- [ ] Improve (nonexistent) documentation
- [ ] Include working Ospray in package build
- [ ] interactive mode
-

[2017-10-05 22:41] jessdtate commented on #1703
The text line parameters may not be practical if we have to expose each option.  The idea would be that it would handle things we didn't hook into with the GUI.

[2017-10-06 16:52] dcwhite commented on #1407
I'll make a new module for InterfaceWithCleaver2

[2017-10-06 17:05] dcwhite commented on #1691
Let's talk about this at the next dev meeting (10/20)

[2017-10-06 17:28] dcwhite commented on #887
@jessdtate will attempt to get it working with PySide

[2017-10-06 17:33] dcwhite opened #1705 "ViewScene: Auto-rotate controls"
See v4 for details.

[2017-10-06 18:57] dcwhite opened #1706 "Minor fixes"
- [x] oport_connected check in port caching needs enabling
- [x] find in network needs checking (machine dependent?)
- [x] all UIs open on top of each other now--need to stagger them

[2017-10-06 18:58] dcwhite opened #1707 "Replace log4cpp with spdlog"
https://github.com/gabime/spdlog

[2017-10-06 19:03] dcwhite opened #1708 "Use spdlog to add verbose log messages to Renderer core"
To help with two big problems:
- [ ] memory leaks (#1702)
- [ ] red viewscene (#881)

Requires #1707.

[2017-10-06 19:09] dcwhite opened #1709 "Badges"
SCIRun needs more stinking badges.

https://en.wikipedia.org/wiki/Stinking_badges

Related to this is getting several other CI services running:
- [ ] Appveyor
- [ ] Coverage
- [ ] Doc

Helpful links:
https://shields.io/
https://github.com/dwyl/repo-badges
https://github.com/boennemann/badges
https://forthebadge.com/
https://hits.dwyl.com/
https://github.com/codecov/example-cpp11-cmake
https://git

[2017-10-06 19:10] dcwhite opened #1710 "Hook up Boost.Stacktrace"
Requires Boost upgrade.

Info:
http://www.boost.org/doc/libs/1_65_1/doc/html/stacktrace/getting_started.html#stacktrace.getting_started.how_to_print_current_call_stack

[2017-10-06 20:59] jessdtate commented on #1687
Here are the logs.  for the total build:
[error.txt](https://github.com/SCIInstitute/SCIRun/files/1363896/error.txt)
[results.txt](https://github.com/SCIInstitute/SCIRun/files/1363895/results.txt)
and for just SCIRun (minus the externals)
[error.txt](https://github.com/SCIInstitute/SCIRun/files/1363898/error.txt)
[results.txt](https://github.com/SCIInstitute/SCIRun/files/1363899/results.txt)

[2017-10-06 21:10] dcwhite commented on #1687
Which OSX and Qt are you using?

[2017-10-06 21:21] jessdtate commented on #1687
This is on os x 10.10 and qt 4.8.5.

[2017-10-07 23:33] dcwhite commented on #1692
Related discussion:
https://github.com/scipy/scipy/issues/3288

[2017-10-07 23:33] dcwhite commented on #1692
What scipy version are you using?

[2017-10-08 03:05] dcwhite commented on #1692
I found the problem in SCIRun, strings are written out with type miUINT8, and they ought to be in miINT8. Any reason you can think of for this discrepancy? We'll need to test all the matlab outputters to see if this change works in general.

[2017-10-08 04:58] jessdtate commented on #1692
I don’t think there is a reason for it. There shouldn’t be any problem with fixing it.

[2017-10-09 19:27] #481 closed

[2017-10-09 20:03] dcwhite commented on #1511
Lump this in with verbose-mode testing for memory leak and red VS issues.

[2017-10-09 20:48] dcwhite opened #1711 "Investigate 2-D data visualization with Qt/D3"
Info coming soon...

[2017-10-09 21:02] dcwhite commented on #1295
I'll focus on getting ensurepip working after upgrading to 3.6 (see #1668).

[2017-10-09 21:05] #765 closed

[2017-10-09 21:48] dcwhite commented on #1625
The `DockManager` does not behave very well with the now-floating set of widgets, so this will require more thought. Pushing to T.

[2017-10-10 22:14] #1695 closed

[2017-10-10 22:22] dcwhite commented on #1284
Decided this would be too much work to be useful, since it's basically part of a Python IDE.

[2017-10-10 22:22] #1284 closed

[2017-10-11 21:00] #888 closed

[2017-10-12 02:21] #1347 closed

[2017-10-12 20:13] dcwhite commented on #1683
@collint8 @jessdtate Are you guys going to work on this one this month?

[2017-10-12 20:13] dcwhite commented on #1684
@collint8 @jessdtate Are you guys going to work on this one this month?

[2017-10-12 20:14] dcwhite commented on #715
@jessdtate Is this related to the scipy read problem?

[2017-10-12 20:15] dcwhite commented on #1648
@ajanson @jessdtate Can you guys test network editor space in `beta.Q`? Some changes were made that might obviate this one.

[2017-10-12 20:50] jessdtate commented on #715
I haven't seen any other problems with the matlab matrix files

[2017-10-13 20:40] dcwhite commented on #1687
I built an installer with no problems on my 10.10 machine. I suggest you start your build over from scratch.

[2017-10-13 20:47] jessdtate commented on #1703
The cmake flags should be more exposed, ie, on the bin level, without having to toggle advanced.  It would make it a little easier to see.

[2017-10-13 20:50] dcwhite commented on #1703
I'll move all the Ospray+dependent libraries to the Superbuild level

[2017-10-16 16:34] dcwhite opened #1714 "Investigate PyBind as a Boost.Python replacement"
The less we have to compile from Boost, the better. PyBind is header-only.

http://pybind11.readthedocs.io/en/stable/intro.html

[2017-10-16 20:42] dcwhite commented on #833
Can be tested with Python.

[2017-10-16 20:45] dcwhite commented on #833
I'll move to 2018 milestone.

[2017-10-16 20:55] dcwhite commented on #1219
A good lunch hack-a-thon! @jessdtate will organize.

[2017-10-16 21:01] dcwhite commented on #897
Investigate if easier with PyBind.

[2017-10-17 12:01] kgillette opened #1715 "ViewScene Crash when Connecting ShowField Pipeline"
### Prerequisites

Did a SCIRun update and build on Friday 13, Oct, 2017.

### Description

ViewScene causes SCIRun to crash when attempting to connect the pipeline from a ShowField that has already been executed. It does not appear to have an issue if the entire network has not yet been executed.

Error: line 4:  4487 Bus error               (core dumped) ./SCIRun

### Steps to Reproduce

1. Crea

[2017-10-17 16:39] dcwhite commented on #1715
I'll need more info:
- [ ] GPU specs and drivers
- [ ] Screenshot of before/after crash (to show working ViewScene--i.e. not "red ViewScene")
- [ ] More specific CentOS version number
Thanks!

[2017-10-17 18:53] jessdtate commented on #1648
seems to be working ok

[2017-10-18 10:31] kgillette commented on #1715
OS: CentOS Linux release 7.4.1708 (Core)

GPU specs and drivers (output from lspci -vnn | grep VGA -A 9):
03:00.0 VGA compatible controller [0300]: NVIDIA Corporation GK110 [GeForce GTX TITAN] [10de:1005] (rev a1) (prog-if 00 [VGA controller])
	Subsystem: NVIDIA Corporation GeForce GTX Titan [10de:1035]
	Flags: bus master, fast devsel, latency 0, IRQ 77, NUMA node 0
	Memory at dd000000 (32-bit, no

[2017-10-18 20:54] dcwhite commented on #1715
What kind of field is it? Does it crash every time this way? Coming soon is a new "verbose" version of the renderer that you'll probably need to wait for, since I don't have much to go on here (or have CentOS and Titan gpus...)

[2017-10-19 07:55] kgillette commented on #1715
The field is a point cloud. I haven't tested it with other field types, but will let you know when I do. I didn't start getting this issue until a recent pull and update for SCIRun so maybe it was a recent commit to ShowField or ViewScene? I'm happy to wait until the new verbose version comes. 👍

[2017-10-20 17:42] dcwhite opened #1720 "Docker"
Details later...

[2017-10-22 03:18] #1040 closed

[2017-10-23 19:43] dcwhite commented on #1463
@ajanson This is still an issue, but could you attach a network that show the problem? I might be able to work on this one.

[2017-10-23 19:45] dcwhite commented on #1435
This one needs to be after "red viewscene" is fixed.

[2017-10-23 19:55] dcwhite commented on #1589
@moritzdannhauer Update?

[2017-10-23 19:55] dcwhite commented on #1590
@moritzdannhauer Update?

[2017-10-24 14:46] ajanson commented on #1463
[pointProbe_ViewScene.zip](https://github.com/SCIInstitute/SCIRun/files/1411243/pointProbe_ViewScene.zip)

[2017-10-24 15:55] #318 closed

[2017-10-25 19:48] dcwhite opened #1722 "Reuse Seg3D's custom QtWidgets to enable histogram"
https://github.com/SCIInstitute/Seg3D/tree/master/src/QtUtils/Widgets

[2017-10-25 19:50] dcwhite opened #1723 "Investigate QPainter to generate line graphs"
Start with Tikhonov L-curve use case.

[2017-10-27 16:13] #1707 closed

[2017-10-27 17:22] dcwhite commented on #1691
I'll start a discussion PR with my TetVol changes.

[2017-10-30 19:43] dcwhite commented on #645
I'll add a good amount of debug logging to help reveal this one.

[2017-10-30 19:45] dcwhite commented on #916
Logging will help find the crash.

[2017-11-01 16:08] #1708 closed

[2017-11-03 21:50] #1589 closed

[2017-11-03 21:50] #1590 closed

[2017-11-06 20:55] dcwhite commented on #986
@jessdtate might have a bug related to spacing--need to test.

Also, any features to add?

[2017-11-06 21:02] dcwhite commented on #991
Let's set up a meeting about widgets soon.

[2017-11-06 21:04] dcwhite commented on #1004
@jessdtate wants to close this issue. Any objections @zaracay?

[2017-11-06 21:04] dcwhite commented on #1005
@jessdtate wants to close this issue. Any objections @zaracay?

[2017-11-06 21:06] dcwhite commented on #1009
Change transparency widget to slider to enable easier re-execution.

[2017-11-06 21:08] dcwhite commented on #1010
@jcollfont @jessdtate Let's discuss at tomorrow's toolkit meeting!

[2017-11-06 21:09] dcwhite commented on #1031
@moritzdannhauer Is this still an issue?

[2017-11-07 21:05] dcwhite commented on #1702
Closed via #1731

[2017-11-07 21:05] #1702 closed

[2017-11-08 22:44] jessdtate opened #1733 "TMScoil combine to one module"
the TMS coil modules should be combined into one to make it easier to use.  The modules share the same algorithm so it should be a matter of creating a ui that will work for the three cases.

There shouldn't be units hard coded into the UI either.  This could be a text box with state variables, even though they aren't needed for computation.  My recommendation is to not have them at all and to mak

[2017-11-09 21:11] dcwhite commented on #964
Closed with #1732

[2017-11-09 21:11] #964 closed

[2017-11-10 18:44] dcwhite commented on #1733
To this I am going to add:
- [ ] Remove `assert`s in new algorithm code. Use exceptions instead.

[2017-11-13 20:51] #1004 closed

[2017-11-13 20:52] #1005 closed

[2017-11-13 21:16] dcwhite commented on #1093
I'll use a #define to clean up the `--help` list.

[2017-11-13 21:23] dcwhite commented on #1105
We haven't seen this one in a while, closing.

[2017-11-13 21:23] #1105 closed

[2017-11-13 21:31] jessdtate commented on #1102
@jcollfont Is there a way to reliable check this without checking every geometry against each other?  Doing something like that would become very costly with multiple surfaces and such.  I suppose it could be done in the solid angle calculation, but I'm not sure how that would look.  Do you have an Idea how this would look?

[2017-11-15 17:38] johaenns opened #1734 "InterfaceWithTetGen crashes with constrained points input"
InterfaceWithTetGen crashes at the "Inserting constrained points ..." step with the attached net. Error is "Segmentation Fault" (linux) and "Segmentation Fault: 11" (Mac OS X).

I have very similar nets that run without problems (also with larger pointclouds as constrained points than the one here), but this one crashes both on Linux and Mac OS X.

Possibly related to #1538 ?

### Steps to Reprodu

[2017-11-16 23:01] dcwhite commented on #1734
One of the tets has a "tdest" pointer that ends up being null, which is then dereferenced, in the following code:
[code]

This is in function `locate`, called via this call stack:
[code]

The tetgen data structures are quite opaque (it's just an array of arrays), so a tetgen-expert will need to dig into this. My suggestion is to play around with your dataset and try to come up with a minimal (i.e.

[2017-11-17 17:35] dcwhite commented on #1720
Jon found a Maya Docker image with NVidia examples.

[2017-11-17 17:55] moritzdannhauer opened #1735 "Max_number_of_cores_used_in_SCIRun5"
* [x] Are you running the [latest version of SCIRun](https://github.com/SCIInstitute/SCIRun/releases)?
* [x] Are you reporting to the [correct repository](https://github.com/SCIInstitute/SCIRun)?
* [x] Did you [perform a cursory search](https://github.com/SCIInstitute/SCIRun/issues) to see if your bug or enhancement is already reported?

### Description

Feature: Maximal number of used cpu cores c

[2017-11-17 23:56] jessdtate commented on #1734
This is probably the same thing as what I mentioned in issue #933, except now it crashes with the suppress boundary splitting is checked.  It crashes with a single point added in the point port, so size is probably not the issue.

[2017-11-20 14:27] jcollfont commented on #1102
@jessdtate  No idea.... As long as we can compute when a surface is enclosed by another one, we can reduce the number of computations by setting some rules (e.g. if surface A is enclosed by surface B, and B enclosed by C, there is no need to check C vs. A ).

Another approximation that I use in the geometry reconstruction is to approximate the surface with an ellipsoid. Then we have analytic forms

[2017-11-20 18:51] moritzdannhauer commented on #1368
The issue of using a clipping plane (huge memory allocation) is not resolved and unfortunately requested while I was demo'ing SCIRun5. Is it possible to give this a higher priority of being fixed?

[2017-11-28 18:21] dcwhite commented on #1368
It will probably be next year, if we get more graphics developer time.

[2017-11-28 19:38] #1706 closed

[2017-11-28 21:53] #715 closed

[2017-11-29 13:04] pip010 commented on #1733
Indeed the three modules can go into one with a combobox selecting the mode : thing wire or magnetic dipoles.

Not sure what you mean by hard-coded units in the UI, you mean the defaults ?

Some can de removed, as the current and outer distance etc..

[2017-12-01 22:37] #1722 closed

[2017-12-04 18:49] johaenns opened #1738 "Random behavior of MapFieldDataOntoNodes when mapping between two LatVols"
### Description

MapFieldDataOntoNodes shows incorrect behavior in various situations (in the example script):

-for setting "interpolatedata", data values are set to zero that shouldn't be zero
-for "closestnodedata", basically all values are set to zero

Other errors that I observed included incorrect mapping where a structure that lies central around x=0 and y=0 would "move" over the z=i planes

[2017-12-04 20:35] dcwhite commented on #1152
@jessdtate will clarify what needs to be fixed with a checklist

[2017-12-04 20:50] dcwhite commented on #1336
We might get help on this one too.

[2017-12-04 20:54] dcwhite commented on #1445
@jessdtate is investigating

[2017-12-04 20:56] dcwhite commented on #1146
We'll close this for now, since it will only affect a small number of users.

[2017-12-04 20:56] #1146 closed

[2017-12-04 20:59] dcwhite commented on #1129
Crashes on Mac too--ShowField needs to be executed already. I just need to have VS wait like normal. Let me try to fix.

[2017-12-08 21:01] dcwhite commented on #1440
I tried to replicate this in my OpenSUSE VM, and I couldn't. The WriteMatrix file dialog behaved fine, saving in every possible format. The only quirk was it did not change the file extension to match, but the file type was correct each time. @johaenns Is this still an issue?

[2017-12-08 22:32] dcwhite commented on #1669
Single-line comments seem to work OK. Multi-line comments are an issue. Good enough, closing.

[2017-12-08 22:32] #1669 closed

[2017-12-11 20:48] dcwhite commented on #1487
Let me try Travis's OSX build, and also AppVeyor for Windows. If they still time out a lot, let's raise the priority of this one.

[2017-12-11 21:05] dcwhite commented on #1479
@jessdtate will track down the status of this.

[2017-12-18 20:38] dcwhite commented on #1738
@jessdtate will examine if this in the "useful but strange" behavior category.

[2017-12-18 20:47] dcwhite commented on #1109
New module: last-used
Save last-used path per module
Use data-path as default if none saved

[2017-12-18 20:48] dcwhite commented on #1309
Let me see if this one is done...

[2017-12-18 20:51] dcwhite commented on #1509
@johaenns Could this library be useful for your work? @jessdtate

[2017-12-18 20:54] dcwhite commented on #1514
Need to check progress.

[2017-12-18 20:58] dcwhite commented on #1443
@johaenns Do you still need this?

[2017-12-18 21:02] dcwhite commented on #1108
Let's add a summary of mouse controls to the new user wizard.

[2017-12-18 21:03] dcwhite commented on #1375
Closed by @jessdtate

[2017-12-18 21:03] #1375 closed

[2017-12-21 17:42] dcwhite commented on #1733
Closed via https://github.com/SCIInstitute/SCIRun/pull/1740#event-1392546292

[2017-12-21 17:42] #1733 closed

[2017-12-22 21:27] #1735 closed

[2017-12-22 21:27] #1093 closed

[2017-12-22 21:27] #1129 closed

[2017-12-22 21:27] #1723 closed

[2018-01-08 20:59] jessdtate commented on #1472
The algorithm should be able to work for other types, especially trisurf. for quads and hex, we could just give an error.

[2018-01-08 21:27] dcwhite commented on #1407
Remaining tasks:
- [ ] Add sizing field port
- [ ] Add background field port
- [ ] Fix re-execution problem (applies to Cleaver1 too)
- [ ] Expose mesh type choice

[2018-01-19 19:49] jessdtate opened #1742 "new module for Matrix plotting"
some Ideas to for a new module that would plot a matrix.

- [x] multi array plotting (multiple rows or columns)
- [ ] documentation to show how to use the plotting
- [x] unicode and RTF support and documentation for axes labels
- [x] screenshot of the plot
- [x] some control for color (line and background)

[2018-01-24 17:33] dcwhite opened #1743 "Prototype python/SCIRun code for Akil's uncertainty code"

[2018-01-25 21:22] dcwhite opened #1744 "InterfaceWithCleaver2, part 2"
- [ ] Support double data on input fields
- [ ] Investigate padding
- [ ] Support for cell-centered inputs

[2018-01-26 17:40] #486 closed

[2018-01-26 17:40] #1407 closed

[2018-01-29 20:36] dcwhite commented on #1172
Todo: attach proposed class diagram

[2018-02-02 21:18] dcwhite commented on #1172
https://user-images.githubusercontent.com/3484631/33346633-9b205f34-d44d-11e7-875d-a5b87ac5e158.jpeg

[2018-02-07 23:52] #961 closed

[2018-02-07 23:52] #1109 closed

[2018-02-07 23:52] #1309 closed

[2018-02-07 23:52] #1413 closed

[2018-02-07 23:52] #1648 closed

[2018-02-12 21:15] dcwhite opened #1746 "Modules to be converted--Entire list"
TODO

[2018-02-12 21:19] dcwhite opened #1747 "Convert Jess's module conversion manual to Markdown as a separate file"
Change example code first.

[2018-02-12 21:27] jessdtate opened #1748 "change solveinverseproblemwithtikhonovTSVD to SolveInverseProblemWithTSVD"
This will need to be changed in the toolkit too.

[2018-02-12 21:28] jessdtate commented on #1748
https://github.com/SCIInstitute/FwdInvToolkit/issues/64

[2018-02-12 21:30] jessdtate opened #1749 "module conversion calculatefieldnodes"
This module uses the parser

[2018-02-26 20:56] dcwhite commented on #1742
Default colors:

[2018-03-06 23:58] #1742 closed

[2018-03-07 18:13] dcwhite commented on #1747
@jessdtate The example code (in `src/Modules/Examples`) already uses the newer macros, for instance `MODULE_TRAITS_AND_INFO`. If you could update the latex/pdf to use these, and include a pointer to the file `SCIRun/src/Dataflow/Network/ModuleTraits.h` where the remaining macros live, that would be great.

[2018-03-08 19:38] dcwhite opened #1753 "Documentation for LinePlotter"
Can be done on the new wiki.

[2018-03-09 18:44] #1748 closed

[2018-03-14 17:42] jessdtate commented on #1415
A related problem is the reduction in resolution of the the colormap.  In SCIRun 4 this creates bands of color with clear boundaries.  Currently in 5, the values are still linearly interpolated over the surface, so there are never clean lines, even with high resolution.

[2018-03-15 19:22] dcwhite opened #1754 "Widget Module improvements"
* GeneratePointSamplesFromField
  * Which features to copy from GenerateSinglePointProbe? @ajanson
  * @jessdtate suggests initializing to first N nodes of input mesh, in addition to center.

* Combine modules?

* Add rake widget

I will go over test networks in v4 for these.

[2018-03-15 19:40] dcwhite opened #1755 "Qwt Heatmap module"
Follow the "rasterview" example.

[2018-03-15 19:56] dcwhite opened #1756 "LinePlotter improvements"
- [x] Problem with showing legend buttons with >5 column inputs.
- [x] Make the individual lines clickable--indicate which column the line is plotted from. Useful for larger datasets. Suggested by @wgood and @bzenger
- [ ] Add button to transpose input

[2018-03-15 20:00] dcwhite opened #1757 "Dockable windows affect dock and window resizing in strange ways"
Specifically the miniview widget and module UI widgets.

[2018-03-19 20:23] dcwhite commented on #991
For next testing lunch.

[2018-03-22 22:10] johaenns commented on #1605
Any updates on this @dcwhite? I'm still getting this bug with v5.0-beta.S.

[2018-03-22 22:39] #1052 closed

[2018-03-22 22:39] #1172 closed

[2018-03-22 22:41] dcwhite commented on #1605
@johaenns Could you make a new bug report with updated details?

[2018-03-22 23:15] johaenns opened #1759 "Python -s option not accepting arguments"
#1605 is not resolved.

Steps:

Call SCIRun -s anyscript.py arg1

Result:

-normal build
[PYTHON] Python 3.4.3 (default, Mar 20 2018, 14:57:40)
[GCC 4.8.5] on linux
Please note all args after script file name will be passed to python and not SCIRun!
[2018-03-22 17:08:49.533] [root] [error] File load failed (arg1): null xml returned.

-headless build
Please note all args after script file name will

[2018-03-23 00:43] dcwhite commented on #1759
Thanks, I will work on this tonight.

[2018-03-23 04:52] dcwhite commented on #1759
Looks like the problem is Linux-only. I kept "fixing" it on OSX. I'll try to get it fixed tomorrow.

[2018-03-23 17:43] dcwhite commented on #1759
I couldn't replicate on Win10 Ubuntu--perhaps it's OpenSUSE only. This will have to wait until I'm back next week when I can run my VM.

[2018-03-30 17:02] jessdtate commented on #1688
python 3.4 is not supported in Matlab 2018a

[2018-04-10 16:34] jab0707 opened #1760 "ESC clears interface"
### Description

When in the UI of any module, if you hit the ESC key the content of the UI panel becomes a blank panel for that module. This persists if the UI is closed and opened again and has been tested across several modules (specifically ShowField, ReadField, ClipFieldByFunction). This also persists if you hit ESC again, either inside or outside of the UI, or if you minimize/doc/or move the

[2018-04-10 18:33] dcwhite commented on #1760
I think I know what's going on. It's funny this has not been caught until now. Should be fixed in next release.

[2018-04-12 21:20] dcwhite opened #1761 "Interactive Ospray Viewer"
Issue created in the middle of branch. I reused an old Qt-based viewer from Ospray 1.2, and it works fine in Ospray 1.5. Hopefully it will work better in Qt 5, which I will try again soon.

State variables to hook up to config widgets (phase 1):
- [x] Separate objects option
- [x] Show Plane
- [x] Auto-rotation speed
- [x] Samples per pixel
- [x] Show shadows
- [x] Show frame rate
- [x] Render ann

[2018-04-12 21:21] dcwhite commented on #1705
This is getting implemented in the Ospray viewer. Might be able to close it when that work is done.

[2018-04-16 19:39] dcwhite opened #1762 "Interactive Ospray Viewer, part 2"
Additional UI inputs:

- [ ] Renderer choice
- [ ] AOSamples
- [ ] Advanced Ospray options
- [ ] Other/newer Ospray options
- [ ] Shading settings
- [ ] leftover "Global" ViewScene settings
- [ ] Clipping planes
- [ ] Other types of lights
- [ ] Materials settings
- [ ] Leftover ViewScene View options
- [ ] Scale bar

[2018-04-16 20:01] dcwhite commented on #1743
Meeting with @jessdtate tomorrow for this!

[2018-04-20 02:15] #1760 closed

[2018-04-20 02:15] #1761 closed

[2018-04-20 15:36] #1756 closed

[2018-04-25 17:57] dcwhite commented on #1759
@johaenns Still can't replicate this on OpenSUSE. Please try the latest build. I'm building headless too to see if that makes a difference.

[2018-04-25 22:07] dcwhite commented on #1759
Also works in headless build mode. If it's still broken on your machine, you'll have to send me your script, or I'll need to debug on your machine directly.

[2018-04-26 16:20] dcwhite opened #1767 "Ospray External Project"
Ospray 1.5 requires newer Visual Studio, so this will get lumped into the upgrade milestone after I upgrade VS versions.

[2018-04-26 16:23] dcwhite opened #1768 "Speed up Clang Travis build"
It's timing out all the time now.

Ideas:
- [ ] Stub out non-UI layers, just build UI.
- [ ] Fix more warnings
- [ ] Trim down external dependencies
- [ ] Skip unit tests (let GCC cover this part)
- [ ] Don't build all modules. "Retire" some module stacks from the CI build as they mature, so that new code can always get built right away.

[2018-05-01 21:09] dcwhite commented on #1743
Met with @jessdtate again today.

[2018-05-18 19:13] bzenger opened #1773 "Warning Indication for missing modules"
### Description

It would be nice if there was a warning indication when a module from a previously created SCIRun network does not exist in the current build that is loading the SCIRun network. For example, if you are using a build that does not have the Tetgen functionality SCIRun will simply eliminate the module within the network and does not provide any error message that "tetgen" or the spec

[2018-05-22 18:40] dcwhite commented on #1773
This is logged, but it's buried quite deeply right now (Window->Log->Main Log->Open Log Folder->open missingModules.log file). I will move it to the main log window, and also add a pop-up for the Tetgen case since that is common.

[2018-05-22 19:52] dcwhite commented on #1773
@bzenger The way the code is, I can make an easy change to display a pop-up warning message, but the rest of the network will not be loaded. It will be more complicated to display the warning message as a pop-up AND load the rest of the network without TetGen (the way it is now), but I bet in most cases this will not be that helpful, since it's usually a key module. Is that OK?

[2018-05-22 21:37] bzenger commented on #1773
Yeah that would work well I think!

[2018-05-25 18:18] johaenns commented on #1759
I couldn't reproduce it anymore either, I assume it's fixed.

[2018-05-25 18:55] dcwhite commented on #1759
OK!

[2018-05-25 18:55] #1759 closed

[2018-05-25 19:14] dcwhite opened #1774 "Fix issues with Qt 5 build"
- [ ] Code changes (connect() interface for instance) (#1993)
- [x] Graphics/OpenGL issues (follow SCIInstitute/Seg3D#150 and SCIInstitute/Seg3D#119 on Windows, not Mac
- [ ] Modules stack on top of each other until you hover over(#1982)
- [x] New in 5.12: white objects in ViewScene (#1857)
- [x] ViewScene breaks when closed.
- [ ] All subwindows briefly appear on start-up. (#1981)
- [ ] Centering

[2018-05-25 19:15] dcwhite opened #1775 "Fix v4 network converter"
It's broken and disabled.

[2018-05-25 19:21] dcwhite commented on #1743
Prototype is done, we'll open more issues as needed.

[2018-05-25 19:21] #1743 closed

[2018-05-25 20:52] dcwhite opened #1776 "Investigate Trinity renderer"
https://github.com/HPC-Group/Trinity

[2018-05-30 18:03] #513 closed

[2018-05-30 18:03] #1773 closed

[2018-06-01 21:47] johaenns opened #1779 ""Look Down Axis" not working correctly"
### Description

The "Look Down Axis" feature in ViewScene is not working correctly under linux.

### Steps to Reproduce

1. Visualize some structure for which you can easily identify the orientation.
2. Try to orient it using the "Look Down Axis" feature. For some combinations of "Look Down Axis" and "Up Vector" it will work correctly, while for others it won't.

### Versions

Opensuse Leap 42.3,

[2018-06-04 17:35] dcwhite commented on #1747
Three versions need to be collapsed to one. Mainly convert Jess's first.

1. Ancient markdown wiki: https://github.com/SCIInstitute/SCIRun/wiki/Module-Conversion-Steps
2. Committed markdown version: https://github.com/SCIInstitute/SCIRun/blob/master/src/Documentation/Manuals/ModuleConversionSteps.md
3. Jess's latex/pdf version in folder: https://github.com/SCIInstitute/SCIRun/tree/master/src/Docum

[2018-06-04 18:11] #1572 closed

[2018-06-04 20:45] dcwhite commented on #643
#1413 was for splitting up the file; this will be for more proper refactoring.

[2018-06-04 20:54] dcwhite commented on #1747
@chhabragarima Start with general developer setup, steps 0-3 in [this version of the guide](https://github.com/SCIInstitute/SCIRun/blob/master/src/Documentation/Manuals/ModuleConversionSteps.md). If you have questions, ask on Slack. Once you're done with those steps, I'll give you more detailed steps for this issue.

[2018-06-05 22:02] dcwhite opened #1781 "Change boost version to 1.66"
Boost 1.67 introduced changes in the build system and boost-python library names, which SCIRun will need to be fixed for. Rather than try to figure that out, let's use 1.66 instead, which has the new library Stacktrace and most of the pertinent updates.

1.67 seems to work fine on Windows and Linux, but the build is failing on Mac--which didn't show up unless you built from scratch. Build failure

[2018-06-07 15:34] #1781 closed

[2018-06-11 21:40] dcwhite commented on #1779
I replicated this, and it's a general issue. I will clean up the logic and improve the widget.

[2018-06-11 21:59] dcwhite commented on #1668
This will have to wait until after pybind replaces boost.python.

[2018-06-12 22:18] johaenns opened #1787 "Implementation of Magnetic Dipole representation in ModelTMSCoil"
@jessdtate

The implementation of the coil representation through magnetic dipoles in ModelTMSCoil is very confusing (and to my understanding partially wrong).

The goal at this point is to represent a circular coil by its magnetic dipole moment to be used as input to SolveBiotSavart.

A pointcould representation of the coil is created (similar to the "Wire" representations) and each of these poin

[2018-06-12 22:22] dcwhite commented on #1787
@pip010 was the original author of the modules mentioned.

[2018-06-12 22:27] johaenns opened #1788 "ModelTMSCoil creates only a single ring for "Thin Circular Wire" O-shape coil"
There seems to be a for loop missing in CircularWireCoilgen in ModelGenericCoilAlgorithm.cc.

First, the calculation of the coil radii seems to be wrong. Line 368 should be

double dr = (outerR - innerR) / (rings-1);

instead of

double dr = (outerR - innerR) / rings;

and line 402

GenPointsCircular(segments, originLeft, innerR + dr + i*dr, current, 0.0 , 2*M_PI );

should be

GenPointsCircular(s

[2018-06-13 01:07] johaenns commented on #1788
Apparently, there should be a check whether rings is larger then 1, otherwise dr can just be set to 0.

[2018-06-13 16:53] ajanson opened #1789 "ReportFieldInfo Scalar Output ports not functional"
### Prerequisites

Version: v5.0-beta.T-105-gf977b8056

### Description

[Description of the bug or feature]

The scalar output ports of ReportFieldInfo do not output a scalar and cannot be used currently.

### Steps to Reproduce

1. Create a field with a module (such as CreateLatVol)
2. Pipe the field into "ReportFieldInfo"
3. Pipe one of the scalar output ports into "ConvertScalarToMatrix"

**Ex

[2018-06-13 19:29] dcwhite commented on #1789
I think this is because there are different class types for different scalar types (int, double, etc) and ConvertScalarToMatrix expects a Double but ReportFieldInfo sends out an Int. @jessdtate made an issue about this general problem, which is still open. I will get it working somehow.

[2018-06-13 19:45] wgood opened #1790 "RBF -- Port RadialBasisFunction"
Would love the SCIRun4 RBF function to be ported to SCIRun5.

[2018-06-13 20:47] dcwhite commented on #1790
`MapFieldDataOntoNodesRadialBasis` is the module being requested.

[2018-06-14 20:26] allywarner opened #1791 "Colormap files format to be compatible with Seg3D"
The ability to import colormaps is going to be used in Seg3D and SCIRun5 currently doesn't support reading or writing colormaps. SCIRun4 uses .cmap files. SCIRun5 and Seg3D should have compatible colormap file formats going forward. We could use .cmap or we could use the Paraview .xml format.

https://www.paraview.org/Wiki/Colormaps

[2018-06-14 20:38] dcwhite commented on #1790
@wgood I've started this one. Could you please upload a test network for this module in SCIRun 4? There are none provided in the old source. If you use small input meshes, you can zip up those and the .srn file and just attach it here. Thanks!

[2018-06-15 17:12] jessdtate opened #1792 "ShowFieldWithOspray crashes when trisurf has no data or fieldbasis"
### Description

If you load in a trisurf file with no data assigned, such as the one included, showfieldwithospray will crash scirun.  The module needs a check for the existence of data.

Thread 28 Crashed:
0   libCore_Datatypes_Legacy_Field.dylib	0x000000010f6f301b SCIRun::VFDataT<std::__1::vector<long long, std::__1::allocator<long long> >, std::__1::vector<long long, std::__1::allocator<long l

[2018-06-17 06:34] pip010 commented on #1787
Hi all,

indeed the the dipole presentation of a coil is problematic, however not in the way @jessdtate summarized it here. Before committing the dipoles model, I explained to @moritzdannhauer that the module in its current form is missing the weighting factors that will supposedly deliver correct magnitude of the magnetic field, thus my reluctance to commit it. The algorithm is directly from the

[2018-06-18 16:36] johaenns commented on #1787
Hi Petar,

thanks for your answer! Besides the implementation details - when I directly compare the B-fields computed with the Magnetic Dipoles and the Thin Wire models, the shapes are kind of similar. However, this is also the case if I just place a single magnetic dipole in the coil center. I have problems following the reasoning for placing the evaluation points on the winding to perform an int

[2018-06-18 19:43] wgood commented on #1790
[For_SCIRun5.zip](https://github.com/SCIInstitute/SCIRun/files/2112745/For_SCIRun5.zip)

Zipped SCIRun4 implementation of RBF.

[2018-06-18 19:52] dcwhite opened #1793 "Windows 7 log/thread hang"
Windows 7 build is DOA due to spdlog call.  Need a workaround. Reported by @ajanson.

[2018-06-18 19:53] dcwhite opened #1794 "Hi-DPI screen issues"
@allywarner is working on this from the Seg3D side.

[2018-06-18 20:36] jessdtate opened #1795 "missing library error"
### Description

When there is an optional build for externals, like tetgen and ospray, it would be nice if the modules still exists, but there was an error upon execute.  This would help preserve the user networks and would avoid the need for additional checks on network load.   currently, ospray modules are still added if ospray is not enabled, but there is no error, just no output.  if tetgen i

[2018-06-18 22:14] jessdtate commented on #1684
also a series matrix, ie, 1,2,3,4,..., or 2,4,6,..., etc

[2018-06-20 19:31] dcwhite commented on #1790
I got numerical errors in the converted code, so this will take some extra time.

[2018-06-21 22:57] #1793 closed

[2018-06-22 15:44] #1790 closed

[2018-06-22 15:44] #1234 closed

[2018-06-22 15:44] #1789 closed

[2018-06-22 15:44] #1792 closed

[2018-06-22 16:27] dcwhite opened #1799 "Radial basis module crash"
Found by @jessdtate

[test_rbf.zip](https://github.com/SCIInstitute/SCIRun/files/2128421/test_rbf.zip)

[2018-06-22 18:54] pip010 commented on #1787
Hi Jess,

directly on your points:
1) From what I understand from your explanation, I should simply not divide by the number of elements (ring segments) ? I will try it out in  my own spin of scirun4 first let you know!

this directly from the paper: "To summarize, the length of a dipole was determined by the area of the subsurface and n times the coil current, whereby n represents the number of l

[2018-06-22 19:04] johaenns commented on #1787
Hi Petar,

1. The subsurface is the area of the coil that is represented by a single dipole, the construction of the subsurfaces is shown in Fig. A2. Each subsurface is represented by a single dipole with strength (area of subsurface)*current*(number of windings). I think I understood the subsurface construction now, I'll give it a try to implement it.

2. The single dipole would not provide a goo

[2018-06-27 20:20] dcwhite opened #1801 "Module porting: ImportMatricesFromMatlab"
Oft requested

[2018-06-28 17:13] ajanson opened #1802 "GetSliceFromStructuredFieldByIndices can get one index beyond max size"
### Description

The slider bar in GetSliceFromStructuredFieldByIndices allows the user to go one index beyond the max size. For instance if you create a 3x3x3 latvol the index for each of the slices are 0,1,2. However, you can select an index of 3 in GetSliceFromStructuredFieldByIndices and it will display a slice outside of where the latvol exists.

![image](https://user-images.githubusercontent

[2018-06-29 20:10] #1775 closed

[2018-06-29 20:10] #1799 closed

[2018-06-29 20:10] #1801 closed

[2018-06-29 20:10] #1802 closed

[2018-07-03 16:50] johaenns commented on #1787
Ok, so after a bit more reading, this seems to be what Thielscher et al. do:

The approach of Thielscher et al. is based on Ravazzani et al., 1996, who base their work on Roth and Sato, 1992 (https://www.researchgate.net/publication/277711170_Accurate_and_efficient_formulas_for_averaging_the_magnetic_field_over_a_circular_coil). The original idea is to use the Stroud integration points and weights

[2018-07-04 03:44] #1794 closed

[2018-07-05 18:08] #1788 closed

[2018-07-05 20:29] dcwhite opened #1806 "Ospray External Project, part 2"
Follows #1767.

- [x] Windows build
- [x] Linux build

[2018-07-05 20:29] dcwhite opened #1807 "Ospray Deployment"
Follows #1767 and #1806

[2018-07-05 23:02] #1684 closed

[2018-07-06 03:34] #1767 closed

[2018-07-06 18:54] jessdtate opened #1809 "module conversion list for SCIRun-Exchange"
list of modules that need converting from the SCIRun-Exchange repo.

- [ ] CalculateMeshCenter

[2018-07-06 18:57] ChantelC commented on #1809
ApplyFiltertoFieldData

[2018-07-06 18:57] allywarner commented on #1809
- [ ] ShowAndEditDipoles

[2018-07-06 18:59] karajohnson commented on #1809
ClipLatVolByIndicesOrWidget

[2018-07-09 20:31] jessdtate opened #1811 "updated license header in all the files to make them consistent"
the license headers are not consistent across the files.  There is an extra line that needs to be removed from many files.  The date can be updated too.

[2018-07-16 19:39] dcwhite opened #1815 "Streamlines as cylinders randomly renders weirdly"
Found by @jessdtate testing Ospray. It's a bug in ShowField, and would happen anytime user selected edges as cylinders, and there were duplicate points in the mesh. This would cause a 0-length line to be added by mistake; the normals buffer then was a different size as the points buffer in the rendering code, and then normals weren't used, leading to displays like this:
![weird connections](https:

[2018-07-16 20:23] dcwhite commented on #1445
Duplicate of #1815
Close this one when PR is merged

[2018-07-17 16:00] #1683 closed

[2018-07-18 15:45] #1445 closed

[2018-07-18 15:45] #1815 closed

[2018-07-21 18:00] jessdtate opened #1817 "InterfacewithPython run in general context"
### Description

in the InterfaceWithPython module I would like to have a way to execute some python code in a general context, ie, straight to the python console, rather than only in the context of the IWP module.  This would be for mainly for importing some modules that don't work in the IWP context, or maybe for starting a matlab engine once for the whole network.

I imagine that this could be

[2018-07-21 19:30] dcwhite commented on #1637
Discussed with @jessdtate and @shayestehfard today at IBBM. The initial steps will be:
- [ ] Add special syntax to the text editor in IWP module to enclose "native" Matlab code, akin to embedding assembly code in C++ (@dcwhite)
- [ ] Add hook in IWP module to call the python conversion/engine script on the embedded Matlab code (@dcwhite)
- [ ] Test with simplest-possible Matlab code and current co

[2018-07-23 19:19] dcwhite opened #1819 "SCIRun 4 network importer mega-issue"
Phases:
- [x] William is running through all v4 nets and checking the current importer. Shared folder link: https://www.dropbox.com/sh/wj5ts0uwmhq76a4/AABWNuTkNrq6YuRXyV3dJpDUa?dl=0
- [x] @Nahusa is investigating the code for module state importing.
- [x] @dcwhite will look at special (crashing) cases in the list of import logs from William.

Sub-issues:
#1219
#1336
#1429

[2018-07-25 17:31] #1747 closed

[2018-07-25 17:49] dcwhite opened #1820 "Add line number widget from InterfaceWithPython to CreateMatrix"
@ajanson just had to count rows in a manually-entered matrix by hand. Add the line number sidebar widget to automate this laborious step.

[2018-07-25 18:24] dcwhite opened #1821 "Add code editor features to Calculate modules"
@ajanson mentioned it's easy to crash SCIRun if parentheses are mismatched in CalculateFieldData. Let's add the code editor features from InterfaceWithPython's editor to the editors for the Calculate modules. I think parentheses matching is not turned on yet, so let's work on that too.

[2018-07-25 18:26] dcwhite opened #1822 "Implement case statement to simplify nested select (ternary) operators in Calculate modules"
Inspired by @ajanson's lab

[2018-07-26 17:21] dcwhite commented on #1429
Needs updating. I added a few of these module rename mappings, but need to check which work.

[2018-07-26 17:24] dcwhite commented on #1336
There ought to be more examples in the shared networkImportProject folder. I will check

[2018-08-01 16:55] chhabragarima opened #1824 "Empty Matrix Crash"
For GetFieldNodes module whenever an empty matrix is produced, clicking on the pipe followed by "i" leads to the crashing of SCIRun.
An Empty Matrix could be generated by ReportFieldGeometryMeasures of a cloud point when trying to output the result for "Edges".
Find an Example network below:
[EmptyMatCrash.srn5.zip](https://github.com/SCIInstitute/SCIRun/files/2250348/EmptyMatCrash.srn5.zip)

[2018-08-01 18:12] dcwhite commented on #1824
Good catch. I can replicate. I'll fix it today

[2018-08-01 20:03] dcwhite opened #1825 "Clean up folder of duplicated legacy code: Modules/Legacy/DataIO"
Many files in there have been converted already, and live in Modules/DataIO.

[2018-08-02 00:39] jessdtate opened #1827 "sparse matrices in interfacewithpython are incorrect"
### Description

When passing sparse matrices to the interfacewithpython module, some of the values are missing.  It seems that it is supposed to be a list with three lists:  index, index, non-zero vlaues.  The first index list is much shorter than the others, usually truncated to the size of one dimension of the matrix.  I suspect this is to indicate that there is a section with the same column,

[2018-08-03 23:31] jessdtate commented on #1517
here is a list of the modules and the state of the help button:
https://docs.google.com/spreadsheets/d/1ZZFHDQ5xtHjD7ybf6Q14CC1HOLDLa8_RgRs5FQe6IhE/edit#gid=0

[2018-08-05 15:02] #1824 closed

[2018-08-05 15:02] #1825 closed

[2018-08-05 15:02] #1827 closed

[2018-08-06 22:12] jessdtate opened #1829 "import ECGsim binary matrices"
### Description

Data exported from ECGsim can have several formats, some of which have been added since the original reader was made.  There are some binary file types that we should support along with the
ascii file types. Attached are a couple of example matrices that we could support.  This could be a separate matrix reader type (ecgsim binary).  Attached are some matlab readers.

[readECGsim.

[2018-08-10 00:36] jessdtate opened #1830 "mapfielddataontonodesradialbasis does not always map onto nodes"
### Description

It looks like the algorithm loops through the destination data layer and assumes that it is on the nodes.  When the input destination field has data assigned to the elements, it resulting data is jumbled and it is assigned to the elements.  it works fine when data is on the nodes.  it should ensure that the output is set to the nodes, or check for the input centering.   There may

[2018-08-13 15:35] dcwhite opened #1831 "Upgrade spdlog to 1.0.0"
Just released, looks like a good upgrade: https://github.com/gabime/spdlog/releases

[2018-08-13 21:36] chhabragarima opened #1832 "Transparency Minimum Value not set for Nodes."
In transparency for faces is set to some minimum value while it is not set for Nodes. This leads to the generation of very transparent views which are hardly visible.
One way of generating it would be setting the Field Output Basis Type to Linear in CreateFieldData module.
Attached is a network that illustrates the same.
[Transparency Inconsistency.srn5.zip](https://github.com/SCIInstitute/SCIRun/

[2018-08-15 21:19] dcwhite opened #1837 "Organize ExampleNets/regression networks with subfolders by topic"
Will need to change CMake glob code to recurse extra directories.

[2018-08-15 22:28] Nahusa commented on #1219
Modules not implemented :

ViewScene
ExtractIsosurface
SplitFieldIntoNrrdData
ConvertNrrdToField
ReadNrrd
ReportNrrdInfo
BuildDerivedNrrdWithGage
ImportFieldsFromMatlab
GenerateSinglePointProbeFromField
WriteMatrix
ReportColumnMatrixMisfit
CreateGeometricTransform
InsertFieldsIntoBundle
ShowString
BuildBEMatrix
ConvertMatrixType
ImportMatricesFromMatlab
ResampleRegularMesh
GetMatricesFromBundle
In

[2018-08-15 23:02] Nahusa commented on #1219
Modules partially done :

| Module | Variables not used in V5 | Variables not implemented (mostly due to the one-to-many mapping issue) |
| :---         |     :---:      |          ---: |
|ShowField	|faces_usetexture|	nodes_display_type|
||nodes_scaleNV	|edges_display_type|
||edges_scaleNV	||
||active_tab 	||
||interactive_mode	||
||showProgress	||
||gui_field_name_override	||
||approx_div	||
||gu

[2018-08-17 17:32] dcwhite commented on #1219
Thanks for this summary!

[2018-08-17 17:42] dcwhite opened #1839 "Follow-up for newly converted modules"
All bugs/inconsistencies found by @chhabragarima.
- [x] GetCentroidsFromMesh: field code crashing problem (most likely) (#1834)
- [x] CreateImage: crashes (#1838)
- [ ] CalcInsideWhichField: different node/face coloring of output compared to v4 (#1833)
- [x] Test UIs on other platforms, adjust layouts if necessary
- [x] Remove `src/Modules/Legacy/Fields/CalculateInsideWhichField copy.h`
- [x] Clea

[2018-08-22 20:08] vnckppl opened #1840 "Error building SCIRUN"
Hi all,

When I build SCIRUN I receive the following error:

**Some details:**
Source file: https://github.com/SCIInstitute/SCIRun/archive/v5.0-beta.IBBM2018.tar.gz
Environment: Debian GNU/Linux 9.1 (stretch) (GNU/Linux 4.9.0-3-amd64 x86_64)

How can I fix this?

Thanks!

[2018-08-22 20:10] dcwhite commented on #1840
Download the latest code zip from the github project home page, as master branch is updated to fix this. Or turn off BUILD_OSPRAY in the cmake settings.

[2018-08-22 20:57] dcwhite commented on #1839
I will open a new issue to investigate the CIWF issue.

[2018-08-22 20:58] dcwhite opened #1841 "CalcInsideWhichField: different node/face coloring of output compared to v4"
See example network, found by @chhabragarima

[2018-08-23 03:34] #1840 closed

[2018-08-24 17:06] vnckppl commented on #1395
I

[2018-08-28 20:09] #1839 closed

[2018-08-29 18:39] #1820 closed

[2018-08-29 18:39] #1821 closed

[2018-08-30 19:31] jessdtate commented on #1829
[Vent2thor_matlab.mat.zip](https://github.com/SCIInstitute/SCIRun/files/2337639/Vent2thor_matlab.mat.zip)
matlab format of the ventricles2Thorax.mat.zip

[2018-08-30 22:01] jessdtate commented on #1829
[user.source.zip](https://github.com/SCIInstitute/SCIRun/files/2338102/user.source.zip)
one more example

[2018-09-04 18:42] jansonap commented on #1746
I'd like to add "WriteBundle" to this list under "List: Bundles" and request that full bundle support/conversion be moved up the list in priority of implementation (if that ranking exists)

[2018-09-04 18:53] dcwhite commented on #1746
Will do. At some point, I noted that WriteBundle was mistakenly missing from this list. Thanks for the reminder.

[2018-10-02 16:44] dcwhite opened #1846 "Sumientra issues"
- [x] We're have experimental code written to convert a lot of the module settings. It's waiting on the compiler upgrade that's going on now.

- [x] Would you be able to share the slow networks and data? That would help with debugging.

- [x] In general we've seen faster rendering in 5. What is your graphics hardware?

- [ ] There are workarounds for this, I will check out that module to see if th

[2018-10-17 17:52] jessdtate commented on #1637
[pythonscript_new.py.zip](https://github.com/SCIInstitute/SCIRun/files/2488626/pythonscript_new.py.zip)

here is the code that Kimia and I have been working on

[2018-10-30 05:35] Sumientra commented on #1846
File was too big, so uploaded to [Google Drive](https://drive.google.com/open?id=1ANeyt0yPtqENvre3f5FDHjVsdzx5-ISr). It contains two network files (identical networks in .srn and .srn5), plus one mesh file (model.mat) and one data file (data.mat) that the nets will load. If I set the ClipField to Y>200, both sr4 and sr5 will run without problems, but sr5 takes ~3x longer. If I set ClipField to Y>5

[2018-10-31 18:39] dcwhite commented on #1846
How much RAM do you have? With `Y>50` v5 is using around 8GB.

[2018-11-05 20:59] jessdtate commented on #1692
Here is an example file that is a mesh.
[matlab_mesh.mat.zip](https://github.com/SCIInstitute/SCIRun/files/2550609/matlab_mesh.mat.zip)

[2018-11-07 17:40] OGharbia opened #1847 "SetProperty"
Hello,

I used to use SCIRun 4.7 to run BuildBEMatrix in which I load two matrixes (Heart&Torso) using ImportFieldsFromMatlab, and then I use SetFieldOreshStringProperty to set the properties for the input data. Now,I updated my OS to 10.14. So, I had to download SCIRun 5, because the old version SCIRUn 4.7 is not compatible with the new version of OS 10.14, but I could not find any way to set pro

[2018-11-07 23:10] dcwhite commented on #1847
The property functionality is still enabled for data objects in SCIRun 5, but that module has not been converted so there is no way to access them. We're thinking of phasing out properties anyway since the UI support was so lacking. If you could share a simple example network in v4 format, @jessdtate could help figure out a way to design the v5 network. If he is stuck, we can discuss implementing

[2018-11-08 01:17] OGharbia commented on #1847
![scirun_network](https://user-images.githubusercontent.com/44846118/48171403-c4a12880-e2c9-11e8-8267-42adc1a1567e.png)

This a screenshot of BEM network that I used to run using 4.7. I hope this screenshot help you figure something out that can help me run the BEM again.

[2018-11-08 18:44] jessdtate commented on #1847
The later versions of SCIRun 4.7 and SCIRun 5 allow you to set these parameters in the BuildBEMatrix module, therefore the properties modules are not needed.  Unfortunately, the examples were not properly updated to reflex this.  As seen in the image, the inside and outside conductivities are set in the BuildBEMatrix module.  The in/out property is now the measurement (out) or source (in) paramete

[2018-11-14 06:10] Sumientra commented on #1846
Visualization of a mesh looks different (worse) in SCIRun 5 compared to SCIRun 4. See screenshot. This is the same model in SCIRun 5 (left) and 4 (right).

![screen shot 2018-10-01 at 7 34 29 pm](https://user-images.githubusercontent.com/20671873/48463445-00486080-e7aa-11e8-8fd5-f18883ddcf66.png)

[2018-11-14 06:11] Sumientra commented on #1846
Sorry. Didn't see this. It's 16 GB.

[2018-11-14 16:22] dcwhite commented on #1846
Are edges turned on in v5?

[2018-11-14 19:38] Sumientra commented on #1846
Nope. Same settings. Here's another screenshot of what it looks like with edges on.
It looks like this on both my (old) MacBook and Mac Pro, and also on Kimia's (new) MacBook.

![screen shot 2018-11-14 at 2 34 26 pm](https://user-images.githubusercontent.com/20671873/48507726-b9468380-e81a-11e8-8fb2-88feb7f5b5f5.png)

[2018-11-15 18:20] dcwhite commented on #1688
Boost: Windows build is on 1.67. Mac/Linux needs to wait until I figure out the Python build.
Python: had trouble building 3.6+ on Mac 10.10, and couldn't build a package on 10.12, so I thought we could try an experimental option to choose Python version when building from source.

[2019-01-09 20:05] jessdtate opened #1851 "Tensors will only appear as spheres"
### Description

When using ShowFieldGlyphs, tensors will either visualize as spheres or not at all.  All glyphs from a latvol will be spheres.  Glyphs from from some mesh types will not be rendered (quad surf, image mesh, and element based trisurf were tested).

[test_tensors_II.srn5.zip](https://github.com/SCIInstitute/SCIRun/files/2742517/test_tensors_II.srn5.zip)
[test_tensor_vis.srn5.zip](htt

[2019-01-09 20:34] #1847 closed

[2019-01-15 05:08] bzenger opened #1853 "Toggle background on and off (holiday special)"
Please follow these instructions for your issue to be worked on:

---
## For bugs, follow the template below: fill out all pertinent sections, then delete the rest of the template to reduce clutter.
### If all prerequisites are met, just delete that text as well. If they're not all met, the issue will be closed or assigned back to you.
---
## For features, fill in the description section and delet

[2019-01-15 19:11] dcwhite commented on #1853
I decided not to post a sarcastic response about students needing to work on papers over the holidays. Instead, how about I add a menu option for this and get it pushed today.

[2019-01-15 19:38] dcwhite opened #1854 "Refactor Settings code"
There should be one class that does each little separate, scattered piece.

[2019-01-15 20:25] dcwhite commented on #1853
Here is the new checkbox for "professional-mode":
![image](https://user-images.githubusercontent.com/1399383/51207737-ebcb3600-18c8-11e9-8a62-33b4ecc2853c.png)

[2019-01-16 03:48] bzenger commented on #1853
Thanks Dan!

Best,
Brian

[2019-01-24 18:45] dcwhite commented on #1807
@jessdtate @xuanhuang1 I'll make this the official "clean-up" issue. Look for completion of this before trying any changes to the core Ospray code.

[2019-01-25 18:07] #1668 closed

[2019-01-25 18:07] #1853 closed

[2019-01-25 19:35] dcwhite opened #1857 "Fix white objects in Qt 5.12 ViewScene"
First, make a Qt 5.12-linked build on Mac. The ViewScene should work, but render every object white. Next, try these things listed here: https://stackoverflow.com/questions/13867219/opengl-renders-texture-all-white

[2019-01-25 19:37] jessdtate opened #1858 "OS X python installation installs in Applications folder"
### Description

installing scirun with python installs python in the applications directory in OS X.  This may be related to the conflict seen when there is a previous installation.  Should be able to delete the installation step from make file

### versions
v5.0-beta.CinC2018-87-g7ad250e
OS X 10.10 , 10.12, 10.14

[2019-01-30 22:13] RubioJr9 opened #1859 "Seg Fault when loading file and executing immediately"
### Description

The crash will cause a Segmentation fault on thread 0

Process:               SCIRun_test [63618]
Path:                  /Users/USER/Documents/*/SCIRun_test
Identifier:            SCIRun_test
Version:               0
Code Type:             X86-64 (Native)
Parent Process:        bash [52566]
Responsible:           SCIRun_test [63618]
User ID:               510

Date/Time:

[2019-01-30 23:14] dcwhite commented on #1859
There's a built-in execution delay for ViewScenes that is coded to prevent this. In the console you should see printed out "Waiting for rendering resources..." or something similar. It is possible to circumvent this however--I can check out your exact bug steps tomorrow.

[2019-01-31 21:17] dcwhite commented on #1859
Looks like I'll need to add a bit more code to disable the execute button while the network loads.

[2019-02-02 16:30] sagitter opened #1862 "Building SCIRun against system libraries"
Hi all.

SCIRun dowloads and builds external libraries before compiling. Any chance to have a simpler compilation against system libraries?

[2019-02-03 22:02] dcwhite commented on #1862
We had a conversation about this a while ago for another program in the CIBC suite, Seg3D. Here is [the thread](https://lists.sci.utah.edu/sympa/arc/seg3d/2015-03/msg00013.html). The relevant response still applies:

versions that we control since we have to support a broad range of platforms
(Windows, Mac OS X and different Linux distributions). Including specific
versions of third-party librarie

[2019-02-05 04:20] dcwhite commented on #1858
My local test of this on Mac 10.10 shows it's fixed. Tomorrow I'll test my other systems.

[2019-02-06 23:30] #1455 closed

[2019-02-06 23:30] #1468 closed

[2019-02-06 23:33] #1857 closed

[2019-02-07 02:22] dcwhite commented on #1806
Dead code is removed; Linux, Mac, and Windows all build, but only Mac runs right now. I'll work on deployment issues in #1807.

[2019-02-07 02:26] dcwhite opened #1865 "Qt 5-based installers"
Borrow cmake from Seg3D.

[2019-02-07 17:31] dcwhite opened #1866 "Enable Ospray build on Travis"
Follows #1807. Ospray build is working on Travis but it times out at the build limit of 70 minutes. Need to think of more ways to shorten the build time.

[2019-02-07 20:29] #1858 closed

[2019-02-07 20:35] #1806 closed

[2019-02-08 17:07] #1851 closed

[2019-02-08 17:11] jessdtate opened #1870 "tensor glyph performance"
### Description

Visualizing Tensor Glyphs can be slow and uses a lot of memory compared to SR4.    This needs to be investigated.

[2019-02-08 17:47] jessdtate commented on #1870
vector glyphs also compute orders of magnitude faster and with less memory

[2019-02-08 17:54] dcwhite commented on #1774
https://forum.qt.io/topic/92949/migration-from-qglwidget-to-qopenglwidget

[2019-02-08 19:52] jansonap opened #1871 "More than 10 GenerateSinglePointProbeFromField Widgets behaves abnormally"
### Description

Having a singlepointprobe widget with ID: 1 and ID:10+ links the two modules together. Moving the pointprobe widget in the viewscene with ID:10 also moves the widget with ID: 1 when they are both connected to the viewscene.

### Steps to Reproduce

1. Add 11 "GenerateSinglePointProbeFromField" modules in a new scirun network.
2. Connect the pink port of the modules with ID: 1 and

[2019-02-12 17:35] #1865 closed

[2019-02-12 18:17] dcwhite opened #1872 "Upgrade Eigen and convert to external project"

[2019-02-15 18:32] dcwhite opened #1874 "Support >10 dynamic ports in the module widget"
Right now they spill off the end of the module widget. Most common in ViewScene with many inputs.

[2019-02-15 21:11] #1870 closed

[2019-02-22 00:28] wgood opened #1877 "Streamline Distance from Seed does not compute geodesic accurately"
Using Test Network:
-there is a network and an input file.

'Distance from seed' should sum the inter-node distances along the streamline with the final node having a value equal to the value given for that streamline if the 'Streamline Length' option is selected.  Presumably, streamline length is the total geodesic length, but even if it is euclidean we wouldnt expect that the geodesic would repo

[2019-02-22 00:47] wgood commented on #1877
Went in and manually calculated and geodesics per streamline and the values agree with 'Streamline Length', so that value is seemingly correct although the values different slightly (i assume that may be a compounded rounding error)

[2019-02-22 16:57] dcwhite commented on #1877
Yes, the code is reusing the same variable for the different types of lengths this module computes, and mistakenly added the internode length on top of the precomputed total length. Should be easy fix.

[2019-02-22 21:52] dcwhite commented on #1877
I found another problem when running with just one seed point. I'll need to track that down too.

[2019-02-22 22:32] dcwhite commented on #1877
I believe I have fixed the distance-from-seed computation, but the problem with the first seed point going haywire is screwing up the min/max result of distance from seed when comparing the output of ReportFieldInfo. I'll need to debug this more next week.

[2019-02-22 22:42] dcwhite commented on #1877
[danSL.zip](https://github.com/SCIInstitute/SCIRun/files/2896107/danSL.zip)

[2019-03-01 18:40] dcwhite opened #1879 "Renderer toString() function"
Start by adding `std::string toString() const` to SRInterface class. Then dig down into each component, `ESCore` mainly, writing pertinent toString functions. This is a way to debug in release mode without adding extra runtime baggage.

Example for lower-level objects:
`VBOMan contain N buffers of size M1, M2, M3...`

As much detail as is useful to determine memory usage.

Then, add a button to th

[2019-03-01 18:47] dcwhite commented on #1879
![image](https://user-images.githubusercontent.com/1399383/53659050-c051a000-3c17-11e9-967e-27bbc0699e9f.png)

[2019-03-01 23:55] jessdtate opened #1880 "getslicefromstructuredfield crashes when slice is out of range"
### Description

getslicefromstructuredfield will crash with the included network file.  The data file is from the SCIRunData file from scirun 4. the crash is related to tensors and changing the input volume size so that the selected slice is out of bounds.  I haven't been able to reproduce with data generated from a latvol.

[glyphs_test_III.srn5.zip](https://github.com/SCIInstitute/SCIRun/files/

[2019-03-08 18:41] dcwhite opened #1881 "Add name field to ShowColorMap"
This can distinguish multiple ShowColorMap geometry objects in ViewScene. Suggested by @jab0707.

[2019-03-08 18:43] dcwhite opened #1882 "New toolbar: user-defined python macro buttons"
Suggested by @jab0707:

I think having this nbe a button implemented in the main toolbar would be very useful for all users. Additionally having a few blank buttons that users could attach userdefined python scripts to that execute on click would be nice.
Attached is the script in question.

[code]

[2019-03-08 19:44] jessdtate opened #1883 "axis view function with null inputs disables render"
### Description

when using the snap to axis view option, choosing the null input ('-----') in up vector cause the viewer to go blank. The only way to regain the viewer is to choose a different axis view

### Steps to Reproduce

1. vis object
2. choose non-null axis view
3. choose null axis view

**Expected behavior:**

do nothing.  another option would be to remove it completely

**Actual behavio

[2019-03-08 22:24] dcwhite opened #1886 "Add tensor visualization testing networks to src/ExampleNets/regression"
@RubioJr9 We could use some now that this is actually implemented. Add several to test the various new features you've added. They can either load files from SCIRunTestData (using relative path and the data directory variable) or generate their own tensor fields.

[2019-03-11 21:37] Sumientra opened #1887 "ExportFieldsToMatlab crashes"
### Description
SCIRun crashes when a port is connected to ExportFieldsToMatlab. This happens in any network and regardless of whether the output file is defined.

### Steps to Reproduce
1. In a new network file, insert a ReadField module.
2. Insert ExportFieldsToMatlab module.
3. Connect output of RF to input of EFTM.

**Expected behavior:** Port should connect.

**Actual behavior:** SCIRun crash

[2019-03-12 16:51] dcwhite commented on #1887
I replicated this and a fix will be easy. This is a weird one though, in that I introduced some code that would crash on new instances, but the old networks with this module still worked fine. I'll have to think about a better testing routine to catch these sort of things.

[2019-03-13 20:31] jessdtate commented on #1121
fixed in #1873

[2019-03-13 20:31] #1121 closed

[2019-03-13 20:34] jessdtate commented on #1010
@jcollfont any data for this?

[2019-03-13 20:35] jessdtate commented on #1044
@jcollfont data or network?

[2019-03-14 19:27] jessdtate opened #1889 "try cotire build"
most useful for travis.  https://github.com/sakra/cotire

[2019-03-14 19:41] jessdtate commented on #1709
https://github.com/ainfosec/ci_helloworld

[2019-03-14 20:26] #1872 closed

[2019-03-14 20:26] #1831 closed

[2019-03-15 22:10] ajanson opened #1890 "Display axis glyph at Cartesian origin"
SCIRun 4 had the option to display the axis glyph at 0,0,0 in world space with arrow glyphs that were one unit in length. I would like this option to exist in v5. What is really missing is any representation of the origin in world space to help with scale and positioning in the ViewScene.

See a similar issue [#1435](https://github.com/SCIInstitute/SCIRun/issues/1435) that places an axis glyph on

[2019-03-15 22:23] jessdtate commented on #1890
One of the things that can replicate this functionality is to create a field with six points at the origin with the various unit vectors, then use ShowFieldGlyph.

[2019-03-15 22:54] dcwhite commented on #1890
A module can be written to create this and output it. "CreateAxisField?"

[2019-03-15 22:57] jessdtate commented on #1890
Yeah, that's a good way to implement it.

[2019-03-19 16:19] #1435 closed

[2019-03-20 19:35] jessdtate opened #1891 "re-execution logic executes all modules"
### Description

rexecution seems to reexecute all modules, regardless of the inputs or parameters changing.  This indicates that the need to execute is not computing properly. Execute downstream only also mostly reexecutes the entire network, both when the button is pressed in the module ui, or when auto execute is on.  This is a bit tricky because it is only noticeable when the module takes long

[2019-03-21 01:37] dcwhite commented on #1891
For the first one, that happens even without ViewScene in the network; quite bizarre. But I can make a unit test for it. There's definitely some "holes in the graph" as far as execution dependency. This will be my next issue!

[2019-03-21 01:39] dcwhite commented on #1891
@jessdtate Can you reupload the second network with some explanatory notes attached, since there is a lot going on there.

[2019-03-21 20:00] jessdtate opened #1893 "generatestreamlines two types of distances"
split Distance to seed feature in GenerateStreamlines into Chord Length to seed and Arc Length to seed.  *Wiki needs correction*.

[2019-03-21 20:02] jessdtate opened #1894 "Module help documention links to older wiki"
by default, link goes to old wiki, should default to new one.

[2019-03-21 22:18] jab0707 opened #1895 "Geometry is clipped unexpectedly by clip field by function."
Geometry is clipped unexpectedly by clip field by function. A geometry with nodes and data mapped onto them is passed into a clipfieldbyfunction. The inside of the clipfiled by function UI is set to DATA1; on all nodes. The data are scalars. The output has some of the points clipped out.

Network:
![image](https://user-images.githubusercontent.com/38257234/54788449-a2fb6a80-4bf4-11e9-87fa-75c07a03

[2019-03-22 17:20] dcwhite opened #1897 "Refactor SRInterface"
And related subobjects. This will follow closing of current PRs, so there are no bad merges. We'll aim to start at next Friday's meeting (3/29).

[2019-03-22 19:04] ajanson commented on #1891
Here is an example network that triggers the re-execution of tetgen although only the two modules above tetgen should ever trigger the need to re-execute. Executing (ShowField:0) or (SetFieldDataToConstantValue:0) which are either parallel or downstream of (InterfaceWithTetgen:0) will always trigger a re-excution of tetgen.

[re-execution_problem.zip](https://github.com/SCIInstitute/SCIRun/files/2

[2019-03-25 17:13] jessdtate opened #1898 "CalculateMeshNodes module conversion"
We should have CalculateMeshNodes in SR5.  I think it is the last of the parser modules.

[2019-03-25 17:41] jessdtate opened #1899 "macro improvements"
With the new macro buttons, here are some suggested improvements:

- [x] window behavior.  docks behind the module editor, hard to change the size
- [x] better indicator for which button is assign.
- [x] layout.  There is a big space between list of scripts and the script editor
- [x] a way to change the name of the scripts without deleting and adding a new one.

[2019-03-25 21:11] #1877 closed

[2019-03-25 21:11] #1882 closed

[2019-03-25 21:11] #1883 closed

[2019-03-25 21:11] #1887 closed

[2019-03-27 04:40] jessdtate commented on #1891
[reexecute_branches_matrices_annotated.srn5.zip](https://github.com/SCIInstitute/SCIRun/files/3011494/reexecute_branches_matrices_annotated.srn5.zip)
Here is the annotated version of the network.

[2019-03-27 19:45] dcwhite opened #1900 "Regular internal build channel"
Let's formalize the private build process. @SCIInstitute/butson-lab has a private Github repo. I post builds to Slack channels occasionally (which disappear very quickly nowadays). There are also SCI server locations that are web-accessible. What is everyone's favorite out of the above options? Polling these users: @SCIInstitute/cibc-users @SCIInstitute/ceg_team @SCIInstitute/scirun-users

[2019-03-27 19:53] dcwhite commented on #1900
Related: #1795 will help streamline the release build process.

[2019-03-27 20:35] wgood commented on #1900
Hey Dan,

I am partial to 'ceg_team'. Thanks for doing this.

Cheers,
Wilson

On Wed, Mar 27, 2019 at 1:45 PM Dan White <notifications@github.com> wrote:

[2019-03-27 20:40] dcwhite commented on #1900
Oops, I was just tagging those groups of users to respond, those aren't poll choices listed there. Please indicate where the binaries should be placed (Slack, github, sci server), and how often builds should come (weekly, monthly, etc)

[2019-03-27 21:13] dcwhite commented on #1894
Changing the C++ is easy. I need to update the javascript on the main new module wiki page, so that the block opens up on load. Here's one way to do it: https://stackoverflow.com/questions/16368129/how-to-make-the-page-load-to-an-anchor-tag

[2019-03-27 21:16] dcwhite commented on #1894
Then there are mistakes like this that need to be cleaned up:
![image](https://user-images.githubusercontent.com/1399383/55112882-3aecce80-50a3-11e9-8963-66b175e51290.png)

Who can we get to test all the links out?

[2019-03-27 21:21] jessdtate commented on #1894
we can have a documentation lunch, or get another intern, perhaps.

[2019-03-27 21:33] bzenger commented on #1900
Hi Dan,

This is awesome and I would greatly appreciate this.

As for specifics, is there a way to create a private repo under the SCI Institute organization? Then give access to that repo as needed? I would love to stay on Github considering viewing release notes, etc.

As for timing, I would leave that up to you. I am not an expert in that but would be happy to update as frequently as possible.

[2019-03-27 21:49] dcwhite commented on #1900
The SCI github org is close to its limit of private repos right now (4 remaining). If I grab one just for binary releases with a certain GPLed meshing library, that might be a bit greedy. I don't control the distribution of those either. Although we did go from 10 to 20 at some point, so perhaps those 4 are just there for the taking.

[2019-03-27 21:50] dcwhite commented on #1900
@jessdtate informs me we got an educational license, so we have as many private repos as we want. So no greed applicable.

[2019-03-28 01:35] bzenger commented on #1900
Hi Dan,

Great! Let’s do that then! Are there any objections from the gallery?

Brian

[2019-03-28 17:53] #881 closed

[2019-03-28 19:40] jessdtate opened #1904 "rethink graph logic for re-execution"
### Description

issue #1891 highlighted some problems with the graph logic in the reexecution code.  Especially the network in this comment: https://github.com/SCIInstitute/SCIRun/issues/1891#issuecomment-476971365.  This network uses the collectmatrices module, which does not check for  need to execute, therefore is sensitive to execution requests.  Modules on upstream branches shouldn't be exec

[2019-03-28 19:45] jessdtate opened #1905 "Fix Viewscene input ports"
Viewscene should pull data from the ports when it is connected like other modules.  There are some complications.  This will simplify execute.  Recent fixes in the VS module should make this possible now.

[2019-03-28 19:45] jessdtate commented on #1905
stems from #1891

[2019-03-28 19:46] jessdtate opened #1906 "fix logic in re-execution with output port caching"
stems from #1891.  current logic is a work around for problems with geom ports and ViewScene.  #1905 will need to be completed first.

[2019-03-28 19:49] jessdtate commented on #1906
the logic that needs to be fixed is in: src/Dataflow/Network/Module.cc, OutputPortsCachedCheckerImpl::outputPortsCached() function.

[2019-03-29 18:33] #1891 closed

[2019-03-29 18:33] #1881 closed

[2019-03-29 21:14] dcwhite commented on #1889
@jessdtate I tried this and it got confused over the two sets of almost identical Cleaver1/2 headers. Can I go ahead and deprecate/remove the InterfaceWithCleaver1 code to deal with this? It'll all be on a branch for now, but we can warn users that module is going away.

[2019-03-29 21:21] jessdtate commented on #1889
I think that is ok.  The functionality of cleaver 1 is in cleaver2,  and it seems stable since we implemented it.

[2019-03-29 21:31] dcwhite commented on #1889
Great. Less code = another way to shorten build time

[2019-03-29 21:34] dcwhite commented on #1897
TODO list created via whiteboard picture...needs uploading

[2019-04-01 15:47] dcwhite opened #1908 "Add module deprecation message"
InterfaceWithCleaver1 will be removed soon, but I want to add a stage where it is deprecated to alert users. Probably a pop-up message when the module is added to a network (or loaded from file), with a suggestion for replacement (Cleaver2 in this case).

[2019-04-01 15:49] dcwhite commented on #531
@jessdtate @RubioJr9 Can this one be closed now?

[2019-04-01 15:50] dcwhite commented on #1083
Status: waiting on SRInterface refactoring

[2019-04-01 15:52] dcwhite commented on #1368
@jessdtate @Haydelj I'll start this by trying to fix the bugs showing up in Debug mode related to clipping planes. That will point me to the memory usage. But it will also be waiting on the SRInterface refactoring.

[2019-04-01 15:53] dcwhite commented on #914
This is still the case, I will fix it this week.

[2019-04-01 16:04] dcwhite commented on #853
Let's examine this next meeting, it might be quick.

[2019-04-01 16:14] dcwhite commented on #1715
@kgillette Is this still happening? Sorry this issue kind of got lost. We did just fix a major ViewScene bug, so you might try building the latest code.

[2019-04-01 16:38] dcwhite commented on #1541
I'll go over this one this week

[2019-04-01 16:38] dcwhite commented on #1819
Next big issue for me.

[2019-04-01 16:39] dcwhite commented on #1429
Ditto

[2019-04-01 16:39] dcwhite commented on #1336
Coming soon

[2019-04-01 16:39] dcwhite commented on #1817
I'll investigate this one today

[2019-04-01 16:40] dcwhite commented on #884
@jessdtate @RubioJr9 Is this one done too?

[2019-04-01 16:41] dcwhite commented on #694
I'll make the GUI for this, but the hookup will need to wait until after the SRInterface refactoring.

[2019-04-01 16:41] dcwhite commented on #1412
@Haydelj Another one for after the SRInterface refactoring

[2019-04-01 16:43] Haydelj commented on #1897
![IMG_6150](https://user-images.githubusercontent.com/28606560/55344608-072af380-546b-11e9-954f-344d153482b3.jpg)

[2019-04-01 16:44] dcwhite commented on #1795
I'll figure this one out this week

[2019-04-01 16:45] dcwhite commented on #1532
HAVE TO finish this one this week for sure

[2019-04-01 16:46] dcwhite commented on #1637
Starting this today!

[2019-04-01 16:46] dcwhite commented on #1871
Probably a regex matching problem. I will take a look this week.

[2019-04-01 16:48] dcwhite commented on #1774
Need to break out subissues here. The VS crashes can be investigated on Windows now, in debug mode.

[2019-04-01 16:49] dcwhite commented on #1879
@Haydelj Make a PR for this before SRInterface refactoring? You're still waiting on #1888 getting merged, right?

[2019-04-01 16:49] dcwhite commented on #1880
Next week

[2019-04-01 16:51] dcwhite commented on #1900
Let's finalize this at tomorrow's sim-est.

[2019-04-01 16:51] dcwhite commented on #1899
Starting this today

[2019-04-01 16:52] dcwhite commented on #1895
@jab0707 Is this a showstopper or do you have a workaround?

[2019-04-01 16:55] jab0707 commented on #1895
I have just been using an older version that does not do this so I have not investigated it too much further. We were having other issues with clip field but Brian can talk about them more fully. So I guess, yes in a way it is a showstopper, my workaround is to use a different version.

[2019-04-01 16:56] dcwhite commented on #1886
@RubioJr9 This week for this one? Just commit the networks you have already

[2019-04-01 16:56] dcwhite commented on #1463
I'll make a build with #1888 in it for @ajanson to test.

[2019-04-01 23:45] dcwhite commented on #1895
Ok I’ll take a look this week.

[2019-04-02 07:45] jessdtate commented on #531
I think so.  I think it was in the last tensor merge

[2019-04-02 07:55] jessdtate commented on #1895
can you share a screen shot of what you expect it to do in this situation? Do you know what the field value is on the nodes that were clipped out?

[2019-04-03 02:24] bzenger opened #1909 "Exposing the transformation matrix in register with correspondence module"
**Is your feature request related to a problem? Please describe.**
I would like to be able visualize, or export, the transformation matrix that is created when you register the two point sets. This should be a 4 by 4 matrix.

**Describe the solution you'd like**
There could be multiple solutions. I think the ideal solution is having another port coming out of the module that is a "matrix" type, an

[2019-04-03 20:16] dcwhite commented on #1909
[bzengerPoints.zip](https://github.com/SCIInstitute/SCIRun/files/3040563/bzengerPoints.zip)

[2019-04-03 20:48] dcwhite commented on #1637
The function `stringtotext` seems to be limited to inputs of the form `matlabFunctionOfFields(field1,field2,...)`. Is that the main use case right now? If so we'll need to be explicit about it with the "matlab block" button in the editor.

[2019-04-05 20:33] #1879 closed

[2019-04-05 20:33] #952 closed

[2019-04-05 20:33] #1463 closed

[2019-04-06 06:28] jessdtate commented on #1637
I think we will want it more general than that.  We can implement it like this as a prototype and generalize the converter.

[2019-04-08 15:45] dcwhite commented on #1900
PEOPLE LOVE IT. I will close this issue

[2019-04-08 15:45] #1900 closed

[2019-04-11 14:36] dcwhite opened #1913 "Fix older clang build"
Spdlog library needs to define a symbol on older Mac builds. Figure out a way to fix this in our code to avoid forking their repo. Reported by @moritzdannhauer

[2019-04-11 16:05] dcwhite opened #1914 "Convert module: SmoothVecFieldMedian"
I'll knock this one out today. TODO: create a convert module issue template

[2019-04-11 19:05] jessdtate commented on #1637
For the matlab demarcator, I think `%%` would work the best.  An example could be:
[code]

[2019-04-11 19:08] dcwhite commented on #1637
Cool. Next week let's set up a pair-programming session since I need a matlab-enabled machine to test.

[2019-04-12 20:26] dcwhite commented on #1652
@jessdtate This is slotted for beta still, should I move it up to milestone X (next one, not the current one)?

[2019-04-12 20:31] jessdtate commented on #1652
sure

[2019-04-16 21:11] RubioJr9 commented on #884
Yes this was added for both vectors and tensors in https://github.com/SCIInstitute/SCIRun/pull/1868

[2019-04-16 21:13] RubioJr9 commented on #531
I'm not fully sure what this ticket is requesting. Is this referring to RGB conversion?

[2019-04-16 21:20] jessdtate commented on #531
This one might actually be for showfield, but I think that is implemented

[2019-04-16 21:56] RubioJr9 commented on #531
Aren't tensors only rendered with ShowFieldGlyphs?

[2019-04-16 22:05] #531 closed

[2019-04-16 22:11] jessdtate commented on #1454
fixed in #1888

[2019-04-16 22:12] jessdtate commented on #1084
#1888

[2019-04-16 22:12] #1044 closed

[2019-04-17 01:35] dcwhite commented on #1454
I'll reopen and test this one after #1888's bugs are fixed.

[2019-04-17 01:35] dcwhite commented on #1084
I'll reopen and test this one after #1888's bugs are fixed.

[2019-04-18 13:01] bzenger opened #1917 "GetMatrixSlice Loading index above 100"
**Describe the bug**

Currently, if you save the network with a "getmatrixslice" state variable above 100, after you close the network and reload the network it will automatically snap to 100.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a getmatrix slice module with data that has more than 100 columns or rows (depending on what you are slicing by).

2. run the module and network a

[2019-04-24 17:16] #1817 closed

[2019-04-24 17:16] #1899 closed

[2019-04-25 16:19] #1871 closed

[2019-04-25 16:19] #1908 closed

[2019-04-25 16:19] #1913 closed

[2019-04-25 16:19] #1917 closed

[2019-04-25 16:30] bzenger commented on #1917
Thanks dan!

[2019-04-25 19:24] dcwhite commented on #1637
today!

[2019-04-25 22:16] dcwhite commented on #1637
Got a proof-of-concept working with @jessdtate. Next step is to figure out where/how to call the essential `convertMatlabBlock` function, and where to store the helper python functions (which need matlab engine running). Also, being able to force-reexecute will be nice since one is usually editing matlab code and re-running SCIRun without changing any of the latter state, so that should be exposed

[2019-04-25 22:19] dcwhite commented on #1637
Future steps:
- [ ] Support more matlab datatypes
- [ ] Support more matlab syntax
- [ ] Support more lines of code (blocks?)
- [ ] Extracting general matlab engine management code to a higher level
- [ ] Code maintenance of python helper functions

[2019-04-25 22:19] jessdtate opened #1921 "console multi-line parsing"
this probably relates to the fixes from #1530.  When trying to execute an if statement or a for loop in the python console, the lines the context is removed, making it impossible to run these type of functions.  This affects the top-level functionality in IWP and I think the triggered events.

[2019-04-26 22:02] #1083 closed

[2019-04-30 16:54] jab0707 opened #1922 "Binary Install Fail on Windows"
Description:
When using a SCIRun Binary to install a windows machine error messages come up during the install process that prevent successful installation. These issues persist even if run as an administrator or in developer mode.

Screenshot of error:
![image](https://user-images.githubusercontent.com/38257234/56979091-2da98080-6b36-11e9-9445-0ce56b629a01.png)

![image](https://user-images.githu

[2019-05-01 15:54] dcwhite opened #1923 "Implement SolveLinearSystem convergence graph using Qwt"

[2019-05-02 22:34] dcwhite commented on #1922
This appears to be solved by upgrading NSIS to version 3. I'll keep this open while I try to figure out how to force CPack to check for newer NSIS.

[2019-05-03 21:33] allywarner opened #1925 "Link to official Cleaver2's repository"
Developer issue.

https://github.com/SCIInstitute/Cleaver2/issues/74

[2019-05-08 18:23] #1914 closed

[2019-05-08 20:42] dcwhite opened #1926 "Update build instructions"
Just like #1229.

[2019-05-10 17:47] dcwhite opened #1928 "(Not exactly) Backface culling"
From discussion today (5/10). You guys can fill this one in.

[2019-05-10 17:51] dcwhite commented on #1368
After #.... is merged, I'll debug this again.

[2019-05-10 18:04] #884 closed

[2019-05-10 18:19] dcwhite commented on #1084
I'll test this today.

[2019-05-10 19:49] dcwhite commented on #1909
Next week with @jessdtate

[2019-05-10 21:12] dcwhite commented on #1886
Closed by #1916

[2019-05-10 21:12] #1886 closed

[2019-05-13 16:38] Haydelj commented on #1928
Implement proper double sided rendering using OpenGL to detect back faces and flip the normals.

[2019-05-13 16:52] #1897 closed

[2019-05-13 16:52] dcwhite opened #1929 "Refactor SRInterface, part 2"
Follows #1897

[2019-05-14 18:29] Haydelj opened #1931 "Orientation Glyph Shading"
## For bugs, follow the template below: fill out all pertinent sections, then delete the rest of the template to reduce clutter.
### If all prerequisites are met, just delete that text as well. If they're not all met, the issue will be closed or assigned back to you.

**Prerequisites**

* [ ] Are you running the [latest version of SCIRun](https://github.com/SCIInstitute/SCIRun/releases)?
* [ ] Are

[2019-05-14 18:41] Haydelj opened #1932 "ShowFieldGlyphs vertex ordering"
Fix the ordering of vertices and the direction of the normals in ShowFieldGlyph to face outward.

[2019-05-16 21:31] dcwhite commented on #1454
![works](https://user-images.githubusercontent.com/1399383/57888539-af183880-77ef-11e9-821f-a0498c3fa567.png)

[2019-05-16 21:31] #1454 closed

[2019-05-16 21:47] dcwhite commented on #1084
![fixed2](https://user-images.githubusercontent.com/1399383/57889390-f1db1000-77f1-11e9-82ae-40b8addb8c2f.png)

[2019-05-16 21:47] #1084 closed

[2019-05-17 02:26] jessdtate opened #1934 "ShowField largish volumes"
**Description**

When running ShowField with a fairly large volume, say a latvol with 256x256x256, showfield will crash or produce an error.  However, 200x200x200 works.  Both the crash and the error seem related to the vector allocation.   Crashing vs error may relate to the amount of ram or the os.

**To Reproduce**
Steps to reproduce the behavior:
1. Make simple network with CreateLatvol and sh

[2019-05-17 02:28] jessdtate commented on #1934
memory pressure was not very high before crash.

[2019-05-17 17:45] dcwhite commented on #938
@Haydelj has some code to convert the output matrices to image format, could be useful.

[2019-05-17 17:51] dcwhite opened #1935 "ViewScene lighting part 2"
Part of #697

[2019-05-17 21:20] dcwhite opened #1936 "simplified InterfaceWithMatlab, part 2"
Continuation of #1637

[2019-05-18 02:37] dcwhite opened #1938 "SCIRun Macbook Touchbar"
Coming Qt widget should make it pretty easy:
https://www.kdab.com/qmactouchbar-has-landed/

Direct example: https://github.com/msorvig/qt-touchbar

[2019-05-18 02:49] dcwhite commented on #1934
We might be overflowing the iboBuffer value. It's a `uint32_t` which will max out at 4,294,967,295

[2019-05-18 02:54] dcwhite commented on #1412
@Haydelj and @RubioJr9 had a good look at this, and we need better thread synchronization to get the correct frame value. Somewhat non-trivial given the renderer is out doing its own thing on its own thread, and we don't want coupling with the execution thread of ViewScene. I'm going to rethink this, perhaps there's an easier way.

[2019-05-18 06:06] #1544 closed

[2019-05-18 06:11] #1482 closed

[2019-05-18 06:11] #1650 closed

[2019-05-20 21:08] dcwhite opened #1939 "ViewScene saved parameters are not applied when network is loaded"
ViewScene does not use the standard widget managers, so the saved state is inconsistently applied when loading saved networks. For instance, background scene color is loaded, but not fog color. We should move as much code to the standard pulling mechanism as possible.

[2019-05-21 17:07] dcwhite commented on #1474
The angle sliders work. Still need to figure out those circle/dot widgets--do we keep them?

[2019-05-21 17:22] Haydelj commented on #1934
I did some tests today and here is what I got:

256x256x256 latvol:
IBO size: 599,270,400
VBO size: 1,398,297,600

200x200x200 latvol:
IBO size: 285,127,200
VBO size: 665,296,800

So it looks like overflow is not a problem at this size.

[2019-05-22 02:54] #1637 closed

[2019-05-22 02:55] #1219 closed

[2019-05-22 15:05] #1928 closed

[2019-05-22 15:06] #1532 closed

[2019-05-23 18:30] dcwhite opened #1943 "Fix crash in ShowFieldGlyphs"
Occurs when trying to render vector fields without secondary or tertiary data. Here's the stack trace
[code]

[2019-05-23 18:54] dcwhite opened #1944 "Fix crashes with ShowScaleBar"
- [x] Before execution, crashes with a call to `VisibleItemManager`
- [ ] Also crashes later after multiple clicks, somewhere in the renderer (maybe same as above)
- [x] Fix default values of settings, they are too small/make it invisible

[2019-05-23 19:31] dcwhite opened #1945 "Slow VTK text file writing over network"
Try replacing `std::endl` with newlines to avoid lots of flushing. Found by @ajanson

[2019-05-23 20:07] dcwhite commented on #1922
Somewhat involved to verify NSIS versions. No one had a problem at today's lunch, so I'll close.

[2019-05-23 20:07] #1922 closed

[2019-05-23 20:08] dcwhite commented on #1065
@ajanson showed me a ~100 module network, and the GUI re-execute performance was not too bad. Still waiting on @jessdtate's monster networks.

[2019-05-24 17:50] dcwhite commented on #1943
??????

[2019-05-24 19:47] dcwhite commented on #1275
@jessdtate this one seems like an easy one for the interns. Should we schedule it for the summer too?

[2019-05-24 21:28] jessdtate commented on #1275
Yeah, that should be easy

[2019-05-25 22:12] jessdtate commented on #1394
@gduffley is the volume data that you are testing a structured mesh?  any example data.

[2019-05-25 22:23] gduffley commented on #1394
iirc it was any latvol. I'm not sure about other volumetric meshes

[2019-05-26 03:24] jessdtate commented on #1394
because of the potential to morph the mesh, structured meshes, such as latvol, have been precluded from the module.  The way that it is implemented, it wouldn't allow implementing structured data for the linear transformations without a major rewrite.  I have added an error check that is hopefully more helpful.  The workaround is to use ConvertMeshToUnstructuredMesh.

[2019-05-26 03:28] jessdtate commented on #1394
As alternative to using ConvertMeshToUnstructuredMesh, the new matrix port with the transform will also help.  The transform can be applied to a latvol if another mesh is used as the input.

[2019-05-26 03:33] jessdtate commented on #1394
It may be possible to refactor the module code to be more similar to TransformMeshWithTransform for the linear transform options.  Perhaps a new issue for that?

[2019-05-26 19:06] gduffley commented on #1394
The module could do the conversion automatically and output an unstructured mesh. I think any of these solutions are reasonable, and now that there is an error mesh it's fine. I reported it because you get a crash when there is no a priori reason to think the module wouldn't be compatible

[2019-05-28 18:43] #1943 closed

[2019-05-28 18:43] #1944 closed

[2019-05-29 21:56] #1909 closed

[2019-05-29 21:56] #1394 closed

[2019-06-06 19:46] dcwhite opened #1949 "Refactor new Ospray volume/colormap logic"
These need some cleanup. Follows #1911

[2019-06-07 17:41] dcwhite opened #1950 "Widgets for light and clipping plane controls"
- [ ] Add value labels for light position sliders
- [ ] Add reset buttons for light position sliders
- [ ] Add reset buttons for clipping plane sliders
- [ ] Add tooltips to explain basics of clipping plane and light sliders

[2019-06-09 19:08] jessdtate opened #1951 "missing buttons in GetMatrixSlice"
Ali Rababah found this bug.  On his windows machine, the buttons on the GetMatrixSlice module are not appearing (see image).  His screen resolution is 1080p.

![Make mapping matrix](https://user-images.githubusercontent.com/3484631/59162975-6c9a0100-8afa-11e9-8608-615e1ff2cd1a.jpg)

[2019-06-09 20:36] jessdtate commented on #1951
The buttons appear with the High DPI option enabled.

[2019-06-11 06:37] jessdtate opened #1952 "Ospray crashes with volume and series display"
**Describe the bug**
A clear and concise description of what the bug is.

For Mac crash bugs, please *DO NOT* paste an entire MacOS crash report here. Edit it down to just the stack trace of the thread that crashed, along with the general system info on the top.

**In all bug cases, some combination of screenshots, sample network(s), and input data should be attached. You can use any cloud storage

[2019-06-11 06:43] jessdtate commented on #1952
Crashed Thread: 0 Dispatch queue: com.apple.main-thread

Exception Type: EXC_BAD_ACCESS (SIGSEGV)
Exception Codes: KERN_INVALID_ADDRESS at 0x0000000000000000
Exception Note: EXC_CORPSE_NOTIFY

Termination Signal: Segmentation fault: 11
Termination Reason: Namespace SIGNAL, Code 0xb
Terminating Process: exc handler [0]

VM Regions Near 0:
-->
__TEXT 00000001005f9000-000000010061b000 [ 136K] r-x/rwx

[2019-06-11 06:43] jessdtate commented on #1952
Crashed Thread: 0 Dispatch queue: com.apple.main-thread

Exception Type: EXC_BAD_ACCESS (SIGSEGV)
Exception Codes: KERN_INVALID_ADDRESS at 0x0000000000000028
Exception Note: EXC_CORPSE_NOTIFY

Termination Signal: Segmentation fault: 11
Termination Reason: Namespace SIGNAL, Code 0xb
Terminating Process: exc handler [0]

VM Regions Near 0x28:
-->
__TEXT 0000000103fb6000-0000000103fd8000 [ 136K] r-x/

[2019-06-12 17:20] csverma610 opened #1953 "Qt5 Support"
Hello,

Can I use the software with qt5?

csv

[2019-06-12 20:53] dcwhite commented on #1953
Yes. Turn on QT5_BUILD in cmake, and then specify the Qt5 path. There are still some bugs and quirks to be fixed in the Qt5 version, see #1774, but that is future of the product. SCIRun works best with the latest Qt5, 5.12 or later.

[2019-06-14 05:27] csverma610 commented on #1953
Thank you very much for the guidance. I have been trying to build the
software but I get the same error:

                 from
/home/csverma/SCIRun-5.0-beta.CinC2018/bin/SCIRun/Interface/Modules/Render/moc_GLWidget.cpp:9:
/home/csverma/Software/System/Qt/Latest/include/QtCore/qcoreevent.h:264:9:
error: expected identifier before numeric constant
         Expose = 206,
         ^~~~~~
/home/csverm

[2019-06-14 19:37] dcwhite commented on #1953
That should be fixed in the latest code. Try the latest tag, https://github.com/SCIInstitute/SCIRun/releases/tag/v5.0-beta.W. I need to make an official release so it shows up on the release page better.

[2019-06-15 17:51] csverma610 commented on #1953
Hello Dan,

With the latest code, I got stuck with the following message:

CMake Deprecation Warning at Externals/libxml2/CMakeLists.txt:40
(CMAKE_POLICY):
  The OLD behavior for policy CMP0043 will be removed from a future version
  of CMake.

  The cmake-policies(7) manual explains that the OLD behaviors of all
  policies are deprecated and that a policy should be set to OLD only under
  specifi

[2019-06-17 19:36] dcwhite commented on #1953
It looks like this is a general problem with building from the source zip and using submodules, that is not quite solved yet:
https://github.com/dear-github/dear-github/issues/214

The easiest solution is to use git and just clone the repo, and then try to build. If you don't want to do that, you'll need to clone the submodules individually and make sure they're the correct versions. If you want,

[2019-06-17 19:45] dcwhite commented on #1953
This is also related to this issue, which has been around for a while: https://github.com/SCIInstitute/SCIRun/issues/902

[2019-06-18 20:27] csverma610 commented on #1953
Hello Dan,

Thank you very much. You suggested approach worked and I am able to see
some examples running.

Now, I would like to explore how hard it will be extend this framework to
create my own new modules.

Regards and thanks once again.

csv

On Mon, Jun 17, 2019 at 12:45 PM Dan White <notifications@github.com> wrote:

[2019-06-20 20:34] #1368 closed

[2019-06-21 17:30] Haydelj opened #1955 "Clipping plane performance with large windows"
Clipping planes slow down as the window gets bigger

[2019-06-25 19:57] dcwhite commented on #1938
https://github.com/KDAB/KDMacTouchBar

[2019-06-26 22:18] Haydelj opened #1956 "Show Field Refactoring and Optimization"
Refactor and optimize ShowField.

- [x] Remove nested if statements from face iteration loop.
- [x] Remove nested if statements from addFaceGeom and split it into multiple functions
- [x] Remove unused logic

[2019-06-28 17:29] #717 closed

[2019-06-28 17:29] #1705 closed

[2019-06-30 21:41] jessdtate opened #1959 "minor z fighting"
**Description**

With the autorotate feature, Z fighting can be a little more obvious.  See the video

[autorotate.mov.zip](https://github.com/SCIInstitute/SCIRun/files/3332324/autorotate.mov.zip)

**To Reproduce**
Steps to reproduce the behavior:
1. make a network to visualize a latvol
2. align latvol to an axis
3. autorotate along axis
4. see z fightting

**Expected behavior**
it would be nice i

[2019-06-30 21:44] jessdtate opened #1960 "move mouse autorotate to preferences window"
I think, for the sake of those who like this feature, that the autorotate with mouse feature should be saved in the preferences window instead of the viewscene.  It can even default to on with it there.  As it stands, the users need to enable it for every new network and new viewscene.

[2019-07-01 20:05] jessdtate commented on #1010
possibly related to #1539?  closing unless we get more data

[2019-07-01 20:05] #1010 closed

[2019-07-01 20:07] jessdtate commented on #1658
seems to be fixed in 10.13

[2019-07-01 20:07] #1658 closed

[2019-07-01 20:15] jessdtate commented on #1330
possibly related to #1537.  This happens on OS x with scipy.io and some other packages.

[2019-07-01 20:44] jessdtate commented on #1749
duplicate #1898

[2019-07-01 21:17] #1898 closed

[2019-07-01 21:17] #1749 closed

[2019-07-01 21:17] #1837 closed

[2019-07-02 21:13] Haydelj opened #1962 "SCIRun doesn't exit properly on Linux"
Closing SCIRun on Linux closes the Window but doesn't actually exit and return your terminal prompt.

[2019-07-02 21:20] dcwhite commented on #1962
Yeah I've seen this on Pop_OS (Ubuntu variant). Always had to open a new terminal tab/window, quite annoying.

[2019-07-19 17:42] dcwhite opened #1964 "Examine weak_ptr usage in SRInterface and renderer code"
Why? Lifetime management should be simpler, why not just use shared_ptr everywhere along with basic null checks?

[2019-07-19 18:21] dcwhite opened #1965 "ShowField functional testing w/o rendering"
As per discussion today, let's get a canonical ShowField test that loops through many mesh/field types, many colormaps, and all the UI options and makes a basic assertion about the geometry object output (to be further discussed). Google Parameterized tests can be used for this. This is a prerequisite for ShowField refactoring.

[2019-07-19 22:18] #991 closed

[2019-07-23 18:28] jessdtate opened #1968 "split VBOs for large mesh visualization"
There are still some issues with large mesh visualization, likely due to Opengl limitations.  Meshes above 4GB VBOs will either not show in viewscene or crash scirun.  Splitting VBOs above 4GBs may allow for these large meshes to visualize even when they exceed the limit.

This may be a good one to look at with #1956

[2019-07-26 16:37] RubioJr9 opened #1970 "Widget Movement"
- [x] Widgets need to be able to rotate and scale.
- [x] Widgets need to be able to apply transformations to multiple widgets simultaneously(ie. ShowAndEditDipoles).

[2019-07-26 16:39] dcwhite commented on #1970
Let's talk today about how we'll tackle this.

[2019-07-26 16:48] dcwhite opened #1971 "Support unicode in ShowString and other text-rendering modules"

[2019-07-26 18:37] jessdtate opened #1972 "autoview takes two clicks"
**Describe the bug**

Autoview doesn't seem to be updating the to the camera position (latest master).  when autoview is selected, then the camera is rotated, the center reverts to the previous position.

[test_two_box.srn5.zip](https://github.com/SCIInstitute/SCIRun/files/3436984/test_two_box.srn5.zip)

**To Reproduce**

1. Open and run network with two object with different centers visualized in

[2019-07-31 06:17] jessdtate commented on #1972
This may be only in PR #1966.  Master just autoviews to all the objects, even if some are hidden.

[2019-08-08 19:41] RubioJr9 opened #1974 "Launch New Instance does nothing on SCIRun build"
Versions:
Mac OS 10.12.6 and 10.13.6
Beta.x

Clicking Launch new instance works fine when built from source. However, on the built release, it does not open a new window.

[2019-08-08 19:45] RubioJr9 opened #1975 "Cones, Arrows, and Comets sometimes do not appear on SCIRun build"
Versions:
Mac OS 10.12.6 and 10.13.6
Beta.x

On some networks, cones, arrows, and comets do not render. Lines and needles do not have this issue. This has only been observed on the built version of SCIRun.

[2019-08-09 17:10] dcwhite commented on #1688
Let's try to get Windows Python up to 3.7. We don't want to require VS2013 anymore

[2019-08-12 20:49] #1965 closed

[2019-08-12 22:34] Haydelj commented on #1972
I believe this one was resolved with the last couple commits to PR #1966

[2019-08-12 22:58] #1972 closed

[2019-08-13 01:19] jessdtate opened #1977 "InterfaceWithPython input ports do not always pass inputs"
**Describe the bug**

Sometimes the InterfaceWithPython module will not properly assign data to the variables, ie, something like `field = fieldInput1` will only assign a nullptr to field.  There may be a race condition, as putting sleep in places in the module code will alter the results (not consistantly).  However, there is a problem with the parser, as sometimes the proper moduleid isn't used

[2019-08-13 01:21] jessdtate commented on #1977
[test_IWP_input_bug.srn5.zip](https://github.com/SCIInstitute/SCIRun/files/3494903/test_IWP_input_bug.srn5.zip)

This modification of actgauss-newton-inverse.srn5 responds differently to sleep commands in the module code (InterfaceWithPython.cc, in the execute function, around line 150)

[2019-08-19 18:25] jessdtate commented on #1977
If I edit the network file to rename the IWP modules to be sequential, ie, InterfaceWithPython:0, InterfaceWithPython:1, ..., it runs as long as it is a fresh instance of SCIRun.  For instance, here is the modified form of the previous network:
[test_IWP_input_bug_II.srn5.zip](https://github.com/SCIInstitute/SCIRun/files/3517148/test_IWP_input_bug_II.srn5.zip).  It will run fine, but if I load it

[2019-08-22 19:56] dcwhite commented on #1110
@jessdtate will test this one again, it might be fixed.

[2019-08-22 19:58] dcwhite commented on #468
We'll backlog this until there is a more specific problem related to this.

[2019-08-22 19:59] jessdtate commented on #1895
@jab0707 is this still a problem?  is there any more information on this?

[2019-08-22 19:59] jessdtate commented on #1895
example network would be helpful.

[2019-08-23 00:12] jessdtate commented on #1110
This effect is a result of the data in that when the min and max of the field data are used as isosurface values (the default of the module), the min and max isosurfaces are small or non-existent.  Since these values are by definition on the extremes of the range of the field values, it is mathematically impossible to generate a meaningful boundary surface along the value.  a point, or a single sm

[2019-08-23 00:12] #1110 closed

[2019-08-26 16:44] #1929 closed

[2019-08-27 18:54] #1926 closed

[2019-08-30 04:19] jessdtate commented on #1429
The ones I have problems with in my networks are the CalculateFieldData* and ReportMatrix*Measure.

[2019-08-30 15:28] #1977 closed

[2019-08-30 20:18] dcwhite commented on #1970
Closed with #1978

[2019-08-30 20:18] #1970 closed

[2019-08-30 20:22] dcwhite commented on #1956
Closed by #1976

[2019-08-30 20:22] #1956 closed

[2019-08-30 20:24] dcwhite commented on #1955
@Haydelj Did you fix this one?

[2019-08-30 20:24] dcwhite commented on #1960
I'll handle this one

[2019-08-30 20:26] Haydelj commented on #1955
@dcwhite No not yet

[2019-08-30 20:29] dcwhite opened #1981 "Qt 5: all subwindows appear first time app is loaded"
From #1774

[2019-08-30 20:29] dcwhite opened #1982 "Qt 5: Modules stack on top of each other until you hover over"
From #1774

[2019-08-30 20:30] dcwhite opened #1983 "Qt 5: Investigate all screens and module UIs for bad stylesheets"
From #1774

[2019-08-30 20:32] dcwhite commented on #1968
@Haydelj Should we close this now, or wait until edges and nodes are handled the same way?

[2019-08-30 20:33] Haydelj commented on #1968
@dcwhite Let's wait for the edges and nodes

[2019-09-03 22:17] dcwhite opened #1984 "Qt 5: Travis build"
- [x] Linux+qt5: testing clang/bionic now, need to test gcc.
- [ ] Mac: needs speeding up

[2019-09-04 22:32] dcwhite commented on #1984
https://github.com/travis-ci/travis-ci/issues/5278

[2019-09-06 20:02] dcwhite opened #1986 "Travis has Windows now"
C++ is now supported!

[2019-09-09 16:00] RubioJr9 commented on #1859
I'm pretty sure this is fixed now

[2019-09-13 16:45] #1962 closed

[2019-09-13 18:09] dcwhite opened #1988 "Upgrade Qwt to 6.1.4"
First release in three years.

[2019-09-16 16:51] RubioJr9 commented on #1932
I think we can close this issue. I'm pretty sure this was fixed a while back.

[2019-09-16 18:39] dcwhite commented on #1932
@jessdtate Agree?

[2019-09-16 18:49] jessdtate commented on #1932
yes

[2019-09-16 18:49] #1932 closed

[2019-09-16 18:57] dcwhite opened #1989 "Expanded ViewScene screenshot functionaity--share screenshot as issue"
Somewhat parallel to #938.

If we add a menu to the VS screenshot button

![image](https://user-images.githubusercontent.com/1399383/64984926-07844300-d881-11e9-8d32-34ea37f752de.png)

I can think of 3 options right now to code up:
1. (quick mode--TODO this issue or later) save screenshot to user's desktop using generated filename, no pop-up dialog
2. (current slot behavior) save screenshot after

[2019-09-19 17:39] Haydelj opened #1990 "Disappearing Scene"
When the frictionless spin feature is enabled the scene will sometimes disappear after releasing the left mouse button.

[2019-09-19 22:34] dcwhite commented on #1984
Mac is working. Still ought to get linux working too.

[2019-09-20 17:08] dcwhite commented on #1984
@RubioJr9 is going to help out with linux build settings.

[2019-09-23 17:38] dcwhite opened #1992 "Multi-sphere widget rendering broken"
Looks like `GeneratePointSamplesFromField(orWidget)` is broken in ViewScene. The output is still not created (tested with `i` key), but ViewScene does not display it as an object or list it. It might be a casting issue.

[2019-09-23 21:08] dcwhite opened #1993 "Qt 5: convert connect calls to new generic syntax"
https://wiki.qt.io/New_Signal_Slot_Syntax

[2019-09-26 21:45] dcwhite commented on #1975
@jab0707 @RubioJr9 Is this a problem in the latest build?

[2019-09-27 17:12] dcwhite opened #1996 "Widget selection in ViewScene doesn't work on 10.14"
@jessdtate has seen it on 10.12. From #1774

[2019-09-27 17:37] #914 closed

[2019-09-30 16:11] RubioJr9 commented on #1975
Yes I'm still seeing this

[2019-09-30 17:09] RubioJr9 commented on #1996
I'm still not seeing this.
On my imac running 10.13, I tested on a 2560x1440 and 1920x1200 monitor.
On my macbook pro(late 2013) running 10.14, it is working and it has a 2560x1600 screen.
The new macbook pros have the same resolution, except for the 15 inch version. I think high res doesn't have anything to do with the bug unless you both saw this on 15 inch models.

[2019-09-30 17:14] jessdtate commented on #1996
yeah, they were both 15 in.

[2019-09-30 17:26] dcwhite commented on #1996
Let's get @allywarner to test it with her 15"

[2019-09-30 17:29] dcwhite commented on #1774
Closing since all sub-issues are broken out into their own issues.

[2019-09-30 17:29] #1774 closed

[2019-09-30 19:51] dcwhite opened #2000 "Create tag/branch for qt4 build cutoff and change build requirements to qt5"
💯 x20

[2019-09-30 21:07] dcwhite opened #2003 "Make 4->5 network conversion scriptable to enable testing over example nets directory"

[2019-09-30 21:09] dcwhite commented on #1687
@jessdtate Is this still an issue? Test on 10.12 or 13 with Qt5, as Qt4 support will be dropped soon.

[2019-09-30 21:10] dcwhite commented on #1832
@Haydelj @RubioJr9 Could one of you see if this is still an issue?

[2019-10-01 21:03] #1968 closed

[2019-10-01 21:03] dcwhite commented on #1934
https://github.com/SCIInstitute/SCIRun/pull/1987

[2019-10-01 21:03] #1934 closed

[2019-10-04 18:13] dcwhite commented on #1779
This is an issue again! Probably due to camera fixes.

[2019-10-04 21:04] dcwhite commented on #1779
This should be fixed BEFORE Qt4 tag is made

[2019-10-04 21:05] dcwhite commented on #1992
This should be fixed BEFORE Qt4 tag is made

[2019-10-07 18:03] #1990 closed

[2019-10-09 17:42] dcwhite opened #2006 "Adjust alpha hues in createstandardcolormap, part 3"
Improve the functionality of the alpha graph editor:
- [ ] Delete alpha points
- [ ] Move alpha points
- [ ] Maybe more ideas

[2019-10-09 17:43] jessdtate opened #2007 "ShowFieldGlyph scalar glyphs centering is wrong"
The centering for scalar glyphs in showfieldglyphs is backward.  when the data is cell centered, the module generates glyphs on the nodes and vis-versa.

[2019-10-09 17:44] #1361 closed

[2019-10-09 20:07] dcwhite opened #2008 "Qt 5: Fix deprecated calls"
Many in the network editor code.

[2019-10-10 20:33] dcwhite commented on #1971
@jessdtate Beta or Post-beta?

[2019-10-10 20:35] dcwhite commented on #1939
This might be mostly fixed now, but the refactoring should still be done

[2019-10-10 20:35] dcwhite commented on #1945
Soon for this one

[2019-10-10 20:36] dcwhite commented on #1938
Post-qt5

[2019-10-10 20:37] dcwhite commented on #1931
@Haydelj November to-do?

[2019-10-10 20:52] dcwhite commented on #1874
I'm working on this one next week

[2019-10-10 20:59] dcwhite commented on #1925
@jessdtate Beta or post-beta?

[2019-10-10 21:00] dcwhite commented on #1923
Soon!

[2019-10-10 21:01] dcwhite commented on #1921
@jessdtate I'll need some examples posted--my python bug memory space is only like 24Kb

[2019-10-10 21:05] dcwhite commented on #1889
Another post qt5

[2019-10-10 21:05] dcwhite commented on #1880
Uhh...next week again

[2019-10-11 16:34] dcwhite commented on #1866
This build will be a good use case for the github action build.

[2019-10-11 16:35] dcwhite commented on #1776
@jessdtate Is this still relevant?

[2019-10-11 16:37] dcwhite commented on #1854
Sorely needed to make #1960 easier

[2019-10-11 16:38] dcwhite commented on #1841
@jessdtate Beta or post-beta?

[2019-10-11 16:38] dcwhite commented on #1830
I'll examine this next week

[2019-10-11 16:39] dcwhite commented on #1757
Another one to test post-Qt5

[2019-10-11 16:40] dcwhite commented on #1762
@Haydelj @RubioJr9 Any interest from you guys on this one?

[2019-10-11 16:41] dcwhite commented on #1768
We should incorporate these ideas after stress testing the github action build.

[2019-10-11 16:42] dcwhite commented on #1807
Post Qt5--I'll bump this up to X though

[2019-10-11 16:42] dcwhite commented on #1795
Next week, I guess...

[2019-10-11 16:43] dcwhite commented on #1787
@jessdtate Beta or post-beta?

[2019-10-11 16:44] dcwhite commented on #1811
@jessdtate One for Patel No. 2?

[2019-10-11 16:44] dcwhite commented on #1819
This will take most of November after the Qt5 stuff is all merged in.

[2019-10-11 17:01] jessdtate commented on #1841
I think this could be post-beta

[2019-10-11 17:04] jessdtate commented on #1787
I think @johaenns fixed this before he left, actually.  let me double check and see if we can close this

[2019-10-11 17:06] jessdtate commented on #1811
yeah. I just realized I haven't added her to the org yet.

[2019-10-11 17:06] jessdtate commented on #1971
this can be post-beta

[2019-10-11 17:07] jessdtate commented on #1925
this can be post-beta

[2019-10-11 22:30] Haydelj commented on #1996
The window size in relation to the recorded selection locations is chacking out. Could be a bad camera being passed in or a broken library function (either QT or OpenGL) not sure how either of those would be resolution dependant though...

[2019-10-12 22:47] Haydelj commented on #1996
I wrote some code to output the selection buffer here is what I got
Correct:
![correct](https://user-images.githubusercontent.com/28606560/66708584-d2e49980-ed0f-11e9-80be-2944efd1679b.png)
Incorrect:
![incorrect](https://user-images.githubusercontent.com/28606560/66708583-d2e49980-ed0f-11e9-9261-1ff8f60a9f99.png)

[2019-10-14 17:58] #2000 closed

[2019-10-14 18:01] dcwhite commented on #1996
Ah, no doubt inserted to convince us to give up OpenGL on Mac.

[2019-10-14 19:51] Haydelj commented on #1415
This was fixed as part of the showField(Glyphs) refactor

[2019-10-14 21:16] Haydelj commented on #1996
I found something interesting about scaling. It looks like enabling scaling will actually increase the resolution output to the display.
![Screen Shot 2019-10-14 at 3 12 36 PM](https://user-images.githubusercontent.com/28606560/66783634-8dea6f80-ee95-11e9-88a5-67bf279b2461.png)
![Screen Shot 2019-10-14 at 3 13 02 PM](https://user-images.githubusercontent.com/28606560/66783644-95117d80-ee95-11e9-85

[2019-10-15 17:26] dcwhite commented on #1509
@jessdtate Beta or post-beta?

[2019-10-15 17:27] dcwhite commented on #1753
@jessdtate Good one for new intern?

[2019-10-15 17:27] dcwhite commented on #1746
@jessdtate Intern work?

[2019-10-15 17:28] dcwhite commented on #1744
@jessdtate Not sure how relevant these parameters are now. Do we need a meeting on this one?

[2019-10-15 17:29] dcwhite commented on #1738
@jessdtate Any result of the examination? 😃

[2019-10-15 17:30] dcwhite commented on #1734
I'll test this one again on latest.

[2019-10-15 17:30] dcwhite commented on #1720
@jessdtate Beta or post-beta?

[2019-10-15 17:31] dcwhite commented on #1714
Reminder: remove PyBind submodule for now.

[2019-10-15 17:31] dcwhite commented on #1711
@jessdtate Beta or post-beta?

[2019-10-15 17:32] dcwhite commented on #1710
This needs to be after the cascade of external version upgrades.

[2019-10-15 17:35] dcwhite commented on #1709
A good December issue!

[2019-10-15 20:04] dcwhite commented on #1703
@jessdtate Intern project?

[2019-10-15 20:05] dcwhite commented on #1692
Need to circle back on this one--the fix broke other things.

[2019-10-15 20:06] jessdtate commented on #1509
This can be post-beta

[2019-10-15 20:06] dcwhite commented on #1688
In progress

[2019-10-15 20:06] dcwhite commented on #1686
@jessdtate Beta or post-beta?

[2019-10-15 20:07] dcwhite commented on #1674
This needs further testing with all the new renderer changes.

[2019-10-15 20:08] dcwhite commented on #1671
@jessdtate Another intern issue?

[2019-10-15 20:08] jessdtate commented on #1753
yeah, this would be good for @nids2001.

[2019-10-15 20:09] jessdtate commented on #1746
Yeah, this is something they can tackle for sure.  Perhaps when QT5 is running smoother.

[2019-10-15 20:12] jessdtate commented on #1744
I think these still need to be address.  We can meet if you want.

[2019-10-15 20:13] jessdtate commented on #1738
Shoot.  I forgot to do it.  I might sit with one of the interns to do this

[2019-10-15 20:13] jessdtate commented on #1720
Post-beta

[2019-10-15 20:14] jessdtate commented on #1711
post

[2019-10-15 20:15] jessdtate commented on #1703
Yeah, @RubioJr9 and @Haydelj want a crack at this.

[2019-10-15 20:18] jessdtate commented on #1686
The first one (assign RGBA channels) can be beta, but doesn't have to be (it's kind of possible with Showfieldglyphs).  The others should probably be post-beta.

[2019-10-15 20:20] jessdtate commented on #1671
Yeah, it could be.

[2019-10-16 15:50] dcwhite commented on #1744
Could @allywarner work on this one?

[2019-10-16 15:53] dcwhite commented on #1703
Great!

[2019-10-16 15:54] dcwhite commented on #1450
Need to update this one for Qt5's mouse settings.

[2019-10-16 15:55] dcwhite commented on #1443
@jessdtate Beta or post-beta?

[2019-10-16 15:56] dcwhite commented on #1528
Yeah I'll still do this one.

[2019-10-16 15:57] dcwhite commented on #1531
The regression folder is now divided up, but this issue can be for enabling regression testing using Github actions, which allows more time for the build and stays in the cloud. Still a good training issue. Have interns work on it @jessdtate?

[2019-10-16 15:58] dcwhite commented on #1534
@jessdtate Another good intern issue...

[2019-10-16 15:58] dcwhite commented on #1536
After Qt5 quirks are fixed

[2019-10-16 15:59] dcwhite commented on #1537
These type of issues might be open forever

[2019-10-16 16:00] dcwhite commented on #1541
This one needs breaking up into sub-issues

[2019-10-16 16:02] dcwhite commented on #1547
@jessdtate Another good intern one, but it will need some guidance since it will involve lots of files.

[2019-10-16 16:04] dcwhite commented on #1560
Need more requirements for this, from actual headless users (as opposed to users without heads).

[2019-10-16 16:04] dcwhite commented on #1556
@jessdtate We should review this one with @nids2001.

[2019-10-16 16:05] dcwhite commented on #1551
@jessdtate Let's discuss this one at the next intern meeting, to see if they think it would have been/could be useful.

[2019-10-16 16:07] dcwhite commented on #1526
@jessdtate @RubioJr9 @Haydelj Needs testing on various newer MacOSes! Please add feedback.

[2019-10-16 16:08] dcwhite commented on #1520
Need comprehensive Windows resolution testing, now that we're in Qt5.13.

[2019-10-16 16:10] dcwhite commented on #1518
This would make more sense if SCIRun used a database as a file format, saving session information (provenance, etc) too. That's a separate larger issue however.

[2019-10-16 16:11] dcwhite commented on #1517
@jessdtate Another one to talk about with the interns and newer grad students.

[2019-10-16 16:11] dcwhite commented on #1516
@jessdtate Beta or post-beta?

[2019-10-16 16:12] dcwhite commented on #1515
@jessdtate Intern yeah?

[2019-10-16 16:12] dcwhite commented on #1514
@jessdtate This is done, right? It needs updating, but the site is functional.

[2019-10-16 16:15] dcwhite commented on #1422
@jessdtate This one is vague. Do you have any items to add to this feature yourself?

[2019-10-16 16:16] dcwhite commented on #1392
@jessdtate Might be a fun one for interns if they want a "break" from graphics coding.

[2019-10-16 16:17] dcwhite commented on #1400
@jessdtate How backlogged is this whole project? Like back-burner, or totally out of the kitchen?

[2019-10-16 16:17] dcwhite commented on #1420
OK I'll work on this one soon.

[2019-10-16 16:19] dcwhite commented on #1689
See #1400

[2019-10-16 16:23] dcwhite commented on #1663
@jessdtate Any other CIBC products figure this out yet?

[2019-10-16 16:24] dcwhite commented on #1646
Definitely beta.

[2019-10-16 16:25] dcwhite commented on #1412
The old implementation is totally broken with the new widget. I will investigate better (network infrastructure-based) ways to get the data.

[2019-10-16 16:26] dcwhite commented on #1440
@jessdtate Beta or post-beta?

[2019-10-16 16:26] dcwhite commented on #1474
@jessdtate Beta or post-beta?

[2019-10-16 16:27] dcwhite commented on #1479
@jessdtate Any status updates on MLM stuff?

[2019-10-16 16:35] jessdtate commented on #1443
I think they still need this, but I'm not sure how badly. I think post-beta will be fine

[2019-10-16 16:36] jessdtate commented on #1531
Yeah, sounds good.

[2019-10-16 16:37] jessdtate commented on #1744
Yeah, this is something @allywarner can work on.  We can meet to talk this.

[2019-10-16 16:39] jessdtate commented on #1539
If we can get this in beta, it would helpful

[2019-10-16 16:45] jessdtate commented on #1540
I think we should do it if we can, but I think it is still low priority.

[2019-10-16 16:46] jessdtate commented on #1547
yeah, this is one of my plans for @nids2001.

[2019-10-16 16:47] jessdtate commented on #1524
I agree

[2019-10-16 16:47] jessdtate commented on #1534
yes

[2019-10-16 16:49] jessdtate commented on #1556
yes

[2019-10-16 17:07] dcwhite commented on #1569
Beta for sure

[2019-10-16 17:07] dcwhite commented on #1570
Beta for sure

[2019-10-16 17:08] dcwhite commented on #1625
Need to re-investigate with Qt5 now.

[2019-10-16 17:09] dcwhite commented on #1384
Needs better test coverage.

[2019-10-16 17:09] dcwhite commented on #1385
This one will be fun.

[2019-10-16 17:10] dcwhite commented on #1396
@jessdtate Not sure what to do with this one.

[2019-10-16 19:26] jessdtate commented on #1663
no, but it is still on my wishlist

[2019-10-16 19:30] jessdtate commented on #1396
It's still a problem with both SCIRun and Seg3D (seg3D is slightly worse) it has to do with linking the packages better in cmake.  One of the nice things with SR4 was that the executable would launch from anywhere

[2019-10-16 19:35] jessdtate commented on #1474
we implemented some sliders to do the same thing, but the dot widget still moves around. it is a bit confusing.  I'm fine going to the sliders only, but it is unfinished in its current state.

[2019-10-16 19:38] jessdtate commented on #1440
we haven't been able to replicate it yet.  We can have one of the interns try it.

[2019-10-16 19:39] jessdtate commented on #1392
sure

[2019-10-16 19:40] jessdtate commented on #1515
Yeah, @nids2001 is working on it.

[2019-10-16 20:37] jessdtate commented on #1517
Ok.  Let's talk about this Friday, then see where to go from there.

[2019-10-16 20:37] jessdtate commented on #1516
this can be post-beta

[2019-10-16 20:38] jessdtate commented on #1514
Yeah, you're right. You can do the honors

[2019-10-16 20:41] jessdtate commented on #1422
I added some documentation into the Python api page. not sure what else could be done.  I think there are still some context bugs, but they are more general to the python engine.

[2019-10-16 20:45] jessdtate commented on #1400
Well, @moritzdannhauer and @johaenns left, it has been somehow slower.  I think the closest project to using this is probably TMS, which is a ways off from using it.

[2019-10-16 20:49] jessdtate commented on #1526
Aside from the fact that I dislike full screen mode, seems to work fine for me.
os x 10.14
qt 5.13

[2019-10-16 22:40] #1514 closed

[2019-10-17 15:09] dcwhite commented on #1479
See email from CRJ.

[2019-10-17 15:10] dcwhite commented on #1419
@jessdtate Probably too advanced for interns. Documentation lunch time?

[2019-10-17 15:11] dcwhite commented on #1487
New idea: Github action build.

[2019-10-17 15:14] dcwhite commented on #1507
I did this one! But it only works for parenthesis. @jessdtate Would `[]` and `{}` matching be useful too?

[2019-10-17 15:16] dcwhite commented on #1512
@jessdtate Intern issue or no?

[2019-10-17 15:21] dcwhite commented on #1348
@jessdtate @Haydelj @RubioJr9 Let's have a race between the two interns to see who can code up more colormap functions in the next week. We can discuss tomorrow.

[2019-10-17 15:22] dcwhite commented on #1349
This might be defunct, only appearing on old hardware. Needs more testing. The code is still crappy, however.

[2019-10-17 15:23] dcwhite commented on #1350
Obviously this needs the VS output ports to work properly first. The priority needs to be raised before we start adding more features or attempting conversion to Qt6/non-OpenGL.

[2019-10-17 15:25] dcwhite commented on #1354
If we add more new modules with tables, then this should be worked on.

[2019-10-17 15:25] dcwhite commented on #1355
Post-intern work...

[2019-10-17 15:26] dcwhite commented on #1360
Also needs Resharper

[2019-10-17 15:27] dcwhite commented on #1363
@jessdtate Next for interns?

[2019-10-17 15:32] dcwhite commented on #1626
@jessdtate Another good intern one.

[2019-10-17 15:33] dcwhite commented on #1602
Still needs to be done.

[2019-10-17 15:33] dcwhite commented on #1594
This might be easier with Github Actions, given the increased time allotment.

[2019-10-17 15:34] dcwhite commented on #1582
This is related to #1795. They can probably be closed together.

[2019-10-17 15:44] dcwhite commented on #1574
@jessdtate Is this in the documentation?

[2019-10-17 15:45] dcwhite commented on #1381
This should be beta.

[2019-10-17 15:45] dcwhite commented on #1380
Beta too

[2019-10-17 15:46] dcwhite commented on #1380
Oh already beta!

[2019-10-17 15:46] dcwhite commented on #1379
Perfect issue for @Haydelj and @RubioJr9 😆

[2019-10-17 23:35] jessdtate commented on #1419
That could be a good idea.  These aren't as frequently used so it will be a bit of learning while documenting.

[2019-10-17 23:38] jessdtate commented on #1507
Nice.  Yeah, `[]` and `{}` are used all the time in Python

[2019-10-17 23:40] jessdtate commented on #1512
Maybe by the time we get the rest of the Qt things working they could tackle something like this.

[2019-10-17 23:44] jessdtate commented on #1363
Sure

[2019-10-18 02:07] dcwhite commented on #1342
@jessdtate Definitely intern fun issue

[2019-10-18 02:10] dcwhite commented on #1341
Not sure if I did the initial refactoring, I'll take another look

[2019-10-18 02:10] dcwhite commented on #1336
Depends on the automatic test begin done.

[2019-10-18 02:12] dcwhite commented on #1305
Need to test new Qt5 installer on 10.12+

[2019-10-18 02:12] dcwhite commented on #1299
@jessdtate Could you make an example for this one?

[2019-10-18 02:13] dcwhite commented on #1295
Depends on Python upgrade path (gotta get off of 3.4 on Windows first, then ship 3.6 on Mac)

[2019-10-18 02:14] dcwhite commented on #1290
@jessdtate Definitely for @RubioJr9

[2019-10-18 02:14] dcwhite commented on #1289
@jessdtate Another fun intern issue!

[2019-10-18 02:15] dcwhite commented on #1275
@jessdtate Interns need to do this one. Fun test of aesthetics.

[2019-10-18 02:16] dcwhite commented on #1269
We've finally dropped CMake 2, so maybe I can look at this one now, it might fix Ospray deployment...

[2019-10-18 02:17] dcwhite commented on #1252
@jessdtate Would this solve some python module loading problems?

[2019-10-18 17:55] jessdtate commented on #1517
have the new user wizard more obvious.  Perhaps a pop-up or splash screen option.

[2019-10-18 20:39] jessdtate commented on #1252
some, but not all.  This would shorted the workarounds that we do with setting the path with the triggered events.  I think it would still be nice if we could do this.

[2019-10-21 15:11] dcwhite commented on #1238
@jessdtate Can you test again with latest renderer+Qt5?

[2019-10-21 15:11] dcwhite commented on #1227
@jessdtate No action on the unit testing front, oh well.

[2019-10-21 15:12] dcwhite commented on #1224
@jessdtate Any new compelling use case? UQ?

[2019-10-21 15:13] dcwhite commented on #1223
@jessdtate This might be a good current intern issue.

[2019-10-21 15:13] dcwhite commented on #1222
@jessdtate Another good intern issue

[2019-10-21 15:13] dcwhite commented on #1221
@jessdtate Still haven't testing on Windows, so this remains open.

[2019-10-21 15:14] dcwhite commented on #1211
@jessdtate For interns?

[2019-10-21 15:15] dcwhite commented on #1209
Waiting on a CUDA-phile...

[2019-10-21 15:16] dcwhite commented on #1202
@Haydelj @RubioJr9 Who wants this one?

[2019-10-21 15:17] dcwhite commented on #1195
I'll just do this one.

[2019-10-21 15:18] dcwhite commented on #1184
@jessdtate This one probably needs a review, plus interns.

[2019-10-21 15:18] dcwhite commented on #1177
@jessdtate How important is this one nowadays?

[2019-10-21 17:59] jessdtate commented on #1238
-e seems to work with qt5.13 on 10.12 with master branch.

[2019-10-21 18:07] jessdtate commented on #1224
UQ is one that will need better integration.  the duality stuff could also be a good example

[2019-10-21 18:10] jessdtate commented on #1222
yeah, they could tackle this

[2019-10-21 18:11] jessdtate commented on #1211
yeah.  we need to meet to discuss the format and things.  It's very different in 5 than 4

[2019-10-21 18:20] dcwhite commented on #1152
@jessdtate will clarify what needs to be fixed with a checklist

[2019-10-21 18:21] jessdtate commented on #1184
We can work on the command parameters, but I'm willing to let that one go if there are significant hurdles to getting it work.

The autosave images is still the main part.  @Haydelj ran into a dead end when he worked on it and he may need some of your help with it.  Maybe we can discuss this in the next meeting.

[2019-10-21 18:31] jessdtate commented on #1177
These are needed at least once a year.  I've been doing it for the grant cycles.  It would be nice if we had a more automated system, but this one works.  I didn't know this issue was here, it's nice to have these link centralized.

[2019-10-21 18:32] jessdtate commented on #1177
The Developer tools repo contains some download scripts:
https://github.com/SCIInstitute/DeveloperTools/tree/master/DownloadStatsScripts

[2019-10-21 19:23] dcwhite commented on #1156
@jessdtate Another good one for @nids2001?

[2019-10-21 19:23] dcwhite commented on #1162
@jessdtate Beta or post-beta?

[2019-10-21 19:24] dcwhite commented on #1170
This should be looked at in Qt5--with module locations all screwy, might get fixed for free.

[2019-10-21 19:25] dcwhite commented on #1174
This can be part of the Github actions build.

[2019-10-22 05:10] jessdtate commented on #1162
can be post

[2019-10-22 05:12] jessdtate commented on #1156
Yeah, I think so.  I'll talk to her

[2019-10-22 18:42] dcwhite commented on #1108
@jessdtate Needs adding to new user wizard. Intern?

[2019-10-22 18:49] dcwhite commented on #1102
@jessdtate Beta or post-beta?

[2019-10-22 18:52] dcwhite commented on #1096
This is complete--we don't use `sudo` anymore.

[2019-10-22 18:52] #1096 closed

[2019-10-22 18:52] dcwhite commented on #1085
@jessdtate Beta or post-beta?

[2019-10-22 18:53] dcwhite commented on #1065
@jessdtate Still waiting on your monster networks.

[2019-10-22 18:53] dcwhite commented on #1058
Need to test with already-jumpy Qt5 network editor.

[2019-10-22 18:54] dcwhite commented on #1050
Need to cross reference this with new Qt5 interface.

[2019-10-22 18:54] dcwhite commented on #1038
Needs a test with latest VS+Qt5.

[2019-10-22 18:58] dcwhite commented on #1031
@jessdtate Beta or post-beta?

[2019-10-22 19:11] dcwhite commented on #1012
@jessdtate Is the Texture datatype/renderer a requested feature in general? Or is this the main use case?

[2019-10-22 19:11] dcwhite commented on #1009
@jessdtate Interns need to verify this can be closed.

[2019-10-22 19:12] dcwhite commented on #1008
@jessdtate Interns can probably close this one too.

[2019-10-22 19:14] dcwhite commented on #1000
@jessdtate @Haydelj @RubioJr9 Add cool ideas here. Examples:
- [ ] XP/achievements bar
- [ ] April 1st trick mode
- [ ] Microtransactions

[2019-10-22 19:15] dcwhite commented on #986
@jessdtate Need an update on this one.

[2019-10-22 21:37] jessdtate commented on #986
There are some instability when generating the tag layer boxes: it still crashes sometimes and it is possible to save the network in a way that will crash after load.  These are hard bugs to reproduce on purpose.

[2019-10-22 23:01] jessdtate commented on #1299
Passing sparse back from IWP seems to be working on a pass through.  Is there an API to send python data to a scirun module port?

[2019-10-22 23:07] jessdtate commented on #1921
this can be as simple as:
[code]
Trying to run code like this in the console window or *top-level tab of interfacewithpython* will exit out of the loop after the `for k in range(5):` line, so it is impossible to do significant loop or if statement.

[2019-10-22 23:11] jessdtate commented on #1921
The one I wanted to use in the IWP top level tab, but could not, is

[code]

[2019-10-22 23:19] jessdtate commented on #1102
this can be post

[2019-10-22 23:20] jessdtate commented on #1108
sure, we can put an intern on it when we tackle the wizard

[2019-10-22 23:21] jessdtate commented on #1085
Beta if we can

[2019-10-22 23:23] jessdtate commented on #1031
beta, if reasonable

[2019-10-22 23:28] jessdtate commented on #1012
The texture data class in SR4 was useful for getting hardware speedups for some applications.  The show texture slice was a good example.  Although we can currently get a similar visualization with GetSliceFromStructuredField, a texture implementation could be much faster, which was the case in SR4.  Volume rendering was also implemented through the texture class.

[2019-10-22 23:31] jessdtate commented on #1000
nice use of the millennial number

[2019-10-23 00:03] jessdtate commented on #1238
qt-dev branch doesn't crash with either flag.  I don't think it waits for the renderer to finish before closing with `-E`.  similar to the snapshot and output port problems.

[2019-10-23 16:41] dcwhite commented on #975
Test in Qt5.

[2019-10-23 16:42] dcwhite commented on #791
Check in Qt5!

[2019-10-23 17:52] #1953 closed

[2019-10-23 18:49] dcwhite commented on #957
@jessdtate Have you seen this one (much) recently?

[2019-10-23 18:49] dcwhite commented on #948
@jessdtate For interns or keep in backlog?

[2019-10-23 18:50] dcwhite commented on #940
I think the delay on this one was I refactoring some parser classes which made the additional parser classes harder to convert over. I will look at this one again soon.

[2019-10-23 18:51] dcwhite commented on #938
For @RubioJr9  to work on after #1997 is merged

[2019-10-23 18:52] dcwhite commented on #928
@Haydelj @RubioJr9 Another good one to work on

[2019-10-23 18:53] dcwhite commented on #916
And boost::stacktrace.

[2019-10-23 18:53] dcwhite commented on #902
@jessdtate How important is this in 2019? We just keep adding more external libraries...

[2019-10-23 18:54] dcwhite commented on #968
We at last good people working on deep graphics problems, so look for a fix next year maybe...

[2019-10-23 19:00] dcwhite commented on #22
@jessdtate This ancient document can be closed now, I believe. Unless @Haydelj and @RubioJr9 really want a code history lesson.

[2019-10-23 19:56] jessdtate commented on #957
I haven't seen it lately, but I don't think it has gone away.  It seems to have something to do with turning off the object in the VS configure menu.

[2019-10-23 20:00] jessdtate commented on #948
I think this one needs more help than the interns can do alone.  This is related to the auto save screen shot which they are stuck on.

[2019-10-23 20:02] jessdtate commented on #902
I don't think this needs to be implemented in 2019.  We can revisit, probably post beta and see if this still makes sense.

[2019-10-23 20:04] jessdtate commented on #972
I really like this idea too.  I think it can be a part of many projects, but I'm not sure it would be a priority in many of them.

[2019-10-23 20:04] jessdtate commented on #22
agreed

[2019-10-23 20:14] #22 closed

[2019-10-24 17:13] #1779 closed

[2019-10-24 17:17] dcwhite commented on #894
@jessdtate Has this one changed in priority? How long will Matlab support their old file format?

[2019-10-24 17:18] dcwhite commented on #887
Qwt was in fact integrated, but does not seem to be developed actively. This would be a replacement, but we'd need to solve numpy packaging problems first.

[2019-10-24 17:19] dcwhite commented on #886
@jessdtate This issue needs some attention.

[2019-10-24 17:21] dcwhite commented on #872
@jessdtate How is cell-walk these days?

[2019-10-24 17:22] dcwhite commented on #862
@jessdtate Is this intern-able?

[2019-10-24 17:23] dcwhite commented on #851
@jessdtate Does Ospray volume rendering close this issue?

[2019-10-24 17:25] dcwhite commented on #833
@jessdtate This really needs to be done, as it's a key feature. Let's discuss with interns (since the renderer makes it unstable) next available meeting.

[2019-10-24 21:38] nids2001 commented on #957
Missing geometry in ViewScene:
[defib_tutorial_ch3.srn5.zip](https://github.com/SCIInstitute/SCIRun/files/3769524/defib_tutorial_ch3.srn5.zip)

Same network, but working:
[defib_tutorial_ch_3_2.srn5.zip](https://github.com/SCIInstitute/SCIRun/files/3769581/defib_tutorial_ch_3_2.srn5.zip)

[2019-10-24 23:19] jessdtate commented on #851
Yeah, Ospray can fill this need

[2019-10-24 23:25] jessdtate commented on #862
yeah, totally

[2019-10-25 00:16] jessdtate commented on #872
I haven't used it much, but the example in the issue doesn't produce any output.

[2019-10-25 00:20] jessdtate commented on #886
I think the only thing left is the extra gui options.   We don't have to implement those, or we can move to it's own issue

[2019-10-25 00:22] jessdtate commented on #894
I don't think it has changed.  I also don't think that matlab plans to stop supporting the old formats anytime soon.

[2019-10-25 01:19] jessdtate commented on #1065
This is hardward dependent, but I am surprised that I am not seeing this anymore in some of my old nets or in the ones I'm trying to run.  I've attached a network with >200 modules, and it's executing fine on my my 10.12 and 10.15 machine.  There may actually be a speed up from qt 5

[sandbox_large.srn5.zip](https://github.com/SCIInstitute/SCIRun/files/3769988/sandbox_large.srn5.zip)

[2019-10-25 01:27] jessdtate commented on #1065
Yes, running the example network in qt4 took ~ 30 sec to check the rexecute.  This took about 2 seconds with qt5 on the same machine (10.12).  Net loading and responsiveness was faster in qt5 (5.13) too.

[2019-10-25 17:46] #1992 closed

[2019-10-28 19:01] dcwhite commented on #393
This will still be useful as part of the big provenance project, but unsure when it will be implemented.

[2019-10-28 19:01] dcwhite commented on #647
@jessdtate Know anyone who could work on this?

[2019-10-28 19:02] dcwhite commented on #648
@jessdtate Might be one for @RubioJr9

[2019-10-28 19:08] dcwhite commented on #654
@jessdtate We do still need to organize all the testing processes better. Is Trello the way to go, or should we investigate some other tool?

[2019-10-28 19:09] dcwhite commented on #655
@jessdtate Any other user examples for this one?

[2019-10-28 19:14] dcwhite commented on #664
@jessdtate User examples?

[2019-10-28 19:16] dcwhite commented on #408
CalculateSignedDistanceToFieldModuleTests::MakesAlgoDecisionBasedOnValuePortConnection is the one to test again, maybe it was in error.

[2019-10-28 19:17] dcwhite commented on #406
This is an important one if we need to fragment the build into more discrete steps, which would remove timeouts and maybe shorten the Travis turnaround time.

[2019-10-29 01:18] dcwhite commented on #691
@jessdtate Solicit ideas from interns for this?

[2019-10-29 01:18] dcwhite commented on #694
This one should be upcoming.

[2019-10-29 01:18] dcwhite commented on #697
Upcoming

[2019-10-29 01:19] dcwhite commented on #698
This has started, but we need a nice GUI.

[2019-10-29 01:20] dcwhite commented on #825
Need to expand python regression test to handle this.

[2019-10-29 01:21] dcwhite commented on #533
The above comment still applies. Need to meet with @jessdtate for a solution.

[2019-10-29 01:22] dcwhite commented on #787
@jessdtate Maybe by next IBBM?

[2019-10-29 16:15] dcwhite commented on #501
@jessdtate Any updates on this idea?

[2019-10-29 16:16] dcwhite commented on #490
I'll get to this one eventually.

[2019-10-29 16:17] dcwhite commented on #544
Need more examples of this.

[2019-10-29 16:18] dcwhite commented on #560
@Haydelj This old issue is related to a comment we saw once in the code. I'm not sure it still applies, but I'll keep this open for memory improvement ideas.

[2019-10-29 16:21] dcwhite commented on #587
@jessdtate ShowMatrix a good one for interns?

[2019-10-29 16:23] dcwhite commented on #415
This is beta-required.

[2019-10-29 16:24] dcwhite commented on #409
To do this efficiently, I'll take it--it should be in beta.

[2019-10-29 16:25] dcwhite commented on #360
@jessdtate Probably not much work done on this, I assume, but should we keep it open?

[2019-10-29 16:27] dcwhite commented on #336
The C++/Github version is paid only. I could try a trial and check it out.

[2019-10-29 16:29] dcwhite commented on #279
@jessdtate Good one for interns? Now that the screenshot utility is getting worked on...movies might not be far off

[2019-10-29 16:34] dcwhite commented on #426
@jessdtate Any knowledge on this one?

[2019-10-29 16:37] dcwhite commented on #300
@jessdtate Another one that Qt5 might solve.

[2019-10-29 17:09] dcwhite commented on #250
@jessdtate Another good intern one?

[2019-10-29 17:11] dcwhite commented on #237
@jessdtate This is post-beta, but should it still be on the plate for v5?

[2019-10-29 17:16] dcwhite commented on #640
@jessdtate How important is this one (being able to generate pdfs from latex as part of the scirun build)? Can it be a separate project entirely? I guess it at least needs to wait for the scirun.pages to be merged here.

[2019-10-29 17:17] dcwhite commented on #718
Guess I'll just do this one.

[2019-10-29 17:18] dcwhite commented on #679
Aha! Another one Qt5 fixed. Closing now.

[2019-10-29 17:18] #679 closed

[2019-10-29 18:02] dcwhite commented on #665
This is still a good idea, probably in submodule form.

[2019-10-29 18:04] dcwhite commented on #725
Not a lot of new modules using tables.

[2019-10-29 18:05] dcwhite commented on #757
@jessdtate Not sure what's up with this one.

[2019-10-29 18:06] dcwhite commented on #645
I think this still occurs. Need latest compiler testing.

[2019-10-29 18:07] dcwhite commented on #483
@jessdtate A good "advanced intern" one

[2019-10-29 18:08] dcwhite commented on #479
@jessdtate Any comments on this one?

[2019-10-29 18:09] dcwhite opened #2016 "Review old Gforge bug list"
https://gforge.sci.utah.edu/gf/project/cibc/tracker/?action=TrackerItemBrowse&tracker_id=475&start=75

[2019-10-29 18:11] dcwhite commented on #477
I need to split this one up.

[2019-10-29 18:13] dcwhite commented on #468
I could also just add some `throws` in the interface code and see what happens. Like what's common in the Glyphs module...

[2019-10-29 18:28] dcwhite commented on #442
Need Resharper again!

[2019-10-29 21:22] dcwhite commented on #117
Need to test Qt5. I don't think I've seen it there.

[2019-10-30 00:10] jessdtate commented on #655
Butson's students use this format.  We can ask them for some examples.

[2019-10-30 00:12] jessdtate commented on #664
We'd have to use ITK.  are we up for that?  We can use the dicoms in Seg3D data (https://github.com/CIBC-Internal/Seg3DData)

[2019-10-30 00:13] jessdtate commented on #691
Yeah, if there is a easy way to do this, I don't think anyone would say no, but I'm not sure that it is in as much demand.  There are some os native readers for stl, for example