[2016-01-28 22:38] #1268 closed

[2016-01-28 23:26] #1282 closed

[2016-01-28 23:26] #1296 closed

[2016-01-28 23:26] #1298 closed

[2016-01-28 23:46] jessdtate commented on #1295
installing numy and scipy is very easy (for me) using pip:

cd "scirun_root"/bin/Externals/Install/Python_external/bin/
./python3 -m pip install numpy

similar for scipy, matplotlib and other major packages.

[2016-01-28 23:57] aylakhan commented on #1295
Which OSs did you test on?

[2016-01-29 00:06] jessdtate commented on #1295
OS X 10.10.

[2016-01-29 01:31] aylakhan commented on #1295
Linux will probably work then. This needs testing on Windows.

[2016-01-29 16:57] jessdtate commented on #370
matrix output for pythoninterface is not correct.

matrix sent = [[1,2,3],[4,5,6]]
matrix seen = [[ 1,1,1],[5,5,5]]

[2016-01-29 17:00] jessdtate commented on #370
string output has a lot of stuff:

output:
INPUT FROM InterfaceWithPython:0 port 2 NAME = InputString  Typename: String straight outta python

string should be :
'String straight outta python'

[2016-01-29 17:07] allywarner opened #1305 "Icons in 10.11 are large and not to scale with the module"
Image sent to Dan White via Slack.

![scirun_icon](https://cloud.githubusercontent.com/assets/1399383/12682478/f0de5ac6-c670-11e5-98a0-69c3f7aafb5e.jpg)

[2016-01-29 17:14] dcwhite commented on #1305
I'll wait to investigate this until after the Qt 5 upgrade.

[2016-01-29 19:09] dcwhite commented on #1221
I'll keep this issue open until we get this tested on more platforms.

[2016-01-29 19:15] dcwhite commented on #370
Fixed!

[2016-01-29 19:15] #268 closed

[2016-01-29 19:15] #370 closed

[2016-01-29 22:38] jessdtate commented on #1295
There are some issues pushing matlab matrices back to scirun.  They have to be converted to lists of lists, where matlab has an array format.  The conversion is not as straight forward as going the opposite way (at least as far as I have found).  This may be a problem with fields too.

[2016-01-29 22:44] dcwhite commented on #1295
I should be able to write a converter on the C++ side. What happens when you pass the Matlab array type to the set transient state function?

[2016-01-29 22:59] jessdtate commented on #1295
nothing.  There is a null output from the module (both the interfacewithpython and pythonobjectforwarder). It doesn't seem to to be waiting around for it, like it finds the object, but can't convert it.

[2016-01-29 23:01] dcwhite commented on #1295
OK. See if there's (non-python) terminal output--I think I print a message saying the value can't be converted.

[2016-01-29 23:02] jessdtate commented on #1295
here it is:

[NOTICE] Invalid Connection request: input port is full, or ports are different datatype or same i/o type, or on the same module.

[2016-01-29 23:05] dcwhite commented on #1295
That's a different message. No worries, I can look at this Monday.

[2016-01-29 23:06] jessdtate commented on #1295
Oops, That was the one that worked (after conversion).  Here is the error:

No known conversion from python object to C++ object
[PYTHON] 'Transient value set'

[2016-01-31 22:18] gduffley opened #1306 "V5.0-alpha.AA not loading old networks"
I fetched the latest source today and compiled. I tried to load networks I built on three different releases over the past year, and none of them loaded. I get the error:

[ERROR] File load failed(/home/sci/gduffley/Projects/VTAGenerationImprovement/NewStuff/runSims.srn5): exception in load_xml, input stream error

I am running suse 13.2 with NVIDIA graphics

[2016-01-31 23:00] dcwhite commented on #1306
@jessdtate had the same problem. What system did you create the networks on? Can you send me one of the networks? Jess, what was the fix you applied for the point cloud test network?

[2016-01-31 23:29] jessdtate commented on #1306
I remade the network and saved it out. Not of much use if you have a big network.

[2016-02-01 01:47] gduffley commented on #1306
@dcwhite @jessdtate Yeah, my network is pretty big. I wanted to integrate it with some Python stuff into it. I tested multiple networks, one that I created on my suse station this morning, and another that I made on OSX 10.10 this summer. Ill add the network I made this morning as /home/sci/gduffley/Public/danSRN.srn5

[2016-02-03 16:43] dcwhite commented on #1306
Fixed with 0d10021a7b8bcad4ad16fca2ec8f02d679e4dc41

[2016-02-03 16:43] #1306 closed

[2016-02-03 18:54] #1260 closed

[2016-02-03 21:35] dcwhite opened #1309 "InterfaceWithPython: add checkbox to turn off console printing"

[2016-02-04 22:19] dcwhite opened #1310 "InterfaceWithPython: clarify input port names/ids/indices/variables"
The current mechanism for getting IWP module inputs is error prone since dynamic ports act goofy. There should be a simpler method for getting inputs of the module inside python code. For @gduffley

[2016-02-05 17:47] dcwhite opened #1311 "Enable copying the build/version string from the GUI"
For pasting into Slack. Make it a button that copies to clipboard directly.

[2016-02-05 18:43] dcwhite commented on #678
Requested by @gduffley

[2016-02-10 18:48] jessdtate opened #1312 "saving networks in the scirundir path"
I'm having trouble saving a network that has the SCIRunDir path in it.  SCIRun will automatically detect it when I try to save and add SCIRunDir% to the the path, but the network will not actually save.

[2016-02-10 19:05] #1301 closed

[2016-02-10 19:05] #1302 closed

[2016-02-10 19:05] #1303 closed

[2016-02-10 19:05] #1310 closed

[2016-02-10 19:05] #1311 closed

[2016-02-10 19:11] dcwhite commented on #1312
Can you provide an example and exact replication steps?

[2016-02-11 18:42] #1285 closed

[2016-02-11 21:15] aylakhan opened #1315 "Remove/rename lapack code references"
Remove code wrapped in the HAVE_LAPACK macro and other unused related functions. Rename the rest.

[2016-02-11 23:33] jessdtate commented on #1312
steps to recreate:

1.  create network
2.  save network in child directory of the directory set as %SCIRUNDATADIR%.
3.  message stating %SCIRUNDATADIR%/[rest of path] shows in the bottom left corner
4.  File is not existent in the specified directory.
5.  Change %SCIRUNDATADIR% path.
6.  Save network to same directory
7.  network now in specific directory.

[2016-02-11 23:38] aylakhan commented on #1315
Also, is src/Core/Datatypes/Legacy/Matrix/DenseMatrix.h being used?

[2016-02-11 23:40] dcwhite commented on #1315
We can probably delete that entire folder now.

[2016-02-12 00:52] #1240 closed

[2016-02-12 00:53] dcwhite commented on #1240
@ajanson needed the unreleased 1.5.1 beta version.

[2016-02-12 01:27] aylakhan commented on #1240
@ajanson has been tasked with updating the build.

[2016-02-12 01:28] dcwhite commented on #1240
Um, I just did it.

[2016-02-12 02:03] aylakhan commented on #1240
In SCIRun 4 too?

[2016-02-12 02:06] dcwhite commented on #1240
He told me if 5 is working, 4 does not need to be updated.

[2016-02-12 07:12] #1294 closed

[2016-02-12 16:15] aylakhan commented on #1240
Sure, that's fine.

[2016-02-12 16:40] zaracay opened #1317 "SCIRun 4 network import - Fails to import due to colormap"
SCIRun 4.x network will not load.  It will give a pop-up error as well as a document an error in the log.  When I acknowledge the pop-up error, a fragmented network is not shown…just a blank SCIRun 5 workspace.

I get the following error:

Failed to write SRN File Import log file:
/Users/bburton/Research/2013/Experiments_Kedar/rsm-13-10-10/geom/CorrespondencePoints/importLog_10-24_SockRegistration

[2016-02-12 16:55] zaracay commented on #1317
Addendum:

The main error seems to be the colormap.  I created a network that created a sphere without a colormap and one with a colormap.  The color mapped network was not able to load.

[2016-02-12 17:05] zaracay commented on #1317
Examples:
The CreateSphere.srn imports
The CreateSphereColormapped.srn does not import

[SphereNetworks.zip](https://github.com/SCIInstitute/SCIRun/files/128335/SphereNetworks.zip)

[2016-02-12 17:07] SeyhmusGuler commented on #1152
It doesn't give an error when data is a sparse matrix. ReportFieldInfo produces an error of 'Input data required on port InputField' afterwards though. I thought this error is also related to SetFieldData not properly creating the new field.

[2016-02-12 17:16] dcwhite commented on #1317
Thanks

[2016-02-12 17:33] SeyhmusGuler commented on #1317
I also failed in loading some of my 4.x SCIRun networks. A sample log file and corresponding network are attached below:

TCLInterface::eval set name {Main}
TCLInterface::eval set bbox {92 97 657 677}
TCLInterface::eval set creationDate {Mon Aug 17 2015}
TCLInterface::eval set creationTime {18:26:10}
TCLInterface::eval set geometry {1436x855+0+0}
TCLInterface::eval set netversion 11
TCLInterface::

[2016-02-12 17:54] dcwhite commented on #1317
Most of those are state conversions to do as part of #1219. There's one module that's not converted yet either, EvaluateLinAlgUnary:0. So most of the network should be imported, just none of the state.

[2016-02-12 18:13] #1317 closed

[2016-02-12 20:08] #257 closed

[2016-02-12 20:10] dcwhite commented on #931
Any updates on this issue?

[2016-02-12 20:10] dcwhite commented on #956
Any updates on this issue? Do the latest test cases exercise the additional ports? If so, please add comments to that PR referencing this issue.

[2016-02-12 20:11] dcwhite commented on #1025
Any updates on this issue? In addition to unit tests it would be nice to have more test networks with small input data, testing over/under/etc.

[2016-02-12 20:12] dcwhite commented on #1005
Any updates on this issue? Is the SCIRun code producing numbers that are way off, or close, or what?

[2016-02-12 21:01] jessdtate commented on #1005
There is something wrong with the BEM module.  The outputs are pretty far off expected analytical solutions.  I haven't been able to figure out exactly what the problem is though.

[2016-02-16 15:43] cbrightsci opened #1319 "ApplyFEMVoltageSource returning wrong values for RHS Matrix"

[2016-02-16 17:53] #1319 closed

[2016-02-16 18:25] jessdtate opened #1321 "Python API functions in InterfaceWithPython"
When running InterfaceWithPython, some of the SCIRun Python API functions behave badly.  There is not much practical purposes for most of the API functions, but this is more for user stability.  Commands that have problems are mostly expected:

scirun_add/remove_module - crashes SCIRun
scirun_execute_all - hangs scirun (infinite loop)
scirun_load_network - crashes SCIRun
scirun_force_quit - crashe

[2016-02-16 18:36] dcwhite commented on #1321
The only one I've seen is quit not behaving well. Are the rest consistent? If so, provide test networks/scripts.

[2016-02-16 19:17] jcollfont commented on #956
The module is currently accepting regularization matrices for both source and measurement.

In both cases the matrices are being checked that they have the appropriate size and the errors are being thrown.
The tests for these issues are implemented.

[2016-02-16 19:20] jcollfont commented on #1025
Have implemented tests for the sizes of the input variables.

Still missing tests on the functionality, but can't figure out how to properly use the testing macro EXPECT_MATRIX_EQ

[2016-02-16 23:12] #1312 closed

[2016-02-17 00:04] jessdtate commented on #1321
scirun_load_network is consistent.  In a new network, add an InterfaceWithPython module.  add the command to module code with any network and it will crash with a segmentation fault.

[2016-02-17 00:06] jessdtate commented on #1321
similar for scirun_execute_all.  a new network with just InterfaceWithPython and only the line: scirun_execute_all()  will never start/finish executing.  I guess hanging is not the best description, but it prevents most functions in the GUI.

[2016-02-17 00:21] jessdtate commented on #1321
The add/remove module crash has to do with the module connections.
The scirun_add_module function only crashes when there is an output set to the InterfaceWithPython module.
The scirun_remove_module crashes when the module is connected to another module (only with the input though).  This seems to crash in the python console too.

there is an example in my directory on the server: /home/sci/jess/S

[2016-02-17 03:37] dcwhite commented on #1321
Thanks a lot. I might decide to just restrict the available api functions within IWP to those that actually work.

[2016-02-17 05:09] jessdtate commented on #1321
That's fine.  There isn't any real utility for most of the API in the IWP.

[2016-02-18 22:38] #1147 closed

[2016-02-18 22:38] #1292 closed

[2016-02-19 21:32] aylakhan opened #1326 "cleanup regression network tikhonovTest.srn5"
In src/ExampleNets/regression/tikhonovTest.srn5, ReadMatrix:2 uses FwdInvToolkit/Data/tikhonov_inv/for_mat_128.mat as input, while the other matrices come from SCIRunTestData/Matrices/tikhonov. Input sources should consistent, and output should be rechecked.

[2016-02-20 00:24] jessdtate opened #1328 "Viewscene matrix output is blue channel only"
The matrix output port in the viewscene module passes a matrix of the blue channel of the image in the view scene.  This make the matrix not very useful for users, but also has an impact on regression testing that uses this output.  Attached is the image in the view scene and from the matrix port (in grayscale).
![viewscene_2016 02 19 172213 863_1](https://cloud.githubusercontent.com/assets/348463

[2016-02-20 00:45] dcwhite commented on #1328
The code for converting the screenshot image to matrix is crap. The fix should be easy. What's the quickest way to visualize the matrix as a picture, like you did above?

[2016-02-20 02:19] jessdtate commented on #1328
I just loaded it into matlab and used imagesc. You can do it in python with the following code:
`import numpy as np
import matplotlib.image as mpi

mat = MatrixInput1

matrix=np.array(mat)

print(type(matrix))

mpi.imsave('/Users/jess/software/SCIRunTestData/mat_image.png', matrix)'

[2016-02-21 17:32] #256 closed

[2016-02-21 17:32] #1063 closed

[2016-02-21 17:32] #1099 closed

[2016-02-21 17:34] dcwhite commented on #1101
@moritzdannhauer Any updates on this one?

[2016-02-21 18:06] dcwhite commented on #1086
Should be closable, just needs testing.

[2016-02-21 20:24] #1291 closed

[2016-02-21 20:33] dcwhite commented on #1086
Looks good!

[2016-02-21 20:33] #1086 closed

[2016-02-22 16:27] jcollfont commented on #1107
I am trying to update the Tikhonov documentation but every time I try to change an equation (with a very simple change of name of a matrix) the preview returns an error where the equation should be:
Failed to parse (Missing <code>texvc</code> executable. Please see math/README to configure.):

Any idea what is it?

[2016-02-22 16:49] jcollfont commented on #1326
Done. Now all the data matrices and the field come from %SCIRUNDATADIR%/ToolKits/FwdInvToolbox/tikhonov_inv/

Also included an output to the inverse regularization matrix, a plot on the heart geometry and added noise to the input

[2016-02-22 16:52] jessdtate opened #1329 "clipping plane using absolute space"
Clipping plane function should clip based on the bounding box of all the objects, which allows for the clipping of all objects in the scene based on the center.

Currently, the clipping seems to be absolute, meaning that the planes will be centered around the origin.  An object which is off the origin by more than one, it will not be within the range of the clipping plane parameters.

[2016-02-22 17:10] gduffley opened #1330 "InterfaceWithPython hanging on some calls"
When importing third party modules as well so third party functions, IWP hangs. These functions and imports terminate as expected when running the same code from the python console

[2016-02-22 17:13] gduffley opened #1331 "No interface from Python to IO modules file type drop down"
This makes it impossible to tell SCIRun to do IO of a specific file type. ReadField remembers last selected option, so you can manually set it and call your network. WriteField has no memory of the drop down, so if you call a network from python, it will always save it as a binary .fld

[2016-02-22 17:15] dcwhite commented on #1331
This is a bit unwieldy. There's a state string that's settable, but it should be easier to use.

[2016-02-22 17:29] gduffley commented on #1331
If the state string became a "StateVariableName" accessible from python, the problem would be solved

[2016-02-22 21:46] jessdtate opened #1333 "colormap text precision and positioning"
The precision of the colormap text should use scientific notation if the number of digits isn't high enough to represent the decimal place.  in sprintf terms, use the the %g flag instead of %f.  This would mean changing the parameter to significant digits instead of number of decimal places.

the scaling factor appears to do nothing.

The position of the text behaves a little strange with the tran

[2016-02-22 22:00] jessdtate commented on #1130
I still see this problem in the testing today.  It happens when most often when I change a parameter of the colormap text, such as the scaling.  It also happens more often with high number of digits, possible because there is more chance of overlap.  It only happens with transparent objects. There is a test network that will often show the bug upon executing the network and opening the viewscene.

[2016-02-22 22:45] butsonc opened #1334 "Font Control in ViewScene Across Modules"
We use text in the Viewer often, and it seems like the names for text sizes could be more consistent across modules. For example, ShowField lists the sizes XS to XL, ShowString lists sizes from Tiny to Huge, ShowColorMap lists sizes from T to XL. More importantly, we often need larger text sizes than are available. I realize that some text is in a separate layer that sits on top of the scene, whil

[2016-02-23 21:01] dcwhite commented on #1334
:+1:

[2016-02-24 20:35] zaracay opened #1336 "SCIRun 4 network import - Fails to import due linked matrix ports"
I've observed this issue with two module connections:
1 - ReportFieldInfo[Matrix Dimensions output port]
2 - GetColumnOrRowFromMatrix[Matrix Current Index input port]

In both cases the error produced in the log is:
[ERROR] File load failed(path/to/network): exception in load_xml

[2016-02-24 20:38] zaracay commented on #1336
In the ReportFieldInfo case:

I had the Matrix Dimensions output port connected to the CreateLatVol input matrix port.  This would cause the error above.

- If I removed the connection the network would import
- If I used a different matrix input (like the CreateMatrix module) it would import

The only error arose when using the ReportFieldInfo output port to make the linkage

[2016-02-24 20:41] zaracay commented on #1336
In the GetColumnOrRowFromMatrix case:

I had an index output from an upstream GetColumnOrRowFromMatrix module feed the Matrix Current Index input port of another module.  This is done to sync data imports that come from different matrices (for example, I want column 15 from a set of sock electrodes and column 15 from the corresponding needle electrode set).

This connection caused the error writte

[2016-02-24 20:45] zaracay commented on #1336
And here is the SCIRun 4 network.  The problematic modules are pulled to the far right side with labels above them.

[SC5_Import_Test.srn.zip](https://github.com/SCIInstitute/SCIRun/files/145389/SC5_Import_Test.srn.zip)

[2016-02-24 20:49] dcwhite commented on #1336
This is likely due to changing the ports from matrix type to scalar. I'll investigate when I return.

[2016-02-24 23:24] aylakhan commented on #1177
Download script. Will need to be updated periodically.
[release-script.zip](https://github.com/SCIInstitute/SCIRun/files/145640/release-script.zip)

[2016-02-25 15:08] cbrightsci opened #1338 "Values disappear after rexecution in insetvoltagesourece/applyfemvoltagesource/solvelinearsystem setup"

[2016-02-25 17:05] dcwhite commented on #1338
More specific? Which values? Link to test network?

[2016-02-26 17:24] dcwhite commented on #123
I'll wait until post-Qt5 for this one.

[2016-02-26 17:38] dcwhite commented on #679
Another one that will wait until Qt5.

[2016-02-26 17:40] dcwhite commented on #425
Now that EAB is done, I will bang this one out. :gun:

[2016-02-26 17:41] dcwhite commented on #373
https://docs.python.org/2/library/unittest.html

[2016-02-26 17:44] dcwhite commented on #589
@jessdtate Can this one be converted to use InterfaceWithPython?

[2016-02-26 17:45] dcwhite commented on #557
There are issues made for the various features left to do. Closing this one now.

[2016-02-26 17:45] #557 closed

[2016-02-26 17:56] jessdtate commented on #589
I've looked into most of the networks that use matlab in the fwd/inv toolkit and they should all work with python.  @jcollfont  was talking about restructuring some of these examples to make them a little simpler to.

[2016-02-26 18:08] dcwhite commented on #1003
:skull: IWM is now deprecated. IWP FTW! :flags:

[2016-02-26 18:08] #1003 closed

[2016-02-26 18:10] dcwhite opened #1340 "Remove code only used by InterfaceWithMatlab"
Several entire core libraries are only used by the now-deprecated IWM module (ICom, Service, SystemCall, etc). These can be removed.

[2016-02-26 19:10] moritzdannhauer opened #1341 "parallelize_refinetetmeshlocally_algorithm"
2 functions: ChoseEdgesToCut() and RefineMesh() could potentially be parallelized to run as separate thread while RefineMesh() depends on the output of ChoseEdgesToCut().

[2016-02-26 23:30] dcwhite opened #1342 "Clipping plane GUI could show equation for plane"
This might make the sliders more intuitive.

[2016-02-27 22:38] jcollfont commented on #589
Jess,

The restructure I am doing is on the Tihonov type of problems. That is any problem that is based on the regularied least squares minimization.

There are some of the matlab examples that are based on that and that could be ported.

The biggest limitation I find is that we do not have any method for convex optimization in SCIRun. Would it be possible to have some modules depending on externa

[2016-02-27 22:44] moritzdannhauer commented on #589
Hi Jaume, Seyhmus and I tried cvxpy with the new python interface of SCIRun5 for the reason be included permanantly. CVXpy is slightly different than CVX for matlab but maybe it is sufficient for
your applications.

[2016-02-27 22:51] jcollfont commented on #589
Huh!

Then we should write anything that needs optimization in python? Or have some module that solves convex problems by calling a pythin script?

[2016-02-27 23:00] moritzdannhauer commented on #589
You just need to pipe in the matrices into the InterfaceWithPython. The actual optimization code running cvx is in that instance of the InterfaceWithPython module and can be saved too. I am sure we could provide snippets for InterfaceWithPython that include a generic optimization 'script' or some other way to have optimization framework ready. Maybe, if we separate the C++ code from the CVX-python

[2016-03-01 00:36] jessdtate opened #1343 "clipping plane problem with some tet meshes"
Some tetmeshes are not clipping the faces, though the edges are clipping.  Here is an example screen shot.  not all types of tetmeshes have this problem, but it seems pretty consistent with those generated from tetgen.  There is an example network on the sci server: /home/sci/jess/SCIRun_5_nets/clippingtets.srn5 (and clippingtets_2.srn5)

![viewscene_2016 02 29 173422 475_1](https://cloud.githubus

[2016-03-01 16:41] cbrightsci commented on #1334
I think you are absolutely correct. Though getting the quantifiable values for the names was a challenge, I feel that the end results turned out great. I also made it so you can actually see what each size description might look like by giving a display of it in the GUI. But I'll let the beautiful results speak for themselves.

![image](https://cloud.githubusercontent.com/assets/8061225/13434042/b

[2016-03-01 16:43] butsonc commented on #1334
Hmm. Isn’t Yuge between L and XL? Let’s ask Donald Trump...

:)

On Mar 1, 2016, at 9:41 AM, cbrightsci <notifications@github.com> wrote:

[2016-03-01 16:44] cbrightsci commented on #1334
You're right! I guess that's what test lunches are for. :)

[2016-03-01 22:51] #1338 closed

[2016-03-02 19:12] dcwhite commented on #1328
@jessdtate When Matlab reads an image, it converts it into a 3-D matrix with one 2-D matrix per RGB channel, ranging from 0-255. So essentially the code right now outputs one slice of this representation, the blue slice. In order to match this format, what sort of module output would you prefer? I can send a bundle of 3 matrices, or have 3 matrix output ports, or ?? Let me know.

[2016-03-02 19:12] dcwhite commented on #1328
I could also send a 3-D Nrrd object.

[2016-03-02 19:26] jessdtate opened #1345 "interfacewithpython ports"
the ports on iwp have problems when ports are deleted and reattached.  The port names are changed, and therefore the input variables are changed.  sometimes it messes up (deletes and doesn't reassign names) the inputs that do not get deleted and reattached.

[2016-03-02 19:30] dcwhite commented on #1345
Such is the nature of the (simplistic) dynamic port implementation. But clearly this is annoying with respect to variable naming. I'll need to think about this one.

[2016-03-02 21:04] jessdtate commented on #1328
The most intuitive is the three matrices, but any of these could work.

[2016-03-02 21:16] dcwhite commented on #1330
Doh/deadlock:
  * Can't get pip working on Windows (works on Mac)
  * PyNeuron only supported on Windows and Linux
  * ==> Need to test Linux

[2016-03-02 21:20] dcwhite commented on #1295
I can't get pip working on my Windows machine. It appears that our python build is lacking required OpenSSL support. Also, we're using the flag `"--with-ensurepip=no"` which seems like it would explain it. Any thoughts?

[2016-03-02 21:28] dcwhite commented on #1345
Actually, this is also a bug in the PyPorts class. It doesn't keep in sync with dynamic port adding/removing. Fix forthcoming.

[2016-03-02 21:37] dcwhite commented on #1130
@cbrightsci Still not fixed.

[2016-03-02 21:40] jcollfont opened #1346 "Module porting: SolveInverseProblemWithTikhonovSVD"
Requested and to assign to @jcollfont

[2016-03-02 21:52] dcwhite commented on #1336
Several aspects of the fix:
- [ ] ReportFieldInfo should have additional output ports, I'll add these (the error is a vector out of range).
- [ ] RFI's ports (among other modules) have changed from matrix to scalar. I'll need to figure out a way to preserve connections in this case.
- [ ] GCORFM is now GetMatrixSlice, and has a different number of ports as well. In this case, the change was justif

[2016-03-02 21:53] dcwhite commented on #143
This can wait until after we have the new help pages set up.

[2016-03-02 22:04] zaracay commented on #1336
For RFI ports, would there be a way to insert the ConverScalarToMatrix whenever this sort of thing pops up?

[2016-03-02 22:04] dcwhite commented on #1336
Should be doable.

[2016-03-02 22:05] dcwhite commented on #989
This sounds like one @jessdtate can implement himself now...

[2016-03-02 22:08] jessdtate commented on #989
OK.  I can do that.  I will just ask @dcwhite if I get stuck anyway.

[2016-03-02 22:08] dcwhite commented on #989
You mean this @dcwhite?

[2016-03-02 22:24] jessdtate commented on #1295
I'm not sure, as I'm not an expert in python.  I think that flag would just keep pip out of the default installation, but prevent subsequent installation.  I have had no problems with OS X and pip.

[2016-03-02 22:25] aylakhan commented on #1295
Turning off ensurepip was due to a Mac OS X build error in 3.4.3. I uploaded 3.4.4 for testing earlier today, since it appears to have some build fixes. OpenSSL on Windows may be tricky.

[2016-03-02 22:35] dcwhite opened #1347 "Holiday-themed SCIRun backgrounds"
Read system date and change color/pattern of SCIRun's background to match the day. Requested by @zaracay and @jessdtate et al.

[2016-03-02 23:07] dcwhite commented on #1326
Looks good, thanks.

[2016-03-02 23:07] #1326 closed

[2016-03-03 17:47] dcwhite opened #1348 "CreateStandardColorMap improvements, part 1: Add all remaining v4 ColorMaps"
See #898. List of v4 colormaps:
- [x] Gray
- [x] Old Rainbow
- [x] Lighthue
- [x] Don
- [ ] Dark Gray
- [x] Orange Tint
- [x] Green Tint
- [x] Blue Tint
- [ ] Pink,White,Blue
- [ ] Mixed Rainbow
- [ ] Gray2
- [x] Rainbow
- [x] Darkhue
- [x] Blackbody
- [x] BP Seismic
- [x] Red Tint
- [x] Yellow Tint
- [x] Cyan Tint
- [x] Purple Tint
- [x] Orange,Black,Lime
- [ ] Mixed GrayScale
- [ ] Gray3

[2016-03-03 17:48] dcwhite opened #1349 "CreateStandardColorMap improvements, part 2: improve performance of GUI"
See #898

[2016-03-03 21:37] dcwhite commented on #898
Closing this issue, 3 other sub-parts have their own issue now.

[2016-03-03 21:38] #898 closed

[2016-03-03 21:38] #1321 closed

[2016-03-03 21:38] #1331 closed

[2016-03-03 22:57] dcwhite commented on #499
@jcollfont This will be available shortly. Changes in some internal code actually made the implementation a lot easier. Sorry it took so long. I'll post some example code to Slack after it's merged to master (probably tomorrow).

[2016-03-04 18:17] dcwhite opened #1350 "Python script for image comparison in regression tests"
Now that ViewScene is outputting its screenshot as a triple of matrices, and these are accessible from python, we can write a python script to compare the renderer output to something. I found this tutorial that uses some common packages to compare images and spit out a number:

http://www.pyimagesearch.com/2014/09/15/python-compare-two-images/

[2016-03-04 23:52] #499 closed

[2016-03-04 23:52] #1328 closed

[2016-03-07 19:22] dcwhite commented on #1341
@moritzdannhauer At first glance, there are a lot of functions doing inefficient things with small vector objects (passing by value, returning by value, forwarding to other functions while taking up stack space inside a loop, etc), that we can clean up. Once that's done, we should profile the performance with one of your big examples. I will schedule this initial part for later in the month.

[2016-03-07 22:10] moritzdannhauer commented on #1341
Cool, thanks, I might will update some things as well before you do a performance check.

[2016-03-08 22:10] moritzdannhauer commented on #56
I categorized the modules (which is debatable) that might need complex number support at some point:

1) high priority:
BuildFEMatrix, BuildTDCSMatrix, BuildBEMatrix(?)
SolveLinearSystem, SolveMinNormLeastSqSystem
AddKnownsToLinearSystem, AddLinkedNodesToLinearSystem
BuildVolRHS

2) medium-priority (those work on field data from possibly complex-valued simulations)
CalculateGradients
CalculateCurr

[2016-03-09 17:03] dcwhite commented on #56
As expected, that's a lot of modules. Can we get a streamlined set for an initial deliverable?

[2016-03-09 17:04] moritzdannhauer commented on #56
Category 1) is most valuable!

[2016-03-09 17:07] dcwhite commented on #56
Clearly. By streamlined, I mean <5.

[2016-03-09 17:09] moritzdannhauer commented on #56
Ok, how about those 3:
BuildFEMatrix
SolveLinearSystem
BuildTDCSMatrix

[2016-03-09 17:10] dcwhite commented on #56
Next step: make a goal network, and post an annotated screenshot here. Notes can be pointing to where complex data is input/output/processed.

[2016-03-09 17:46] dcwhite commented on #56
Also comment on the typical matrix/field sizes you'll want to try.

[2016-03-09 17:49] moritzdannhauer commented on #56
Our goal is to use them for regular head geometries of about 100k..10M field nodes and matrix columns/rows.

[2016-03-09 18:00] moritzdannhauer commented on #56
This is the simplest network I can think of right now.

![screen shot 2016-03-09 at 12 58 33 pm](https://cloud.githubusercontent.com/assets/2054570/13645011/c68d3710-e5f6-11e5-8037-f385bd86c6ae.png)

[2016-03-09 18:02] dcwhite commented on #56
Thanks. I assume every object passed around there will be complex-valued. So matrices and fields are needed.

[2016-03-09 18:21] dcwhite commented on #1300
@jessdtate Can you come up with a quick set of field cases for me to test? There are a zillion field types, so there are a ton of branches in this matlabfieldconverter code, but just give me the most common cases (i.e. the ones you really want to use now)--one for each type.

[2016-03-09 18:25] jessdtate commented on #1300
It surprises me that there are so many cases for loading the data, as the importer has always been a bit picky.  The most common ones are trisurf, tetvol, latvol/nrrd.  Less common but still important are quadsurfs and hexvols.  I will get some examples.

[2016-03-09 18:26] dcwhite commented on #1300
The [cyclotomic complexity](https://en.wikipedia.org/wiki/Cyclomatic_complexity) of `MatlabToFieldAlgo::mlanalyze` is off the charts.

[2016-03-09 18:27] dcwhite commented on #1300
Not to mention being 2400 lines long :sob:

[2016-03-09 19:16] aylakhan commented on #398
Since we're going through Python now, this issue is now obsolete.

[2016-03-09 19:16] #398 closed

[2016-03-09 20:42] dcwhite commented on #271
http://stackoverflow.com/questions/2368811/how-to-set-warning-level-in-cmake

[2016-03-09 20:44] dcwhite commented on #271
http://stackoverflow.com/questions/4750880/can-i-treat-a-specific-warning-as-an-error

[2016-03-09 20:45] dcwhite commented on #271
http://stackoverflow.com/questions/14231292/cmake-and-compiler-warnings

[2016-03-09 21:01] dcwhite commented on #56
From Slack:
[code]

[2016-03-09 21:02] dcwhite commented on #56
How could we do matrices only first then?

[2016-03-09 21:02] dcwhite commented on #56
I guess we could start with SolveLinearSystem only.

[2016-03-09 22:31] dcwhite commented on #931
Assigning back to me since I need to fix these in order for #1300 to be doable.

[2016-03-09 22:45] dcwhite commented on #931
The error message from the code is wrong (copy/paste error). It should say `fieldcell` instead of `fieldedge`. So the cell matrix is the wrong dimension.

[2016-03-10 16:49] moritzdannhauer commented on #56
I guess the first logical step is this:
![mockup](https://cloud.githubusercontent.com/assets/2054570/13676761/162c6c82-e6b5-11e5-9593-e7ecee610a3a.png)
1) So, we could simply treat any 2 element vector that happens to be data of a field as a (real, imag)-pair.
That would not require too many modifications, right?

2) We would need to create a Eigen Complex Matrix in an adjusted version of BuildFEM

[2016-03-10 17:44] jessdtate opened #1352 "Insert*IntoBundle does not save input names in ui"
When using any of the insert*intoBundle, once the inputs are hooked up and the names assigned, if the network is saved back out and reloaded, the names of the input fields/strings/matrices are missing from the UI.  It appears that the names are ignored anyway, even if the are showing in the UI at the time of execute.

[2016-03-10 17:46] jessdtate commented on #1352
There is an example net: /home/sci/jess/SCIRun_5_nets/test_bundle_input.srn5.  Not that the names will be saved.

[2016-03-10 17:50] jessdtate commented on #1184
For examples in SCIRun 4, I put some above.  There is a SCIRun5 example in the SCIRun-Exchange/Defibrillation_Evaluation/.  defib_simulation_evaluation.srn5 and Run_Defib_Sim_sr5.sh are the scirun 5 versions.  it currently crashes, but it gives the idea.

[2016-03-10 18:02] jessdtate opened #1353 "bash scripting crashes"
When trying to run a bash script, SCIRun crashes.  and example shows this in the SCIRun-Exchange/Defibrillation_Evaluation/.  the network defib_simulation_evaluation.srn5  crashes when run by Run_Defib_Sim_sr5.sh, but when the -E flag is removed, there is no crash when I hit execute all manually.

Also, when SCIRun is called by setting the PATH env variable, the shader folder is not found, as it l

[2016-03-10 18:16] dcwhite commented on #1353
@wgood Is this the same crash you're getting?

[2016-03-10 18:17] dcwhite commented on #1353
@cbrightsci Looks like the "standard" renderer crash.

[2016-03-10 18:20] dcwhite commented on #931
I was able to fix this by deleting some verification code that wasn't needed anymore, since the "fieldcell" data was not used in field construction. Now cell-data tetvols load fine from matlab format.

[2016-03-10 18:27] jessdtate commented on #1353
Yeah that solves it.  Now I remember.  I made that issue before.

[2016-03-10 18:40] dcwhite commented on #1352
These modules were converted a bit too hastily. I'll work on this today (need a break from python/matlab/field madness...).

[2016-03-10 21:47] moritzdannhauer commented on #56
1) Ok, to be useful for BuildFEMatrix it needs to be a Field though and for now 2 element vector that holds a real and the imaginary part sounds very simple to me.
2) Sounds good, going complex needs a new color. How about red or brown?

[2016-03-10 21:54] dcwhite commented on #56
1) The input is a complex field, but ReadField would just read the geometry, then two ReadMatrix modules to read in real and imaginary parts of the field data, then a module to combine into a complex matrix, then SetFieldData to set the complex data. This way no new I/O code is needed.
2) Red is reserved for errors and selections. I'll try brown. It's easy to change. Or should it be blue-ish since

[2016-03-10 22:03] moritzdannhauer commented on #56
1) Ok, sounds reasonable.
2) Not many basic and distinctive colors are left. Black might not be distinctive.
Brown then...

[2016-03-11 21:18] dcwhite opened #1354 "Change table widget sync-with-dynamic-ports behavior to respond to connection set change signal"
This way it is more directly obvious what the table rows should be, they should be synced with the incoming connections. Right now the code is brittle since it responds to ports adding or removing, and special code is needed for each case.

[2016-03-14 22:51] #931 closed

[2016-03-14 22:51] #1185 closed

[2016-03-14 22:51] #1352 closed

[2016-03-15 18:37] dcwhite opened #1355 "Method renaming, continued"
Left to do from #425:
- [ ] Module base class methods
- [ ] State base class methods
- [ ] Field library
- [ ] Parser library
- [ ] Other random small cases

[2016-03-16 20:53] dcwhite opened #1357 "Test #1300 for pertinent field/mesh types"
We definitely need more complete testing of #1300. I have unit tests for LatVol, TetVol, and TriSurf, with various bases.

[2016-03-16 21:58] #1257 closed

[2016-03-16 21:58] #1130 closed

[2016-03-16 21:58] #1256 closed

[2016-03-16 21:58] #1333 closed

[2016-03-16 21:58] #1334 closed

[2016-03-16 22:46] #425 closed

[2016-03-16 22:46] #1114 closed

[2016-03-16 22:46] #1300 closed

[2016-03-17 15:54] dcwhite opened #1358 "Refactor RefineTetMeshLocallyAlgoTests to use loops"
It doesn't need to be an almost 4000 line test file. A simple loop could have generated all the input/output filenames and fields, then they go into a vector, and then you run the test code for each element of the vector. Please consider build times before copy/pasting so many test cases.

[2016-03-17 16:19] dcwhite opened #1359 "Modernize Field interfaces"
- [ ] Use make_shared/make_unique instead of new
- [ ] Use `nullptr` instead of 0
- [ ] Add override keywords
- [ ] Fix remaining Resharper warnings

[2016-03-17 18:26] dcwhite opened #1360 "Switch from typedefs to type aliases"
Item 9 in Effective Modern C++

[2016-03-21 17:55] dcwhite commented on #1330
@gduffley Do you have any examples of hanging modules other than Neuron?

[2016-03-21 20:03] dcwhite opened #1361 "Adjust alpha hues in createstandardcolormap, part 2"
Follows #1201. This issue is for the renderer/shader changes.

[2016-03-21 21:35] #1201 closed

[2016-03-22 20:41] #1345 closed

[2016-03-23 16:38] dcwhite commented on #678
![pasted image at 2016_02_05 10_38 am](https://cloud.githubusercontent.com/assets/1399383/13992869/5dab68e6-f0e3-11e5-86f2-80e1656abb28.png)

[2016-03-23 16:48] dcwhite commented on #964
Can this get done by 3/25?

[2016-03-23 16:48] dcwhite commented on #1101
Can this get done by 3/25?

[2016-03-23 17:07] jessdtate commented on #1357
In addition to the three mentioned above.  We also use pointcloud, Quadsurf and hexvol meshes quite a bit.  Some less frequently used, but still important meshes are image meshes, curvemeshes (stream lines).  I sometimes use prismvol meshes.  The rest (structquadsurfmesh, scanlinemesh, structurecurvemesh) i don't know if I've ever used.

[2016-03-23 17:08] jessdtate commented on #1357
What I have seen working so far:  trisurf, tetvol, latvol.
I will test more this week.

[2016-03-23 22:05] cbrightsci opened #1363 "Module conversion: CreateGeometricTransform Part 2"
Add the widget

[2016-03-24 20:42] #1293 closed

[2016-03-24 22:06] #678 closed

[2016-03-25 00:43] dcwhite commented on #1329
As per https://github.com/SCIInstitute/SCIRun/pull/1332#issuecomment-201068834

[2016-03-25 15:39] jessdtate opened #1365 "showcolormap bugs"
There are a few problems with the showcolormap module:

The scale parameter appears to do nothing. the values shown in the colormap text should be multiplied by the scale value.

some of the parameters of the colormap are not saved in the network including: labels, text color, scale, significant digits,

[2016-03-25 15:41] dcwhite commented on #1343
@jessdtate will test this one again.

[2016-03-25 15:49] ajanson opened #1366 "Preferences > Auto-save before execute does not work when executing individual modules"
Works with the execute all button but not when executing a single module.

[2016-03-25 15:55] dcwhite opened #1367 "Extract network editor/module spacing parameters to enable tweaking of screen layout aspects"
Suggested by @gduffley.

[2016-03-25 15:59] dcwhite commented on #1366
I'll also fix the bug with python screwing up this flag.

[2016-03-25 16:00] dcwhite commented on #1367
Issues are related to lack of vertical/horizontal space with respect to building networks, especially on laptop screens.

[2016-03-25 16:03] moritzdannhauer opened #1368 "new ViewScene features & clipping plane performance"
Scale Bar
- [x] I was wondering if you change Length, Height and Num Ticks, should it change the scaling of the visualization or is it supposed to be independent of it
- [x] GUI items: Unit, Multiplier and Line Width not functioning

Clipping
- [ ] pulling the UI sliders (X: ,Y: ,Z:, D:) is really slow and my machine is paging since SCIRun is taking up 30GB of RAM visualizing a 18 MB mesh

[2016-03-25 16:07] jessdtate commented on #1343
This seems to be working for me now.  Thanks.

[2016-03-25 16:08] #1343 closed

[2016-03-25 16:36] dcwhite commented on #957
@ajanson has reported this as well.

[2016-03-25 16:44] dcwhite opened #1369 "Crash with dynamic ports"
load network, delete dynamic, save network, reload network, add dynamic-->crash

[2016-03-25 17:29] dcwhite opened #1370 "New module: CreateComplexMatrixFromComponents"
Module to take two real matrices `A` and `B` of the same type and dimension, and produce `A+Bi`. The name can be made more official. It will not need a UI.

[2016-03-25 17:30] dcwhite opened #1371 "New module: SplitComplexMatrixIntoRealComponents"
The complementary module to #1370.

[2016-03-25 17:31] dcwhite opened #1372 "Add complex matrix port to SetFieldData and GetFieldData"
The algorithm support is already there (in SetFieldData at least), so we just need to change the module and UI.

[2016-03-25 17:38] jessdtate opened #1373 "point probe moving when hidden."
the point probe widget can be moved even when it is hidden, and probably shouldn't be.

[2016-03-25 17:39] dcwhite opened #1374 "Add complex number support to BuildFEMatrix"
Inputs will be the same. A new complex matrix output port is needed. If the input field has complex values, a complex matrix will be output; otherwise, a real matrix is output like before.

To do list:
- [x] Add port to module.
- [x] In algorithm classes, figure out where non-generic code ends and generic code begins. The latter then needs to be templatized on the numeric type.
- [x] Depending on

[2016-03-25 17:42] jessdtate opened #1375 "adding script inputs from the command line."
SCIRun 4 allowed the script inputs (environment variables) to be set in the SCIRun call, like this:
scirun network.srn -E +VARNAME=filename

This would set the environment variable VARNAME to filename for the scirun session.

[2016-03-25 17:43] jessdtate commented on #1375
this is a lower priority because there are other ways to achieve this.

[2016-03-25 20:27] jessdtate opened #1376 "script option should still allow for manual input"
It would be nice to be able run a file when loading the network if there is no variable set.  This would mean using the UI input unless there is a value set for the variable specified in the script tab.

[2016-03-25 21:52] #1365 closed

[2016-03-27 17:25] ajanson commented on #1047
What is the status of this? We talked about this briefly last week so I just wanted to add a comment. Also, can I add a request to get "Normalize before scaling" as well.

[2016-03-28 15:13] dcwhite commented on #1047
We haven't looked at SFG in a while. We're going through the backlog at a meeting tomorrow. If you want it in the next couple months, we can try to prioritize it.

[2016-03-28 15:16] dcwhite opened #1378 "Provide more network execution timing information in the GUI"
- [x] Network progress bar tooltip can include total execution time
- [x] A simple timing log GUI window can be made

[2016-03-28 15:16] dcwhite commented on #1378
Requested by @moritzdannhauer and @ajanson

[2016-03-28 15:25] dcwhite commented on #598
I started working on this by introducing a variadic template function. I'll start replacing usages to see what else we need.

[2016-03-28 15:27] dcwhite commented on #335
@jessdtate Is this issue moot with the introduction of InterfaceWithPython? That is, would it be useful to be able to call python from within the GUIs of Create/CalculateFieldData and similar modules?

[2016-03-28 15:29] dcwhite commented on #194
This won't be needed anymore. Module porting never looks at the XML file anyway.

[2016-03-28 15:29] #194 closed

[2016-03-28 17:53] jessdtate commented on #335
the IWP module does fulfill these needs.  I'm not sure it would buy us much to have them in the parser.  I suppose it would depend on how hard it is to implement.

The same goes for the dynamic compilation.

[2016-03-28 17:55] dcwhite commented on #335
Thanks. It would be annoying and difficult, and not buy much. Dynamic compilation is also covered by Python in general.

[2016-03-28 17:55] #335 closed

[2016-03-28 19:42] dcwhite commented on #1336
Will come after #1219

[2016-03-28 22:14] dcwhite opened #1379 "Use `auto` instead of declared types"
Effective Modern C++ Item 5

[2016-03-28 22:15] dcwhite opened #1380 "Switch to nullptr"
Effective Modern C++ Item 8

[2016-03-28 22:16] dcwhite opened #1381 "Convert enums to scoped enums"
Effective Modern C++ Item 10

[2016-03-28 22:16] dcwhite opened #1382 "Convert private undefined functions to deleted functions"
Effective Modern C++ Item 11

[2016-03-28 22:17] dcwhite commented on #442
Effective Modern C++ Item 12

[2016-03-28 22:18] dcwhite opened #1383 "Lambda function improvements"
- [ ] Don't use default capture modes
- [ ] Replace boost::bind calls with lambdas

Effective Modern C++ Items 31 and 34

[2016-03-28 22:19] dcwhite opened #1384 "Convert insertion calls to emplacement calls when it makes sense"
Effective Modern C++ Item 42

[2016-03-28 22:20] dcwhite opened #1385 "Convert boost::thread usage to std::thread and std::async"
- [x] Parallel class
- [x] Scheduler classes
- [x] Field synchronization functions

[2016-03-29 20:48] dcwhite opened #1386 "Investigate Tetgen license issues"
:heart: GPL...

[2016-03-29 20:50] dcwhite opened #1387 "Module upstream communication issues"
Datatypes are being lost somehow.

[2016-03-30 17:28] #1329 closed

[2016-03-30 20:30] dcwhite commented on #127
@gduffley This is your issue. Note the age...

[2016-03-30 20:34] dcwhite commented on #21
@cbrightsci Do we still want to do this? It might be more pertinent now, with the clipping plane performance problem.

[2016-03-30 21:00] gduffley commented on #127
@dcwhite I was still but a child when this issue was first submitted

[2016-03-30 22:09] moritzdannhauer opened #1390 "Prefered_Input/Output_FileFormats"
Problem:
I never use SCIRun format *.mat which coincidently has the same *.mat extension (many SCIRun users may use the Matlab format) in readfield/readmatrix. The default is the SCIRun format though and I always have to change the right extension. I would save about 50 annoying clicks per day if that would not be the case.

Request:
It would be very elegant if the IO reader can figure out what fi

[2016-03-31 15:30] lizutah opened #1391 "viewscene hanging on re-execution"
Daria has a network that demonstrates this...  on reexecution, stalls on the viewscene.  Runs again after exiting and restarting.

[2016-03-31 15:48] dcwhite commented on #1391
Which build does this happen on (specifically, does ViewScene have its matrix output ports enabled)? Can the network be uploaded here?

[2016-03-31 20:40] dcwhite commented on #1390
The file type list code is already pretty generic, and the first item is always the default format. For legacy reasons, we should not change the default format to Matlab. I also don't want to implement any pre-reading code to figure out the right format, that will get expensive and messy.

I just thought of a cool solution: be able to specify certain script actions and have those saved to preferen

[2016-03-31 20:44] moritzdannhauer commented on #1390
That would be fantastic!!! That would be controllable by the Preferences-GUI as well no just via Python?

[2016-03-31 20:45] dcwhite commented on #1390
Yes, I would make a GUI for these.

[2016-04-01 22:46] #598 closed

[2016-04-01 22:46] #1161 closed

[2016-04-01 22:46] #1179 closed

[2016-04-01 22:46] #1366 closed

[2016-04-01 22:46] #1369 closed

[2016-04-01 22:46] #1376 closed

[2016-04-01 22:46] #1378 closed

[2016-04-05 19:44] #1387 closed

[2016-04-05 20:42] aylakhan commented on #572
This particular executor bug with headless execution appears to be fixed.

[2016-04-05 20:42] #572 closed

[2016-04-05 22:36] aylakhan commented on #1247
Fixed in 1f9de8470113d5cd331cfd2492e3fd5e45509409.

[2016-04-05 22:36] #1247 closed

[2016-04-06 00:30] dcwhite commented on #1247
I'll start a special branch with headless turned on so Travis can build it regularly (a la build_testing branches)

[2016-04-06 20:50] dcwhite opened #1392 "Connection/Module disabling, part 2"
Follows #1039.
- [ ] Think about code for optional ports not triggering module disabling
- [ ] Later: get subset of required dynamic ports, all that are enabled.

[2016-04-07 15:24] ajanson opened #1393 "showFIeld "Use Face Normals""
checkbox is there but I cannot use it yet.

[2016-04-07 15:29] gduffley opened #1394 "RegisterWithCorrespondences crashes with volumetric data"
Module only works with trisurfs, crashes with volume data. The module should output a transform matrix for linear registrations as well.

[2016-04-07 16:25] dcwhite commented on #1394
Please provide a test network and data to replicate the crash.

[2016-04-07 16:25] dcwhite commented on #1394
Is the second sentence a new feature, or a missing part of the original module?

[2016-04-13 21:00] aylakhan commented on #1330
@gduffley: which Linux distro are you working on, and which Neuron download did you install?

[2016-04-13 21:11] gduffley commented on #1330
@aylakhan Let me build the most recent stuff and make sure this is still an issue. I am on Suse13.2. The issue was with any 3rd party library, not just Neruon

[2016-04-14 15:43] dderiso opened #1395 "Inconsistent Command Line Execution from OSX Binary"
Thanks for the great software, I just wanted contribute my findings regarding a small bug.

[WORKS] Executing via:

`cd ~
/Applications/SCIRun.app/Contents/MacOS/SCIRun -v
`

Returns:

[code]

[FAILS] However, executing via:

`cd /Applications/SCIRun.app/Contents/MacOS/
./SCIRun `

Returns

[code]

With the following crash dump:

[code]

[2016-04-14 15:45] dcwhite commented on #1395
I'll take a look. I've fixed similar path problems recently.

[2016-04-14 15:47] dcwhite commented on #1395
@dderiso You could try pulling and building latest master, that version you have (v5.0-alpha.AA-21-g940e4ec) is a bit old.

[2016-04-14 15:54] dcwhite commented on #1395
Still broken in the latest--I'll fix it today.

[2016-04-14 16:36] moritzdannhauer opened #1396 "Install_SCIRun5_on_entire_LinuxUbuntu_system"
Peter Johnston compiled SCIRun5 on ubuntu 15.10 with the build.sh script and this went well.
He wants to put a soft link in /usr/local/bin connecting to the SCIRun5 binary so that its available everywhere. Apparently, he built the binary with python and calling it outside the bin folder gives a python initiation error.

[2016-04-14 19:18] #1395 closed

[2016-04-14 22:23] dcwhite opened #1398 "New modules: CreateComplexMatrix and ReportComplexMatrixInfo"

[2016-04-14 23:05] dcwhite commented on #1390
This will do the trick now:
[code]

[2016-04-15 00:34] dcwhite opened #1399 "ViewScene scale bar should be visible even if scene is empty"
And checkbox is enabled, of course. v4 has this behavior.

[2016-04-15 00:40] dcwhite commented on #1399
I also got a crash with this message but couldn't replicate it:
`Unhandled exception: Differing attributes`

[2016-04-15 00:49] dcwhite opened #1400 "Modules that could accept complex values"
Copied from #56.

I categorized the modules (which is debatable) that might need complex number support at some point:

1) high priority:
BuildFEMatrix, BuildTDCSMatrix, BuildBEMatrix(?)
SolveLinearSystem, SolveMinNormLeastSqSystem
AddKnownsToLinearSystem, AddLinkedNodesToLinearSystem
BuildVolRHS

2) medium-priority (those work on field data possibly from complex-valued simulations)
CalculateGradi

[2016-04-15 02:19] #56 closed

[2016-04-15 05:01] #137 closed

[2016-04-15 05:01] #1039 closed

[2016-04-15 05:01] #1390 closed

[2016-04-15 16:02] gduffley opened #1401 "Linux can't read .fld generated on Windows"
Reproduction steps:

1. Save a .fld from Windows
2. Load .fld on Linux

[2016-04-15 16:09] ajanson opened #1402 "SinglePointProbe widget causes infinite execution loop when moved in viewscene"
It broke

[2016-04-15 16:23] dcwhite commented on #1390
https://www.dropbox.com/s/obx0qwijrseel6i/Screenshot%202016-04-15%2010.20.21.png?dl=0

[2016-04-15 16:26] dcwhite opened #1403 "Triggered events part 2"
Follows #1390.
- [x] Documentation needed
- [x] Useful snippets/samples
- [x] More events enabled

[2016-04-15 16:27] dcwhite commented on #1402
I'll do this one, it's probably from my refactoring.

[2016-04-15 16:49] dcwhite commented on #1263
This can be implemented using the current clipboard mechanic. I'll implement an easy clipboard->create snippet GUI action.

[2016-04-15 16:50] dcwhite commented on #1159
Related to #1263, this can be implemented using the XML copy/paste code. It just needs a nice representation in the snippet GUI.

[2016-04-15 17:18] dcwhite commented on #1403
@ajanson would like his ViewScenes to auto-open. I'll enable this as part of this issue.

[2016-04-15 19:21] aylakhan commented on #1401
Is the field file binary or ascii?

[2016-04-15 19:22] dcwhite commented on #1401
He said it ASCII, which leads me to believe it's a line-ending issue.

[2016-04-15 19:22] gduffley commented on #1401
I have tried ASCII. Don't know if it happens with Binary

On Friday, April 15, 2016, Ayla Khan <notifications@github.com> wrote:

[2016-04-15 19:23] aylakhan commented on #1401
Binary worked for me, so it is probably a line-ending issue.

[2016-04-15 20:20] aylakhan commented on #1401
Needs regression and unit test.

[2016-04-15 20:38] #1049 closed

[2016-04-15 21:21] #1402 closed

[2016-04-18 17:36] dcwhite opened #1404 "Version stamp for source zip builds"
This can be accomplished with a simple text file that is updated with every milestone.

[2016-04-19 21:15] aylakhan commented on #1396
@moritzdannhauer: Can you have Peter put a symbolic link to the lib directory that is parallel to the SCIRun executable in the build directory? I just tried this on a test machine, and it worked for me.

![ubuntu_scirun](https://cloud.githubusercontent.com/assets/1399377/14655844/82300776-0641-11e6-813a-92121be154b2.png)

[2016-04-19 21:30] aylakhan commented on #1330
@gduffley: reminder that I need a sample python script to test

[2016-04-19 21:31] aylakhan commented on #1394
@gduffley: reminder that we need a test network and data

[2016-04-21 18:14] basisunus commented on #1399
Fixed it on my branch add_viewscene. Pull request?

[2016-04-21 18:16] dcwhite commented on #1399
Go for it

[2016-04-21 19:30] #1159 closed

[2016-04-21 19:30] #1263 closed

[2016-04-21 19:30] #1372 closed

[2016-04-21 19:30] #1398 closed

[2016-04-21 19:31] dcwhite commented on #1371
@moritzdannhauer These can be worked on now.

[2016-04-21 19:31] dcwhite commented on #1370
@moritzdannhauer These can be worked on now.

[2016-04-22 20:13] aylakhan commented on #1404
make a script

[2016-04-22 20:43] dcwhite commented on #1404
Script pseudo-code:
[code]

[2016-04-22 21:36] dcwhite commented on #1399
Closed by https://github.com/SCIInstitute/SCIRun/pull/1405#issuecomment-213593975

[2016-04-22 21:36] #1399 closed

[2016-04-25 17:55] aylakhan opened #1407 "Upgrade cleaver external library to Cleaver 2"
Pending on Cleaver 2 bug fixes.

[2016-04-25 17:56] aylakhan commented on #486
Depends on #1407.

[2016-04-25 19:02] #1393 closed

[2016-04-25 19:07] dcwhite commented on #1341
Depends on #1358.

[2016-04-25 19:15] moritzdannhauer commented on #1407
I think we should discuss run-time / memory consumption of cleaver 1 and 2, especially since the
plan appears to be to replace cleaver 1 by cleaver 2 in SCIRun5.

[2016-04-25 19:21] aylakhan commented on #1407
Any Cleaver 2 testing needs to wait until bug fixes are in place.

[2016-04-27 19:32] cbrightsci opened #1408 "unable to execute python scripts from command line when built in headless mode"

[2016-04-29 06:53] #1267 closed

[2016-04-29 06:53] #1408 closed

[2016-04-29 16:28] jessdtate opened #1409 "Run Python Script through python console/headless mode."
The headless version needs a way to run a python script from the headless mode of scirun.  This would require a new function in the api.

[2016-04-29 17:12] cbrightsci opened #1410 "add verbose levels to limit console output in headless mode"
example: SCIRun -s script or SCIRun -s script --verbose 0
no output
example: SCIRun -s script --verbose 1-3
differing levels of output
 (just examples, can be implemented differently)

[2016-04-29 18:19] jessdtate opened #1411 "deleting/renaming subnets"
The renaming subnetworks function requires a double click in os x.  This of course adds the subnetwork.  which makes it hard to notice that the name is editable.

we also need a function to delete subnetworks once they have been created.

[2016-04-29 19:56] jessdtate opened #1412 "Viewscene matrix output not working properly"
The output matrices from the view scene do not recalculate if something is changed in the viewscene, even when reexecuted, unless something upstream changes, ie, the mesh or showfield options (and sometimes not even those.  changing the color won't change the matrices.).  update is also delayed one state, so that the first time it is executed the ouputs are 0s.  after something is changed, the mat

[2016-05-02 20:02] dcwhite commented on #1409
Slight correction: add a function to run a python script in the _interactive_ version of SCIRun.

[2016-05-04 17:22] dcwhite opened #1413 "Split SCIRunMainWindow.cc into separate implementation files"
It's getting too annoying to navigate this giant file.

[2016-05-04 18:06] jessdtate opened #1414 "Python transient state variables will not display."
When trying to use transient states in GetMatrixSlice, I am unable to get the transient state 'PlayModeActive' to show anything but a null output.

`print(scirun_get_module_transient_state('GetMatrixSlice:0','PlayActiveMode'))`

shows: `none`
even when the state is set with:

`scirun_set_module_transient_state('GetMatrixSlice:0','PlayActiveMode',1)`

or if the module is executed first.  I can set/

[2016-05-05 20:43] dcwhite commented on #271
Make a report for Windows (Visual Studio 2015), Mac (clang), and Linux (gcc via Travis-ci).

[2016-05-05 21:01] dcwhite commented on #1173
Networks are in src/ExampleNets/regression. For now, for each network file there, connect a ReportMatrixInfo to each ViewScene output port (3, red/green/blue), save network, run network, make sure no errors. You may submit intermediate pull requests if you want.

[2016-05-06 20:16] jessdtate opened #1415 "colormap interpolation on faces"
### Description

This issue isn't as noticeable unless you have course meshes with high variation of data, so it isn't urgent.

The problem is that the interpolation of the color along the edges and faces of a mesh is blends the color on the nodes instead of interpolating with the color map, as shown with the included comparisons between scirun4 and scirun5.  It should look like it does in scirun4

[2016-05-06 20:40] dcwhite commented on #1415
:+1: for well-crafted issue!

[2016-05-06 20:57] dcwhite commented on #1403
Need to fix Moritz's snippet. It doesn't work all the time.

[2016-05-06 21:15] jessdtate opened #1416 "BuildMappingMatrix output is wrong"
### Description

The BuildMappingMatrix produces bad results. it seems only the interpolated data setting is the only one that gives bad results.  The data is jumbled, as if the nodes of one of the fields is getting mixed up.

sample networks:

[Build_mapping_bug.srn5.zip](https://github.com/SCIInstitute/SCIRun/files/252995/Build_mapping_bug.srn5.zip)
[build_mapping_sandbox.srn.zip](https://github

[2016-05-06 21:18] #516 closed

[2016-05-06 21:18] #1411 closed

[2016-05-06 21:18] #1414 closed

[2016-05-06 21:50] dcwhite commented on #1411
Note: on OSX 10.8, this feature has this bug: http://www.qtcentre.org/archive/index.php/t-53881.html. 10.9+ does not have this problem.

[2016-05-07 15:40] dcwhite commented on #1410
If `--verbose` is not passed in, I just shut off all module logging in headless mode. If there is still too much global/network logging (there shouldn't be much left), make a new issue with the specific "kill this log message" request.

[2016-05-07 22:02] #1370 closed

[2016-05-09 20:48] #1358 closed

[2016-05-10 20:51] dcwhite commented on #1416
@jessdtate I have determined this is a randomly occurring bug, due to the algorithm's multithreaded nature. Can you try running your network a bunch of times and seeing how often it fails? Also, how many cores on the machine you're using?

[2016-05-10 21:44] jessdtate commented on #1416
I know I get the same result when I run it multiple times. I have never had it work properly in sr5. I ran it on a 2 core machine and an i5 and got the same results.  I can try on gus.

[2016-05-10 23:14] jessdtate commented on #1416
Here is a network with just the bad results visualized
[Build_mapping_bug_III.srn5.zip](https://github.com/SCIInstitute/SCIRun/files/258288/Build_mapping_bug_III.srn5.zip)

[2016-05-11 15:49] dcwhite commented on #1416
Can you provide the SCIRun 4 version as well?

[2016-05-11 16:09] dcwhite commented on #1416
Never mind :8ball:

[2016-05-11 20:15] #63 closed

[2016-05-11 20:15] #1367 closed

[2016-05-11 20:15] #1409 closed

[2016-05-11 20:15] #1410 closed

[2016-05-11 20:15] #1416 closed

[2016-05-11 20:33] dcwhite commented on #697
@jessdtate @aylakhan Here's one that definitely needs an IBBM2016 review.

[2016-05-11 20:34] dcwhite commented on #918
@jessdtate Here is last year's issue.

[2016-05-11 20:36] dcwhite commented on #968
@jessdtate IBBM

[2016-05-11 20:36] dcwhite commented on #881
@jessdtate IBBM

[2016-05-11 20:37] dcwhite commented on #1129
@jessdtate @ajanson IBBM

[2016-05-11 20:37] dcwhite commented on #853
@jessdtate IBBM

[2016-05-11 20:37] dcwhite commented on #1084
@jessdtate IBBM
@jessdtate IBBM
@jessdtate IBBM
@jessdtate IBBM

[2016-05-11 20:37] dcwhite commented on #738
@jessdtate IBBM

[2016-05-11 20:37] dcwhite commented on #1083
@jessdtate IBBM. Based on the labels, I'd say this one is pretty high priority.

[2016-05-11 20:38] aylakhan commented on #881
This is on @cbrightsci's renderer technical objectives list.

[2016-05-11 20:39] dcwhite commented on #957
I finally saw this one in @jessdtate's network for recently-fixed bug #1416. Had to delete/reconnect for VS to work.

[2016-05-11 20:39] dcwhite commented on #957
@jessdtate IBBM

[2016-05-11 20:39] dcwhite commented on #717
@jessdtate IBBM. This is one of *my* favorite features...

[2016-05-11 20:40] dcwhite commented on #1391
Still an issue?

[2016-05-11 20:40] dcwhite commented on #938
@jessdtate IBBM

[2016-05-11 20:40] dcwhite commented on #278
@jessdtate IBBM

[2016-05-11 20:43] dcwhite commented on #928
@jessdtate IBBM

[2016-05-11 20:43] dcwhite commented on #694
@jessdtate IBBM

[2016-05-11 20:43] dcwhite commented on #698
@jessdtate IBBM

[2016-05-12 17:14] dcwhite commented on #1386
@lizutah Any official updates? I heard an unofficial one from @aylakhan.

[2016-05-12 17:15] dcwhite commented on #1357
@jessdtate Let's try to close this one by tomorrow.

[2016-05-12 17:16] jessdtate commented on #1357
ok.  I'll test out some more today and tomorrow.

[2016-05-12 17:20] #1404 closed

[2016-05-12 18:49] dcwhite commented on #1374
@moritzdannhauer Do you have a complex input field (in the form of field file + real matrix data + imaginary matrix data) I could use as an initial test case? Not too big please...

[2016-05-12 19:32] aylakhan opened #1419 "Modules requiring documentation improvements"
- [ ] [ApplyFEMVoltageSource](http://scirundocwiki.sci.utah.edu/SCIRunDocs/index.php5/CIBC:Documentation:SCIRun:Reference:BioPSE:ApplyFEMVoltageSource)

[2016-05-12 22:23] zaracay opened #1420 "Insert Module: Dynamic Port Not Connecting"
When attempting to insert a module between two connected modules via the "Insert Module" option (double click the pipe), the output port of the new module does not connect to the downstream module if the downstream module accepts dynamic ports.

Case 1: Expected Behavior -- Insert Module works properly
ReadField ---> ReportFieldInfo
ReadField ---> GetFieldBoundary ---> ReportFieldInfo
     -- Note

[2016-05-12 22:26] zaracay opened #1421 "Port Matching between SCIRun 4 and SCIRun 5"
Some modules in SCIRun 4 have ports that do not match those available in SCIRun 5.

ReportFieldInfo --
    SCIRun4 - 9 output ports
    SCIRun5 - 6 output ports

More modules to be appended in the comments when they are found.

[2016-05-12 23:03] moritzdannhauer commented on #1374
I need to do a literature search to give you something meaningful.
Can you do start with an artificial example?

[2016-05-13 00:49] dcwhite commented on #1374
OK. I have no problem coming up with the most artificial examples.

[2016-05-13 17:00] dcwhite opened #1422 "Triggered Scripts part 3"
Follows #1403.

[2016-05-13 17:16] #1403 closed

[2016-05-13 18:37] gduffley opened #1423 "Save sub-net tree item display bug on OSx 10.10. Need a work around"

[2016-05-13 19:10] dcwhite opened #1424 "Module GUI size examples/discussion"
Use this issue to post screenshots of desired module sizing, along with the size adjustment values in the dev console UI.

[2016-05-13 19:11] dcwhite opened #1425 "Add python API function to get current network filename"

[2016-05-13 19:15] dcwhite commented on #1424
@jessdtate @ajanson @gduffley covers all three OSes.

[2016-05-13 19:17] gduffley opened #1426 "Tag all selected modules with single click"

[2016-05-13 19:18] SeyhmusGuler opened #1427 "GetMatrixSlice module index out of range"
On Windows, I am not able to change the row or column index of GetMatrixSlice module.

[2016-05-13 19:18] gduffley commented on #1424
![screen shot 2016-05-13 at 12 24 29 pm](https://cloud.githubusercontent.com/assets/5941547/15259230/3d66c632-190d-11e6-8225-4b7ac536bdde.png)

[2016-05-13 19:24] wgood opened #1428 "BinaryCrashesWhenHolding(Option + g)"
Process:               SCIRun [35945]
Path:                  /Applications/SCIRun.app/Contents/MacOS/SCIRun
Identifier:            ???
Version:               ??? (???)
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           SCIRun [35945]
User ID:               51476

Date/Time:             2016-05-13 13:15:59.710 -0600
OS Version:            Mac OS X 10.10.5 (

[2016-05-13 19:32] zaracay opened #1429 "SCIRun 4 network import, part 3: List of modules that don't port properly"
### Description

The following are modules that have been ported into SCIRun 5 (or their equivalent) that do convert when importing 4.x SCIRun network.  New findings or a description of a different location of these modules can be listed in the comments below.  The bold text is the name of the SCIRun 4 module(s), the text below contains the associated name of the SCIRun 5 module(s)

**ReportFieldI

[2016-05-13 19:38] SeyhmusGuler opened #1430 "Can not change the name of saved subnetworks via clipboard on windows"
On windows, I can't change the name of the subnetworks i saved by giving a 'star' in the clipboard history. Also, when I drag the mouse on top of these saved subnetworks, a window with a lot of details about the modules in that subnetwork pops-up.

[2016-05-14 05:59] jessdtate commented on #1357
quadsurf and hexvol are working.

[2016-05-14 06:39] jessdtate opened #1431 "tag layer boxes no tag"
### Description

The tag boxes feature creates a box for modules not tag.  Modules default to the 0 tag, which is ignored by the module.  It would be better if the default for modules was no tag and tag 0 was treated as a normal tag.

### Steps to Reproduce

1. create a module.
2. remove the tag by selecting the same tag label as the module and clicking on it.
3.  generated tag boxes.

**Expected

[2016-05-14 23:30] dcwhite commented on #1428
None of our code (except for `run`) appear in this crashed thread stack trace, so it's not very helpful. If you can reproduce the steps to create the crash consistently, that would be great.

[2016-05-14 23:31] dcwhite commented on #1427
Could you provide a sample network? I have not seen this problem.

[2016-05-14 23:33] dcwhite commented on #1424
Thanks!

[2016-05-16 17:14] dcwhite commented on #1374
Basic real results look the same (tested with one of the unit test tetvols). I'll concoct a complex example, and make sure it doesn't crash.

[2016-05-16 18:59] dcwhite commented on #1430
I'm going to change the GUI for those in #1423. Are you trying to rename the starred item under Clipboard history, or the newly-created item under Saved Subnetworks? There is a (not-too-obvious) push button to rename the latter.

[2016-05-16 19:10] dcwhite commented on #1374
@jessdtate @moritzdannhauer Can both of you guys check out branch complexFE and give this a test? You can start with https://github.com/SCIInstitute/SCIRun/blob/complexFE/src/ExampleNets/regression/complexFE1.srn5 as a basis.

[2016-05-17 16:41] dcwhite commented on #1136
See module conversion tutorial for help getting started on this one.

[2016-05-17 16:51] dcwhite commented on #1178
We'll need google test assertions that the above datatypes and typedefs are the sizes they are. If they change, it breaks serialization, so the unit test would act as a warning.

[2016-05-17 16:52] dcwhite commented on #1227
Start with writing some test code that calls the code that Jess changed in #1225. Then we can figure out exactly what it is we should assert.

[2016-05-17 16:55] dcwhite commented on #1348
Start by reading the source files src/Core/Datatypes/ColorMap.h and cc. Then read up on the `Strategy` and `Factory` design patterns.

[2016-05-17 16:56] dcwhite commented on #1195
This code will go into SCIRunMainWindow.cc right now, but I'd like to thoroughly refactor that file to make it easier to add these types of GUI features. So let's wait on this one.

[2016-05-17 16:57] dcwhite commented on #1243
Start with: during execution, progress bar color changes from green to ???--some sort of "execution-y" color.

[2016-05-17 19:45] dcwhite commented on #1357
Can this be closed then?

[2016-05-17 21:40] jessdtate commented on #1357
A couple more test:
curvemesh works with data on the node, but not with data on the edges.
imagemeshes works with data on the faces and not on the nodes.

The rest of the mesh types are much more rare.

[2016-05-17 21:42] jessdtate opened #1432 "feature request: tag boxes visible on network load."
### Description

The tagging boxes would be really useful in sharing networks, but they should be visible on the network load, like module notes.  Otherwise it would be hard for a beginner to see them.

### Steps to Reproduce

1. set tags on modules.
2. save network.
3.  load network.
4 see tag boxes

**Expected behavior:** [What you expected to happen]

the ability to see the tag layer boxes upon

[2016-05-17 21:48] jessdtate commented on #1357
here are some test meshes for the last two:
[test_curve_elem.mat.zip](https://github.com/SCIInstitute/SCIRun/files/269232/test_curve_elem.mat.zip)
[test_imageMesh.mat.zip](https://github.com/SCIInstitute/SCIRun/files/269233/test_imageMesh.mat.zip)

[2016-05-17 21:49] dcwhite commented on #1357
Thanks. Can you attach a couple .fld files for me to debug with?

[2016-05-17 21:49] dcwhite commented on #1357
Boom! Great minds think alike...

[2016-05-17 22:18] #1374 closed

[2016-05-17 22:18] #1421 closed

[2016-05-17 22:18] #1423 closed

[2016-05-17 22:18] #1425 closed

[2016-05-17 22:18] #1431 closed

[2016-05-17 22:29] jessdtate opened #1433 "extractsimpleisosurface UI bug"
### Description

ExtractSimpleIsosurface will throw an error when the default UI values are used.  the error is:
`Error in ExtractIsosurface algorithm: No Isovalue available`, the error will persist, even when the input value is changed, until the tab is changed.  It can be changed back to single value and then the module will execute.  It appears that the network can be saved and still generate t

[2016-05-19 15:24] lizutah opened #1434 "ReadMatrix forgets what drop down you used"
Complaint by @ajanson and @gduffley.

[2016-05-19 15:29] lizutah opened #1435 "ViewScene needs to display axis"
request by @ajanson.

[2016-05-19 15:30] lizutah opened #1436 "ShowFieldGlyphs needs to render tensors"
not working properly

[2016-05-19 15:32] lizutah opened #1437 "ShowField - can't deselect faces/nodes/edges"
@johaenns will reproduce and report back (using linux)

[2016-05-19 17:28] dcwhite commented on #1436
Duplicate: #1047

[2016-05-19 17:28] #1436 closed

[2016-05-19 17:29] dcwhite commented on #1435
@ajanson provide a screenshot of desired behavior.

[2016-05-19 21:57] jessdtate opened #1438 "add knowns to linear system"
### Description

AddknownsToLinearSystem has a check in it for symmetric matrices.  However, this module should be able to be used with BuildSurfaceLaplacianMatrix, which does not generate symmetric matrices.  Therefore, addknownstoLinearSystem should also handle assymetric matrices.  There is a check in the code for symmetry, so the earlier decision include only symmetric matrices needs to be rev

[2016-05-19 22:26] dcwhite commented on #1438
Talk to @moritzdannhauer about this one. Here's the pertinent commit history for the AKTLS algo file: https://github.com/SCIInstitute/SCIRun/commits/master/src/Core/Algorithms/Math/AddKnownsToLinearSystem.cc

[2016-05-19 22:31] moritzdannhauer commented on #1438
Ok, lets just delete the symmetry check then.

[2016-05-19 22:58] jessdtate commented on #1438
is it just the check that needs to be removed, or does the code need to be changed to work with assymetry?

[2016-05-19 23:03] moritzdannhauer commented on #1438
It should not, lets remove it and find out!

[2016-05-20 16:26] dcwhite commented on #1438
@jessdtate You should make the change, run tests, and make a PR. Let me know if you need code help.

[2016-05-20 16:31] #1433 closed

[2016-05-20 16:31] #1434 closed

[2016-05-20 16:52] jessdtate commented on #1438
OK.  I'll do that.

[2016-05-20 18:58] johaenns opened #1440 "WriteMatrix saves every matrix as SCIRun-Matrix (OpenSUSE)"
When trying to save a matrix in any other format than SCIRun-binary, this choice is ignored. Occurs as soon as the "filter"-dropdown has white background. This usually happens when editing storage location and type using the "save" menu the second time after SCIRun startup.

![saving_bug](https://cloud.githubusercontent.com/assets/18470885/15438492/a6313fc2-1e89-11e6-8a5b-64cd7c67bb28.png)

[2016-05-20 19:16] dcwhite commented on #1440
From the description, the use case sounds strange. Does the file type work most of the time otherwise? What about in existing saved networks? I verified each different file type is working on Windows; I won't have time to debug this on OpenSUSE today.

[2016-05-20 19:22] johaenns commented on #1440
Practically, it always looks like in the above picture on opensuse and thus it never works. Since I am not able to set the filetype correctly, it also doesn't work in existing saved networks.

[2016-05-20 19:50] ajanson opened #1441 "Network workspace area is showing a highlighted blue box that is preventing me from clicking on pipes"
### Description
The workspace places a blue highlighted region around all the modules in my network.

### Steps to Reproduce

1. Open network with some modules and pipes
2. Start clicking on modules or pipes in the network
3. Giant blue box appears
4. Sometimes it prevents me from selecting pipes.

**Expected behavior:** Blue box should not be there.

**Actual behavior:** Blue box is there

### Ve

[2016-05-20 19:53] dcwhite commented on #1441
That should have been fixed. I'll need the exact network file for this one. Attach here as a zip file.

[2016-05-20 19:56] ajanson opened #1442 "SolveLinearSystem GUI missing "Use previous solution as initial guess" checkbox"
### Description

SCIRun 4 module had a checkbox for this, which was by default checked. This is missing in SCIRun 5 and I would like to uncheck it. If SCIRun 5 already has this option turned off by default then it is no problem.

### Steps to Reproduce

1. Open SolveLinearSystem module GUI
2. Attempt to uncheck the checkbox
3. Cannot uncheck because it is not there

**Expected behavior:** Checkbox

[2016-05-20 20:01] dcwhite commented on #1442
All the partial solution stuff is not implemented yet. I'm pretty sure v5 is behaving as if it's not checked, but I will make sure.

[2016-05-20 20:23] dcwhite commented on #1357
Can you send me .FLD versions of these two buggy meshes?

[2016-05-20 20:29] ajanson commented on #1441
So it looks like that network got corrupted somehow. I saved and tried to reload it and I get this error.

![image](https://cloud.githubusercontent.com/assets/8622681/15441053/ee528e8a-1e95-11e6-8ed8-f6fd0b997995.png)

I am able to reproduce it with this network as well (It is not letting me upload a zip so I am slacking it to you.
Upon loading just click and drag a module.

[2016-05-20 20:35] dcwhite commented on #1442
Verified v5 solver does not use any previous solutions as guesses, and always uses the zero vector as the initial guess. Closing this issue. If you want other options for initial solver guesses, make a new issue.

[2016-05-20 20:35] #1442 closed

[2016-05-20 20:36] jessdtate commented on #1357
[test_image_node.fld.zip](https://github.com/SCIInstitute/SCIRun/files/275406/test_image_node.fld.zip)
[test_curve_elem.fld.zip](https://github.com/SCIInstitute/SCIRun/files/275407/test_curve_elem.fld.zip)

[2016-05-20 20:39] dcwhite commented on #1441
Hadn't noticed this since I never moved any modules in old saved networks. This is due to the default tag value changing from 0 to -1. 0 is now a normal tag value, and will be drawn when the scene is updated. The immediate workaround is to remove the 0 tag from all your modules and resave, but that is tedious. I will come up with either a faster way to do this, or a backward-compatibility check. B

[2016-05-20 20:41] dcwhite commented on #1441
Another workaround is to press Alt-Shift-G to remove the box, but then it keeps reappearing with every module move. I'll try to fix the reappearing problem today.

[2016-05-20 20:50] dcwhite commented on #1426
Also, be able to untag modules in bulk.

[2016-05-20 21:00] dcwhite commented on #1441
@ajanson Reply to https://github.com/SCIInstitute/SCIRun/issues/1441#issuecomment-220710682:

This is the hazard of using the absolute latest master, in between releases. We'll be cleaning up the branch system when we move to beta, but network files not being readable is a consequence of ongoing network file format work. Normally, I would keep such changes out of master until they're done, but am

[2016-05-20 21:15] #1432 closed

[2016-05-20 21:15] #1441 closed

[2016-05-23 17:53] cbrightsci opened #1443 "WriteField: Add g3d as saveable object type"
Look at uvfconverter in iv3d to get algorithm for this.

[2016-05-24 19:50] ajanson opened #1444 "Cannot put negative number in some modules' text boxes"
### Description

The two modules I have found so far are "ExtractSimpleIsosurface" Single tab, and "SetFieldDataToConstantValue"

[2016-05-25 17:41] behollis opened #1445 "incorrect render of cylinder edge glyphs for streamlines"
[Pic](http://www.sci.utah.edu/~behollis/scirun5/cylinder-render-scirun5.png) of problem with network.

System:
Ubuntu 15.10
GeForce GTX Titan X

[2016-05-25 17:55] cbrightsci commented on #1445
@behollis Please attach a link to the network and any data needed by the networks.

[2016-05-25 20:22] cbrightsci commented on #1445
@behollis If you could give me an actual network that manifests this bug that would be wonderful. That way I can work with the network and debug through it. If any other files are needed for the network please provide those as well.

[2016-05-25 20:23] behollis commented on #1445
here are the needed files (modified from distribution) to reproduce:

1. [network](http://www.sci.utah.edu/~behollis/scirun5/streamline.srn5)
2. [bdl](http://www.sci.utah.edu/~behollis/scirun5/Defib_simulation_results.bdl)

[2016-05-26 23:08] allywarner commented on #1173
Submitted pull request. The following networks resulted in errors from adding the ReportMatrixInfo modules: ClipFieldInfo, disabledModules, and setuptdcs_colin27_patchelc. I did not add the ReportMatrixInfo modules to the ViewSceneBackgroundColor network because there was no information to report and would result in an error.

[2016-05-31 17:35] ajanson opened #1448 "Cannot use multiple SinglePointProbe Widgets in ViewScene. Moving one, moves the other."
### Description

Adding a second GenerateSinglePointProbeFromField widget does not behave correctly. Moving one moves the other as well, and vice versa.

### Steps to Reproduce

1. Add 2 GenerateSinglePointProbeFromField widgets to the ViewScene
2. Shift+Click/Drag one and the other moves as well.

**Expected behavior:** Each point probe moves independently

**Actual behavior:** They move together

[2016-06-01 20:56] jessdtate commented on #1424
here's mine finally, -30, -70
![module_size](https://cloud.githubusercontent.com/assets/3484631/15725403/f1d443a6-2808-11e6-8bec-4c9da0d78025.png)

[2016-06-01 20:58] jessdtate commented on #1424
I have a 15 inch, 1440 x 900

[2016-06-07 17:16] behollis commented on #1445
Has this problem been verified yet?

[2016-06-08 19:09] dcwhite commented on #1424
Idea: detect available screen size and adjust module size accordingly.
http://stackoverflow.com/questions/18975734/how-do-i-get-the-screen-size-of-desktop-where-i-am-running-my-qt-application

[2016-06-08 19:26] dcwhite commented on #1430
@SeyhmusGuler Please test this again with the latest. There is a new GUI for it.

[2016-06-08 19:39] SeyhmusGuler commented on #1430
Sounds good. I will try it again.

[2016-06-08 19:50] dcwhite opened #1449 "Create subset build targets to build/run tests on Algorithm Layer/Module Layer, so Travis can finish in time"

[2016-06-08 21:57] dcwhite commented on #1420
@zaracay I get a crash when using Insert Module with a module with dynamic ports. Does your build not crash? There are many broken assumptions in the port/connection removal code, so this might be a bit of a lengthy fix.

[2016-06-09 16:54] #1444 closed

[2016-06-09 19:17] dcwhite opened #1450 "Network editor option: right-click drag is current drag-mode (left-click defaults to select mode)"
Suggested by @gduffley.

[2016-06-10 16:20] dcwhite commented on #1450
Unfortunately this appears not so easy to do, since Qt locks down which mode the mouse is in regardless of buttons pressed, and keeps drag/select separate (i.e. I'd have to hand-code a drag function, since there's no combo option: http://doc.qt.io/qt-4.8/qgraphicsview.html#DragMode-enum). I'll leave this open if I come up with a solution.

[2016-06-10 16:29] dcwhite commented on #1237
We've moved away from the SCIRun python object API, to a strictly imperative API that uses strings everywhere. It's less user-friendly, but it works fine. This can be revisited after we upgrade to the latest boost.

[2016-06-10 16:35] dcwhite commented on #1167
Closing this since there are issues for the last two, assigned to @cbrightsci.

[2016-06-10 16:35] #1167 closed

[2016-06-10 16:39] dcwhite commented on #1152
@jessdtate Could you enumerate the various combinations of valid inputs and sizes, and test each one to see if they behave as expected? This task would be good to delegate to another student. Just @ them here and I'll assign it.

[2016-06-10 16:54] dcwhite commented on #888
@moritzdannhauer @SeyhmusGuler @jessdtate What's the priority of this one relative to all the other current issues/requests?

[2016-06-10 17:10] dcwhite commented on #22
@cbrightsci You may close this if you don't feel like it's useful to have such a meeting. We haven't done code review in a while though...

[2016-06-13 16:22] #1215 closed

[2016-06-13 16:22] #1272 closed

[2016-06-13 16:22] #1340 closed

[2016-06-13 18:12] SeyhmusGuler commented on #1430
I am now able to rename a saved subnetwork by right click - rename option on windows.

[2016-06-13 18:12] #1430 closed

[2016-06-13 18:31] SeyhmusGuler commented on #1427
Although the 'current index' for the module is set to -1 at the beginning, I am able to change the index now.

[2016-06-13 18:31] #1427 closed

[2016-06-13 18:31] dcwhite commented on #1165
Assuming moduleWidgetExperiment is approved, this can be closed.

[2016-06-13 19:16] kgillette opened #1451 "No TetVolField importer"
There is no TetVolField importer in the ReadField module that can be used to import meshes in the form of .elem or .pts.

[2016-06-13 19:23] dcwhite commented on #1440
Try using the python API to modify the filetype. Open the Python console, and enter:
`
scirun_set_module_state('WriteMatrix:0', 'FileTypeName', 'Matlab Matrix')
`
where the first parameter is the module id, and the third parameter is what type you want. This ought to override the UI value once you execute.

[2016-06-13 20:45] kgillette opened #1452 "Crash error with ViewScene"
The ViewScene module crashes after I press Autoview in the following network (see image below). I tried the same network in SCIRun 4 and it works.

![screen shot 2016-06-13 at 12 47 23 pm](https://cloud.githubusercontent.com/assets/12956701/16022522/7c590a1e-3175-11e6-8e6c-77c98746f4eb.png)

[2016-06-13 20:49] dcwhite commented on #1452
Don't use the red ViewScenes. They "bug out" 5-10% of the time. Known bug.

Are all your ViewScenes always going red? That is a new issue.

[2016-06-13 20:54] kgillette commented on #1452
It isn't red until I hit the AutoView. A lot of my view scenes have been messing up, but I thought it was just my data until I checked in in SCIRun 4.

[2016-06-13 21:00] dcwhite commented on #1452
Are the coordinate axes showing in the ViewScene dialog? If not, it doesn't matter what you're pressing, the VS just fails.

[2016-06-13 21:07] dcwhite commented on #1451
@kgillette Please attach a zip file of your tetvol input files so I can test the converted importer.

[2016-06-13 21:14] dcwhite opened #1453 "Test SCIRun on high resolution displays"
Specifically Windows "Retina-level" displays, like 3000x2000 laptops. Last year's IBBM featured many of these machines.

[2016-06-13 21:16] dcwhite commented on #127
Tooltips still match module color, but now the background pattern makes them stand out more.

[2016-06-13 21:21] dcwhite commented on #1375
@jessdtate Can you just use bash itself to do this, like
`VARNAME=filename scirun network.srn -E`
?

[2016-06-13 21:46] jessdtate commented on #1375
You can use bash to do this.  It is just setting the environment variables to the string for the filename.  This works in scirun5 and 4:
    export VARNAME=filename
    scirun -E network.srn5

It would be that we decide that this is good enough, since we now have the python console too.

[2016-06-13 21:50] jessdtate commented on #1152
What a poorly written issue.  I will go back and test this again.  SCIrun has a thing where if there is an error in the module, it will disappear if there is an execute command, but no execution (no change in inputs).  It could have been a normal error that I didn't see.

[2016-06-13 21:53] jessdtate commented on #888
To me, this is less important than some of the missing features, but most of those are with the renderer (widgets, saving camera locations, scripting screen shots and the video options).  It would be nice to have by IBBM, but I think it would be low on the list.

[2016-06-13 22:01] jessdtate commented on #127
with the new module sizes, FlipSurfaceNormals, SplitFieldByDomain, and ClipFieldByFunction have the names slightly cut off. ConvertFieldBasis,CalculateFieldData,CalculateFieldGradients, and other similar module length names are all a little too small compared to other modules.

[2016-06-14 15:59] dcwhite commented on #127
Thanks. I'll adjust the text size thresholds.

[2016-06-14 16:08] kgillette commented on #1451
Here you are. Let me know if you have any trouble downloading it.

[meshwbath_e.elem.zip](https://github.com/SCIInstitute/SCIRun/files/314391/meshwbath_e.elem.zip)

[2016-06-14 16:10] kgillette commented on #1452
They aren't showing. Is that apart of another known error?

[2016-06-14 16:10] dcwhite commented on #1452
Nope, same error. The question is does this happen with every ViewScene, every time, or is it random?

[2016-06-14 16:12] kgillette commented on #1452
I am not sure, but it seems to happen to me a lot. I'll start recording every time that it happens.

[2016-06-14 16:46] dcwhite commented on #1451
Is there a .pts file to go with that?

[2016-06-14 17:16] kgillette commented on #1451
I think this is the entire mesh. The .pts file is in the new zip file.

[meshwbath.zip](https://github.com/SCIInstitute/SCIRun/files/314524/meshwbath.zip)

[2016-06-14 17:23] dcwhite commented on #1451
Thanks. The importer can handle it now, and the field matches v4. However, the mesh is so large it's not all visible in v5 ViewScene. You'll need to make a new issue for @cbrightsci to increase the maximum size of the view space, again.
![viewscene_2016 06 14 112311 890_2](https://cloud.githubusercontent.com/assets/1399383/16052667/725677ce-3222-11e6-956c-a685b63221b4.png)

[2016-06-14 18:01] kgillette commented on #1451
Have you already pushed it?

[2016-06-14 18:09] dcwhite commented on #1451
Nope, still on work branch. Wait until issue is closed ☺️

[2016-06-14 18:09] kgillette opened #1454 "Increase maximum space of the ViewScene"
@cbrightsci

Need to increase the maximum space of the ViewScene module.

![](https://cloud.githubusercontent.com/assets/1399383/16052667/725677ce-3222-11e6-956c-a685b63221b4.png)

[2016-06-14 18:24] dcwhite commented on #1454
Code to load the mesh is coming to master soon :)

[2016-06-14 18:25] cbrightsci commented on #1454
Look forward to it.

[2016-06-14 20:13] jessdtate commented on #127
with the icons hidden, the error indication is also hidden, which can make it hard to tell which is throwing an error.

[2016-06-14 20:15] dcwhite commented on #127
I noticed this too...I need to get the "errored module changes red" working again (it's broken currently). I might propagate the status color to the title label as well.

[2016-06-14 20:43] jessdtate opened #1455 "visualizing glyphs on faces or edges; showFieldGlyphs"
### Description

when passing a vector field to showfieldGlyphs that has the vectors located on the faces or the edges, there are several problems.  the first and likely the cause of the rest, is that vectors are placed on the node instead of the center of the face or edge.  The second is that the vectors are often disorganized (apparent in the visualization of the surface normals). Third, the vec

[2016-06-14 21:46] moritzdannhauer commented on #888
The renderer functionalities and a parallel version of generatestreamline have similar priority to me but not absolutely essential to IBBM. Lets talk again after IBBM to make it happen.

[2016-06-15 20:24] aylakhan commented on #1419
Meant for Dave Weinstein...

[2016-06-16 15:52] ajanson opened #1458 "Isosurface Single tab does not work immediately and forgets tab when network reloaded"
### Description

When first using ExtractSimpleIsosurfacce the default tab is Single and the module does not create an isosurface until you run a different tab successfully and then switch back. The module does not remember the current tab and switches back to Single when the network is saved and reloaded (not sure this always happens).

### Steps to Reproduce

1. Load new ExtractSimpleIsosurface

[2016-06-16 17:00] kgillette opened #1459 "GetMatrixSlice does not properly initiate state variables"
GetMatrixSlice does not properly initiate the state variables so you cannot change the row or column you are selecting. It keeps the index on -1.

[2016-06-16 17:16] dcwhite commented on #1458
Thought I fixed this, I'll verify.

[2016-06-16 19:46] kgillette opened #1460 "IGB importer for ReadMatrix Module"
Going to add an IGB converter for Carp output files into the ReadMatrix module.

[2016-06-16 22:02] dcwhite commented on #1128
@jessdtate Let's do this for this year's IBBM. Who is doing the initial SCIRun training?

[2016-06-16 22:05] jessdtate commented on #1128
@kgillette  is doing the first scirun lab.

[2016-06-16 22:11] dcwhite commented on #1128
@kgillette Check out this issue. It will be easy to code up such a wizard. Let me know what all you want in there, to ease the initial SCIRun walkthrough.

[2016-06-17 17:22] #127 closed

[2016-06-17 17:22] #1148 closed

[2016-06-17 17:22] #1424 closed

[2016-06-17 17:22] #1451 closed

[2016-06-17 17:22] #1458 closed

[2016-06-17 17:22] #1459 closed

[2016-06-17 17:22] #1165 closed

[2016-06-17 20:02] dcwhite opened #1461 "Make stub pages for modules with missing wiki pages"
### Brand new modules
- [x] InterfaceWithPython
- [x] ConvertMatrixToScalar
- [x] ConvertRealToComplexMatrix
- [x] ConvertScalarToMatrix
- [x] ComputePCA
- [x] CreateComplexMatrix
- [x] ReportComplexMatrixInfo
- [x] CalculateNodeLocationFrequency
- [x] InterfaceWithCleaver
- [x] PythonObjectForwarder
- [x] NetworkNotes
- [x] PrintDatatype

### Should point to Brain Stim help page
- [x] SetupTDCS
-

[2016-06-17 20:05] aylakhan commented on #1438
@jessdtate - needed for IBBM?

[2016-06-17 20:06] aylakhan commented on #1437
@johaenns - any updates?

[2016-06-17 20:13] jessdtate commented on #1438
not essential, but I'd like to have it done before then.

[2016-06-17 20:15] aylakhan commented on #1348
@jessdtate, @kgillette, @gduffley, @ajanson - any colormaps needed for IBBM?

[2016-06-17 20:17] jessdtate commented on #1348
I don't think there are any more that we specifically need.

[2016-06-17 20:22] aylakhan commented on #1155
@kgillette - do we have a LaTeX doc for this?

[2016-06-17 20:25] aylakhan commented on #1074
@cbrightsci - please test

[2016-06-17 20:27] aylakhan commented on #1005
@jessdtate - does your pull request completely fix this?

[2016-06-17 20:28] aylakhan commented on #1002
@jessdtate - status?

[2016-06-17 20:30] jessdtate commented on #1002
this network hasn't had any developements, mainly because the functionality that the network is trying to acheive isn't really supported in SCIRun.  We are waiting on a collaborator that can help us with that.

[2016-06-17 20:31] jessdtate commented on #1002
the buildFEMatrix and solvelinearsystems are working.

[2016-06-17 20:33] aylakhan commented on #851
Closing issue - we'll use something other than Tuvok.

[2016-06-17 20:33] jessdtate commented on #1155
@kgillette has started working on  this document, but she ran into some snags as some of the modules and functionality hasn't been ported yet. I think she made issues for them.

[2016-06-17 20:35] jessdtate commented on #1005
yes.  There are some aspects of the code (deflation of the matrix) that I took out, but may need to be revisited later, perhaps as an optional feature.

[2016-06-17 20:41] kgillette commented on #1155
There were a few modules that had not yet been implemented like showmeshboundingbox. I am pretty sure I filed an issue report. I think the latex document is located on my computer. Would you like me to start updating it again? I can do it this weekend.

[2016-06-17 20:43] dcwhite commented on #1155
Just replace ShowMeshBoundingBox with EditMeshBoundingBox in the tutorial. Yes, please get any latex work pushed to github, so it can be collaborated on.

[2016-06-17 20:45] aylakhan commented on #21
Time to take this out behind the barn and put it out of it's misery.

[2016-06-17 20:45] #21 closed

[2016-06-17 20:48] aylakhan commented on #1002
@jessdtate - can you close this issue then?

[2016-06-17 20:49] aylakhan commented on #1386
@lizutah - updates?

[2016-06-17 20:58] jessdtate commented on #1002
You can close it.  I don't have such permissions.

[2016-06-17 21:01] aylakhan commented on #1435
@ajanson - update?

[2016-06-17 21:05] aylakhan commented on #1401
Requires re-write of SCIRun field header processing.

[2016-06-17 21:06] aylakhan commented on #1396
@moritzdannhauer - update?

[2016-06-17 21:16] dcwhite commented on #1101
This appears to be done. The CSCM modules have their default values.

[2016-06-17 21:16] #1101 closed

[2016-06-17 21:17] #1002 closed

[2016-06-17 21:18] dcwhite commented on #835
@cbrightsci will spawn a new issue for the first part and then close.

[2016-06-17 22:45] cbrightsci opened #1462 "Show nodes, edges, and faces in objects tab of viewscene control panel"
toggle the the faces, edges, and nodes on and off using the Object selection list in the viewscene configuration objects tab.

[2016-06-17 22:45] cbrightsci commented on #835
closing and opening new issue for last part. #1462

[2016-06-17 22:45] #835 closed

[2016-06-17 23:04] ajanson commented on #1435
Sorry. I never noticed this was assigned back to me. SCIRun 4 has the option to turn on an orientation axis at the origin of the viewscene. I would like this in SCIRun 5 as well.

![image](https://cloud.githubusercontent.com/assets/8622681/16166991/742de6d0-34ad-11e6-8cd4-932f4c2d8f57.png)

[2016-06-17 23:18] dcwhite commented on #1435
Thanks.

[2016-06-17 23:22] dcwhite commented on #1448
I've got a fix coming for this. The module didn't check whether it was its own widget that had moved, so the move transform was applied to any instance.

[2016-06-18 05:40] dcwhite commented on #94
For unchecked items above:
1. There are other issues covering this one;
2. Decided with the new smaller, dynamic module widget, plus the difficulty of arranging input widgets in a QGraphicsScene, it would not be prudent to try this approach.

Thus, closing.

[2016-06-18 05:40] #94 closed

[2016-06-18 06:33] #958 closed

[2016-06-18 06:33] #1107 closed

[2016-06-18 06:33] #1448 closed

[2016-06-20 18:36] ajanson opened #1463 "ViewScene "AutoView" issues with GeneratePointProbe widget or single node rendered as sphere"
### Description

Clicking autoview with a single GenerateSinglePointProbeFrom field widget or a single node passed into showfield rendered as a sphere zooms in really far and seems to lock the viewscene until a different object is added and autoview is pressed again.
### Steps to Reproduce
1. Connect first port of GenerateSinglePointProbeFromField to viewscene
2. Click autoview in the viewscene
3.

[2016-06-20 18:39] dcwhite commented on #1444
@cbrightsci CreateGeometricTransform needs updating too

[2016-06-20 19:06] dcwhite opened #1464 "Add GUI for connecting multiple modules on an output port"

[2016-06-20 19:34] ajanson opened #1465 "Highlight/Select all modules in network window added from Snippets, clipboard, and saved subnets"
### Description

If I double-click, or drag and drop a saved subnetwork it often adds these modules on top of other modules in the network window and I have to manually select all of those modules in order to move them to a new area. This would be much easier if they were all selected to begin with (also all pipes selected).

### Steps to Reproduce

1. Double-click to add saved subnetwork
2. Attem

[2016-06-20 19:38] dcwhite commented on #1465
Good suggestion.

[2016-06-20 19:46] wgood commented on #1461
Here is the Missing Module Help List

-ElectrodeCoilSetup-
——No Help
-GenerateROIStat
——No Help
-SetConductivitiesToMesh
——No help
-SetupTDCS
——No Help
-MapFieldDataOntoElements
——No Help
-RefineTetMeshLocally
——No help
-ConvertMatixToScalar
——No Help
ConvertMatrixToString
——No Help
-ConvertRealToCompleMatrix
—— No Help
-ConvertScalarToMatrix
———No Help
-ApplyFEWCurrentSOurce
——— No Help
ApplyFEMV

[2016-06-20 19:49] dcwhite commented on #1461
Thanks!

[2016-06-20 21:26] dcwhite commented on #1426
Select any number of modules (using Cmd-click), hit Option/Alt-[0-9] to add all the unassigned modules to the specified tag group. Select modules and hit Option/Alt-J to clear tags on the selected modules.

[2016-06-21 17:51] jessdtate opened #1466 "box widgets moving other widgets while hidden"
### Description

This may be related to #1373.  When multiple box widgets are used in the viewscene and one is hidden, moving the hidden widget will move the last clicked widget that is not hidden.  This happens even when the hidden widget is a point probe, but only when the last moved visible widget is a box widget.  see the included example networks.

[multiple_box_wdgets.srn5.zip](https://githu

[2016-06-21 18:02] jessdtate commented on #1373
an update in addition to the #1466, here is an example network.  Open the network, disable one of the widgets in the viewscene configure window, then try to move the hidden widget.  The output point will still move.

[multiple_point_probes.srn5.zip](https://github.com/SCIInstitute/SCIRun/files/326246/multiple_point_probes.srn5.zip)

[2016-06-21 18:23] kgillette opened #1467 "ConvertMeshToUnstructuredMesh not converted from SCIRun4"
ConvertMeshToUnstructuredMesh has not yet been converted from SCIRun4, but is required for the basic tutorial.

[2016-06-21 18:29] dcwhite commented on #1467
I'll take this one.

[2016-06-21 19:20] allywarner commented on #271
[clangWarningsReport.pdf](https://github.com/SCIInstitute/SCIRun/files/326423/clangWarningsReport.pdf)

[2016-06-21 19:20] allywarner commented on #271
Mac clang warnings attached above.

[2016-06-21 21:30] jessdtate opened #1468 "diagonal glyphs not visualizing properly"
### Description

when vectors align on the diagonal (1,1,1), (-1,-1,-1), or a scaled version of one of the two the vectors do not display properly.  the lines glyph is the only glyph that will display properly, the others will mostly not display, but may show part of the glyph, for instance the shaft of the arrow, depending on location of the origin of the vector.  vectors display fine if the valu

[2016-06-21 21:36] dcwhite commented on #1468
@SCIInstitute/cibc-users From now until IBBM, please mark your new issues with "NEEDED FOR IBBM 2016" if it is that high priority. Otherwise, we will push the issue until after IBBM.

[2016-06-21 21:38] jessdtate commented on #1468
This one is needed for IBBM, so:

NEEDED FOR IBBM 2016

[2016-06-21 22:52] #1426 closed

[2016-06-21 22:52] #1465 closed

[2016-06-21 22:52] #1467 closed

[2016-06-22 16:52] kgillette commented on #1454
NEED FOR IBBM 2016

[2016-06-22 19:41] dcwhite commented on #1330
![update](https://cloud.githubusercontent.com/assets/1399383/16280887/08fbe06c-387f-11e6-896d-320097e09606.PNG)

[2016-06-22 19:47] aylakhan commented on #1330
Can we close this issue then?

[2016-06-22 19:56] gduffley commented on #1330
No it’s still an issue. On Linux you can’t import any third party python modules in the IWP module.

[2016-06-22 20:11] aylakhan commented on #1330
OK, then I really need a sample python script to test

[2016-06-23 17:28] johaenns opened #1471 "adding extractsimpleisosurface-module causes fatal error"
SCIRun version v5.0-alpha.AF, Mac OS X 10.11.5

Start SCIRun and adding extractsimpleisosurface module to your net, gives an error-popup

"Unhandled exception: Module has no state value with name IsovalueChoice
Exiting now."

and leads to a SCIRun crash.

[2016-06-23 17:50] dcwhite commented on #1471
That's fixed on the master branch already.

[2016-06-23 17:50] #1471 closed

[2016-06-23 18:12] allywarner commented on #1136
GetMeshQualityField is converted. There should be testing code added.

[2016-06-24 17:30] #1136 closed

[2016-06-24 17:32] dcwhite opened #1472 "GetMeshQualityField inscribed/circumscribed algo option only works for TetVols"
It crashes for most other field types. Either check the input field type for that option, or implement the method for the other field types.

[2016-06-24 17:44] cbrightsci opened #1474 "viewscene: get lights to move correctly from GUI input"
The lights controlled from the lights tab in the config menu of the viewscene need to be fixed so the movement occurs with the movement of the dot.

[2016-06-24 18:09] #1155 closed

[2016-06-24 19:47] dcwhite commented on #1461
I updated all the renamed modules' help urls, checked off above. I'll need a volunteer to create the new module stub pages.

[2016-06-24 20:55] kgillette commented on #1128
Page 1:

Introduction

This wizard will help you setup and configure SCIRun for initial install and use. These preferences can be changed later within SCIRun Preferences.

Page 2:

Configuring Paths

SCIRun data folder:
Specify the location of SCIRun’s data folder.  This path is referenced in certain modules.
This data folder can be downloaded from sci.utah.edu/scirun.html.

Insert widget for sele

[2016-06-24 20:57] kgillette commented on #1128
Page 1:

Introduction

This wizard will help you setup and configure SCIRun for initial install and use. These preferences can be changed later within SCIRun Preferences.

Page 2:

Configuring Paths

SCIRun data folder:
Specify the location of SCIRun’s data folder. This path is referenced in certain modules.
This data folder can be downloaded from sci.utah.edu/scirun.html.

Insert widget for selec

[2016-06-24 21:38] zaracay commented on #1005
I ran simulations on 2 region BEM (heart to torso) solutions using the 771 closed tank and 337 closed sock to test the 4 surface normal cases (inward or outward pointing for both surfaces).  The two solutions with measurement surface normals facing in appeared to be correct, but having **both source and measurement normals pointing inward** produced results that were most closely correlated to FEM

[2016-06-24 21:40] zaracay commented on #1005
On a different note. In past tests, having more than 2 surfaces appeared to create incorrect results.  Further testing is needed on this.

[2016-06-24 21:50] dcwhite commented on #1128
Thanks!

[2016-06-24 22:23] zaracay commented on #1450
The middle mouse button toggles between drag and select modes, which is nice more often than not, but it can be annoying if you are using the middle mouse button to get field info from output ports and accidentally switch modes. For me, its a quirk worth getting used to rather than requiring a fix.

[2016-06-24 22:33] dcwhite commented on #1450
We can buy everyone a 4-button mouse for SCIRun.

I forgot about that other usage of the middle mouse button. Let me think about a way to streamline it.

[2016-06-24 23:12] #1229 closed

[2016-06-27 18:24] dcwhite commented on #1461
@wgood To make new module help pages (top section above), fork https://github.com/SCIInstitute/scirun.pages, make a new branch, and start generating markdown pages. Talk to @aylakhan for assisntance.

[2016-06-27 18:26] dcwhite commented on #1461
Simplify this example, just with name and description section: http://scirundocwiki.sci.utah.edu/SCIRunDocs/index.php/CIBC:Documentation:SCIRun:Reference:SCIRun:ConvertMeshToUnstructuredMesh

[2016-06-27 18:29] dcwhite commented on #1461
http://sciinstitute.github.io/scirun.pages/

[2016-06-27 18:57] jessdtate commented on #589
I've converted the gauss-newton example to SCIRun 5 in the FwdInv toolkit.  it uses the same matlab code as the SCRIun4 implementation.  This issue can be closed.

[2016-06-27 18:58] #589 closed

[2016-06-27 19:10] dcwhite opened #1476 "Update link to FwdInvToolkit"
Have it point to a copy of 1.2 on sci server to aid last-minute changes pre-IBBM.

@jessdtate @zaracay Watch this issue, when it closes, try the embedded SCIRun download link.

[2016-06-27 20:30] dcwhite commented on #1466
I can fix this one--fix will be similar to #1448

[2016-06-27 20:48] dcwhite commented on #1466
Ignore previous comment. This is a bug with the selection algorithm (`SRInterface::select`). If you shift-click right on a visible box, you can still move it and it turns red, but then if you shift-click on a hidden widget, it will end up selecting the most recently-moved one like Jess described.

[2016-06-28 18:14] dcwhite commented on #987
@jessdtate Would this be useful for IBBM? Specifically, SolveLinearSystem.

[2016-06-28 18:29] jessdtate commented on #987
It would be useful,  but not terribly urgent.  most of our examples will be small.

[2016-06-28 21:01] dcwhite commented on #250
This can come AFTER IBBM's initial hands-on tutorials; essentially convert those into code/wizards.

[2016-06-28 21:06] dcwhite commented on #1085
@jessdtate need this one for IBBM?

[2016-06-28 21:08] dcwhite commented on #720
Related: #1429

[2016-06-28 21:08] jessdtate commented on #1085
not really.

[2016-06-28 21:45] dcwhite opened #1477 "Decide on beta branching model"
Articles to read:
http://nvie.com/posts/a-successful-git-branching-model/
https://barro.github.io/2016/02/a-succesful-git-branching-model-considered-harmful/
http://www.creativebloq.com/web-design/choose-right-git-branching-strategy-121518344

[2016-06-28 21:47] #1357 closed

[2016-06-28 21:47] #1476 closed

[2016-06-28 22:07] jessdtate commented on #1476
worked for me.

[2016-06-29 17:49] jessdtate commented on #1152
So the possible combinations are:
# nodes x 1 -- scalar on nodes
# elem x 1 -- scalar on elems
# nodes x 3 -- vectors on nodes
# elem x 3 -- vectors on elems
# nodes x 6 -- tensors on nodes
# elem x 6 -- tensors on elems
# nodes x 9 -- tensors on nodes
# elem x 9 -- tensors on elems

[2016-06-29 17:51] jessdtate commented on #1152
I have tried all those combos on a few fields, and I cannot replicate the error.  However, I noticed that when trying to set tensors, the data doesn't set properly (tensor of zeros). should I make a new issue for that or post the example here.

[2016-06-29 17:57] jessdtate commented on #1152
Set field data was producing error messages when the fields didn't match.  in every case that I tried.

[2016-06-29 18:01] dcwhite commented on #1152
There are also cases in the code where if a single value (scalar/vector/tensor) is readable, it's applied to all nodes/elems. We could remove that case. Also, what happens if num nodes == num elems?

[2016-06-29 18:01] dcwhite commented on #1152
And yes, just post the example here.

[2016-06-29 18:33] dcwhite opened #1479 "MLM project SCIRun integration goals"
Via email:

Further discussion can take place below for how these goals should be further broken down into development tasks.

[2016-06-29 18:47] jessdtate commented on #1152
Here is the example net that will show the tensor from setfielddata (set to zero) and the correct mapping using ConvertIndicesToFieldData.
[test_setfielddata.srn5.zip](https://github.com/SCIInstitute/SCIRun/files/339946/test_setfielddata.srn5.zip)

[2016-06-29 18:51] jessdtate commented on #1152
I forgot about a single value.  That should stay, and the data location should be the previously assigned locations (if no definition, I think nodes is default).  The case of num nodes==num elems is very rare, so It's harder to make a test case, but I think it would do the same.  I will try to make a test case for that.

[2016-06-29 18:51] #1460 closed

[2016-06-29 20:58] dcwhite opened #1480 "Allow saved tag names in network file to override global names"
Can't remember if I made an issue for this old request from @jessdtate.

[2016-06-29 21:36] dcwhite commented on #1128
Another page idea: show hovering over module widget displays buttons.

[2016-06-30 18:04] DemonSouls opened #1482 "The preferences tab cannot be opened."
### Prerequisites
- [x] Are you running the [latest version of SCIRun](https://github.com/SCIInstitute/SCIRun/releases)?
- [x] Are you reporting to the [correct repository](https://github.com/SCIInstitute/SCIRun)?
- [x] Did you [perform a cursory search](https://github.com/SCIInstitute/SCIRun/issues) to see if your bug or enhancement is already reported?

For more information on how to write a goo

[2016-06-30 18:06] 9595015 opened #1483 "Incremental theta change completely resets position"
### Prerequisites

* [x] Are you running the [latest version of SCIRun](https://github.com/SCIInstitute/SCIRun/releases)?
[//]: # (* [ ] TODO: Did you check the [debugging guide](http://flight-manual.atom.io/hacking-atom/sections/debugging/)?)
[//]: # (* [ ] TODO: Did you check the [FAQs on Discuss](https://discuss.atom.io/c/faq)?)
* [x] Are you reporting to the [correct repository](https://github

[2016-06-30 18:26] 9595015 opened #1484 "An incremental change of theta drastically changes node position"
### Prerequisites

* [ yes] Are you running the [latest version of SCIRun](https://github.com/SCIInstitute/SCIRun/releases)?
[//]: # (* [ ] TODO: Did you check the [debugging guide](http://flight-manual.atom.io/hacking-atom/sections/debugging/)?)
[//]: # (* [ ] TODO: Did you check the [FAQs on Discuss](https://discuss.atom.io/c/faq)?)
* [ yes] Are you reporting to the [correct repository](https://

[2016-06-30 18:28] aylakhan commented on #1483
Duplicate of #1483?

[2016-06-30 18:31] harris30 opened #1485 "SCI Run froze as I pulled up a screenshot of the network I was working on"
### Prerequisites
- [ yes] Are you running the [latest version of SCIRun](https://github.com/SCIInstitute/SCIRun/releases)?
- [yes ] Are you reporting to the [correct repository](https://github.com/SCIInstitute/SCIRun)?
- [yes ] Did you [perform a cursory search](https://github.com/SCIInstitute/SCIRun/issues) to see if your bug or enhancement is already reported?

For more information on how to wr

[2016-06-30 18:40] #1483 closed

[2016-06-30 18:42] dcwhite commented on #1484
@cbrightsci Not sure what kind of investigation this requires, or the priority.

[2016-06-30 18:42] MissionMan77 opened #1486 "Showfield Faces Tab Nonresponsive Options Issue"
### Prerequisites

* [x] Are you running the [latest version of SCIRun](https://github.com/SCIInstitute/SCIRun/releases)?
[//]: # (* [ ] TODO: Did you check the [debugging guide](http://flight-manual.atom.io/hacking-atom/sections/debugging/)?)
[//]: # (* [ ] TODO: Did you check the [FAQs on Discuss](https://discuss.atom.io/c/faq)?)
* [x] Are you reporting to the [correct repository](https://github

[2016-06-30 18:44] dcwhite commented on #1482
@DemonSouls Is this consistently reproducible? If so, attach some screenshots or video describing more detail. Was a network loaded or running, for instance?

[2016-06-30 18:55] dcwhite commented on #1096
@aylakhan Is this one done?

[2016-06-30 18:56] dcwhite opened #1487 "Build time reduction super-issue"
Between our build being too long for Travis, the beta release, and various user/contributor feedback, it's high time we address SCIRun 5's long build time. This issue will collect the various old issues and new ideas that will help cut down the build.
- [ ] #1449 to make sub-build targets
- [ ] External dependency caching
- [ ] Header dependency reduction (pimpl idiom)
- [ ] Use internal Jenkins s

[2016-06-30 18:58] aylakhan commented on #1096
Timing out is still an issue, as is caching.

[2016-06-30 19:13] dcwhite commented on #1128
And another setting to check: save before execute.

[2016-06-30 20:27] aylakhan commented on #1484
Edited original bug report by removing template cruft, for clarity.

[2016-06-30 22:07] #1464 closed

[2016-06-30 23:11] johaenns commented on #1484
I am not sure this is a bug. Since the used brain surface is in MRI voxel space (which is of course not visible), my first guess is that it's consequence of a relatively large distance between the observed node and the rotation axis.

[2016-07-01 01:23] dcwhite commented on #1484
Sounds like a reasonable PEBKAC. I'm in favor of closing.

[2016-07-01 01:47] dcwhite commented on #807
@jessdtate @zaracay @ajanson @aylakhan I got the basic widget interaction working in a branch. @cbrightsci is going to fiddle with my sloppy transform logic, so that the box moves correctly. So at least interactive translation should be available.

[2016-07-01 03:16] dcwhite commented on #1480
@jessdtate You'll need to update all the IBBM/toolkit networks to customize the tag names, once this is in master.

[2016-07-01 17:43] #1480 closed

[2016-07-01 17:44] jessdtate commented on #1128
Is it possible to have a link or reference to the preference window?  it may be good to allude there so they can check the other options.

[2016-07-01 17:46] aylakhan commented on #1484
Agreed, let's close.

[2016-07-01 17:47] dcwhite commented on #1128
I'll add a button to pop it up. Should be easy.

[2016-07-01 19:19] #1484 closed

[2016-07-01 19:21] dcwhite commented on #1486
Those options are not available yet. We should hide them in the GUI @cbrightsci

[2016-07-01 21:03] dcwhite commented on #1295
@ajanson @jessdtate I got a little bit further on Windows, but we'll probably have to modify the python external build configuration. We decided to push this one until post-IBBM since it will affect so few people.

[2016-07-04 06:47] jessdtate commented on #1152
for num nodes == num elem, it looks like the code checks for the existing field basis, and uses node centering if not found.  I still need to test it.

[2016-07-04 16:53] dcwhite commented on #1477
http://scottchacon.com/2011/08/31/github-flow.html

[2016-07-04 18:33] #989 closed

[2016-07-04 19:31] dcwhite commented on #807
I'll merge my work and close this issue, then open new ones for each continuing part (fixing the transform logic, adding subwidgets, optimization).

[2016-07-04 20:07] gduffley opened #1489 "scirun_save_network() doesn't throw error when passing non-valid path"
The dialogue reports a valid save even when passing a non-valid path.

[2016-07-04 20:36] dcwhite commented on #1477
I vote for "Github Flow" described in the previous link. It's essentially what we're doing now, except I'll start making PRs for all my branches too :grinning: The only direct-to-master commits should be documentation typo fixes and the like.

[2016-07-04 22:02] #807 closed

[2016-07-04 22:23] gduffley opened #1490 "Python script crash with execute"
[IBBM_python_lab.py.zip](https://github.com/SCIInstitute/SCIRun/files/346871/IBBM_python_lab.py.zip)

This script causes SCIRun to crash when launching it from the command line using the -s flag. The script does not cause SCIRun to crash if you comment out the execute, the script doesn't crash, and then you can execute the network and it doesn't crash. If you comment out the modules that involve c

[2016-07-04 22:59] dcwhite commented on #1490
@gduffley I can't replicate on my Macbook (10.9). What system are you on?

[2016-07-05 01:52] #141 closed

[2016-07-05 01:52] #1124 closed

[2016-07-05 01:52] #1453 closed

[2016-07-05 01:52] #1489 closed

[2016-07-05 04:17] gduffley commented on #1490
![screen shot 2016-07-04 at 10 16 40 pm](https://cloud.githubusercontent.com/assets/5941547/16573785/16c75bd0-4235-11e6-909a-edf20292ccbf.png)

I am on the build from last lunch.

[2016-07-05 04:21] gduffley commented on #1490
And there actually is an error message too.:
2016-07-04 22:19:27.646  [NOTICE] Invalid Connection request: input port is full, or ports are different datatype or same i/o type, or on the same module.
Module added: ViewScene:0
Waiting for rendering system initialization....
Done waiting.
Segmentation fault: 11

It doesn't make sense though, because all of the connections seem fine as long as you do

[2016-07-05 16:56] johaenns opened #1492 "InterfaceWithPython not executed when scirun is launched from command line"
I am not sure if this should actually be possible, but I am trying to load a scirun-net that includes an InterfaceWithPython-module from the command line using a python-script and the -s flag.

The net executes fine when I load the net using the gui, but when launching it from the command line the InterfaceWithPython-module is not executed.

### Steps to Reproduce

1. launch scirun from the comman

[2016-07-05 16:58] johaenns commented on #1490
I am not sure if this is helpful, but under OS X 10.10.5 both scripts fail with the above error, under opensuse they execute fine.

[2016-07-05 17:03] dcwhite commented on #1492
This is a quasi-bug/feature request. Right now there is a singleton controlling Python execution, so while running a script the module has to wait in order to run commands. Obviously this would lead to deadlocks or weird behavior. I'll need to figure out how to maintain multiple Python instances, or somehow timeslice the command execution.

[2016-07-05 17:04] dcwhite commented on #1492
So, I think it should be possible, but it is not supported now.

[2016-07-05 17:04] dcwhite commented on #1490
OK looks like this is very OS-dependent then. I will test Windows and we can survey other machines at the lunch today.

[2016-07-05 17:07] gduffley commented on #1490
I just made @ajanson test it. On Windows 7, and the network loads and executes, but the ViewScene has an error. If he deletes the ViewScene and adds a new one, it then executes without error

[2016-07-05 17:08] dcwhite commented on #1490
That's the independent ViewScene error, different problem. It works on my Win10 machine too. Do you always get the "Invalid Connection request" with it too?

[2016-07-05 17:13] gduffley commented on #1490
I just tested again and didn't get it, but I have in the past. The error definitely seems to be ViewScene dependent. I am going to be playing with the python stuff most of the day today, so I'll see if I can try to narrow down the error. My hunch is that it doesn't have to directly do with the colormap, but more with general complexity of the inputs to ViewScene.

[2016-07-05 17:15] dcwhite commented on #1490
Just got it to crash via the "wand" script-execute in gui option. I will investigate further.

Also, on the 17th try of `.\SCIRun.exe -s .\IBBM_python_lab.py --no_splash -E`, it crashed. So it might actually be the same problem--ViewScene is dying randomly, and the `execute_all()` is trying to run the broken ViewScene, resulting in a crash. Let me try adding code that can detect if VS is broken, t

[2016-07-05 17:17] gduffley commented on #1490
Great, thanks @dcwhite

[2016-07-05 17:20] dcwhite commented on #1490
One workaround you can try is moving the `view_scene = scirun_add_module("ViewScene")` line to the beginning of the script, and then adding a python sleep call. I have a built-in delay before executing, but it's probably not long enough for python purposes.

[2016-07-05 17:24] gduffley commented on #1490
The easier solution is to just not include the ViewScene. The only time you really need an execute at launch is when scripting something, and if you're scripting something, you won't be looking at the ViewScene.

[2016-07-05 17:25] dcwhite commented on #1490
Hehe, until of course we implement headless frame buffer/rendering, in year 2025.

[2016-07-05 17:28] johaenns commented on #1490
For IBBM not including the automatic execution might also be a workaround. Manually executing the net created by the script works fine for me.

[2016-07-05 17:30] gduffley commented on #1490
That is the tentative plan. My lab is still far from done

[2016-07-05 17:33] dcwhite commented on #1490
Related: #881

[2016-07-05 17:35] gduffley commented on #1490
Just wanted to clarify that it works 0% of the time on my OSx machine

[2016-07-05 17:38] dcwhite commented on #1490
Right. I think @kgillette was getting 100% ViewScene failure on her Mac too, and she might be on 10.10.

[2016-07-05 17:39] gduffley commented on #1490
The ViewScene that is created via the script works 100% of the time, as long as I manually execute after the script as competed. That can be done via the Python Console or the GUI

[2016-07-05 17:42] dcwhite opened #1493 "Red ViewScene should inform user more strongly that it needs to be replaced"
Right now it's individually skipped. This might fix/workaround #1490.

[2016-07-05 18:42] gduffley opened #1494 "Python crash with executes in for loop"
[IBBM_python_lab.py.zip](https://github.com/SCIInstitute/SCIRun/files/348391/IBBM_python_lab.py.zip)

You'll need to change the path for the writes

### Prerequisites

* [ ] Are you running the [latest version of SCIRun](https://github.com/SCIInstitute/SCIRun/releases)?
[//]: # (* [ ] TODO: Did you check the [debugging guide](http://flight-manual.atom.io/hacking-atom/sections/debugging/)?)
[//]: #

[2016-07-05 18:59] gduffley opened #1495 "ExtractSimpleIsosurface lacks tooltip for state variables for tabs"
If you hover the tabs of ExtractSimpleIsosurface, it doesn't display tooltips

Add more modules with this problem here:
- [x] ExtractSimpleIsosurface

[2016-07-05 19:15] dcwhite commented on #1490
We decided to force-disable connections to ViewScene when executing from python. I will update this issue when that is testable in master.

[2016-07-05 19:16] dcwhite opened #1496 "Fix EditMeshBoundingBox transform logic and GUI updating"
Various weird issues with it.

@johaenns has been testing it thoroughly, he can make comments with specific examples.

[2016-07-05 19:17] dcwhite opened #1497 "Add subwidgets to EditMeshBoundingBox widget for rotation and scaling"

[2016-07-05 19:18] dcwhite opened #1498 "EditMeshBoundingBox: code review and optimization"
Definitely need to review this one.

[2016-07-05 19:25] johaenns commented on #1496
[tut_simple.srn5.zip](https://github.com/SCIInstitute/SCIRun/files/348444/tut_simple.srn5.zip)

This was my test net, basically the start of the heart-defib tutorial. All done on OS X 10.10.5.

Errors were:

- boundingbox and object not aligned after moving - object doesn't move to the position where the boundingbox was placed.

- object does not only get translated, but also rotated or sheared

-

[2016-07-05 20:53] dcwhite commented on #1438
@jessdtate Update?

[2016-07-05 20:54] dcwhite commented on #1005
@jessdtate @zaracay Is this one ready to close?

[2016-07-05 20:55] dcwhite commented on #1004
@jessdtate @zaracay Are there still numerical diffs? Is this one ready to close?

[2016-07-05 20:55] jessdtate commented on #1438
Is a PR tonight too late?

[2016-07-05 21:00] zaracay commented on #1005
The algorithm works for 2 surfaces but not for more than 2.  Also, the solution requires that all surface normals be pointing in the inward direction.  This is against the standard analytical procedure which requires surface normals to be pointing outwardly.  It’s probably just a sign difference somewhere in the algorithm.

So I think it remains open.

It works well enough to use it for our exampl

[2016-07-05 21:06] zaracay commented on #1004
Based on simulations using torso/heart based FEM and BEM comparison, the differences appear to be minimal.  We should compare them to the analytical solutions again before closing this down though.

[2016-07-05 21:33] dcwhite commented on #1438
I can extend the deadline to 10 pm tonight.

[2016-07-05 22:48] dcwhite opened #1501 "Extend code editor in InterfaceWithPython"
Qt makes it easy to add features like line highlighting, bracket matching, and syntax coloring:

http://doc.qt.io/qt-5/qtwidgets-widgets-codeeditor-example.html
http://doc.qt.io/qt-5/qtwidgets-richtext-syntaxhighlighter-example.html
http://doc.qt.io/archives/qq/QtQuarterly31.pdf

[2016-07-06 04:36] dcwhite commented on #1438
Closed by #1502

[2016-07-06 04:36] #1438 closed

[2016-07-06 05:44] #1495 closed

[2016-07-06 05:53] dcwhite opened #1504 "Fix naming in installer script"
There's an extra "5.0" in there again.

[2016-07-06 15:06] dcwhite commented on #1005
Thanks Brett.

[2016-07-06 16:56] #1494 closed

[2016-07-06 16:57] dcwhite commented on #1490
@gduffley @johaenns Could you guys test the latest master? I have a fix in. Just re-enable the connections to ViewScene manually after execution to trigger rendering.

[2016-07-06 17:46] gduffley commented on #1490
@dcwhite I don't have the src compiled on my laptop. I am trying to build now, but I could easily run into issues.

[2016-07-06 17:54] johaenns commented on #1490
@dcwhite Me neither, since there is no dmg of qt 4.x for OS X 10.10.5 and the downloadable ones won't install...

[2016-07-06 18:02] gduffley commented on #1490
I have qt4 built from source, so I think I should be able to get it to compile. No errors thus far, but there might be issues still

[2016-07-06 18:49] dcwhite commented on #1490
Message @aylakhan about making a new installer. I can't on my Mac unfortunately.

[2016-07-06 18:50] gduffley commented on #1490
I'm getting compiler errors I don't have time to hunt down. I'll message her on slack

[2016-07-06 20:19] johaenns commented on #1490
Works fine for me. Though I like my save and reload fix better :-D

[2016-07-06 20:55] dcwhite commented on #1493
I think instead of disabling anything, I'll just display a pop-up to the user briefly explaining the issue, and referencing the github page for it. This way they won't miss the fix.

[2016-07-06 21:45] #1128 closed

[2016-07-06 21:45] #1504 closed

[2016-07-07 01:21] #1047 closed

[2016-07-07 01:21] #1373 closed

[2016-07-07 01:21] #1466 closed

[2016-07-07 01:21] #1486 closed

[2016-07-07 01:21] #1496 closed

[2016-07-07 01:46] dcwhite commented on #1501
Got line highlighting and syntax coloring working. Bracket matching will come later.

[2016-07-07 01:47] dcwhite opened #1507 "Extend code editor in InterfaceWithPython, part 2: bracket matching"
Continued from #1501.

[2016-07-07 03:42] #1501 closed

[2016-07-07 04:23] #1493 closed

[2016-07-07 16:24] moritzdannhauer opened #1508 "Module_icons_disappeared"
I just finished building the latest master and module icons are gone.
![module_icons_gone](https://cloud.githubusercontent.com/assets/2054570/16660718/961d700e-443d-11e6-9dd3-121d3a25d36e.png)

I have not seen that before is this a new feature or just happening on my MacOS 10.7.5?

[2016-07-07 16:34] dcwhite commented on #1508
You haven't used or built SCIRun in a while. The buttons appear when you hover over the modules now. It's been that way about a month.

[2016-07-07 16:34] #1508 closed

[2016-07-07 16:58] johaenns commented on #1492
After discussion with @gduffley and @cbrightsci, one can circumvent this issue by using scirung_get_module_input_value and putting all the python-code to the script that is handed over using the -s flag. Thus, this is no longer necessarily needed as a feature, however, we agreed that this solution appears pretty hacky.

Possibly a scirun_get_module_output_value command might help to make this poss

[2016-07-07 17:52] lizutah opened #1509 "Evaluate MFEM for use with SCIRun"
(Requested by Chris Johnson)

From: Tzanio Kolev tzanio@llnl.gov
Date: June 30, 2016
Subject: MFEM version 3.2

Version 3.2 of MFEM, a lightweight, general, scalable C++ library for
finite element methods, is now available at http://mfem.org

The goal of MFEM is to enable high-performance scalable finite element
discretization research and application development.

It has many features, including:

[2016-07-07 17:56] dcwhite commented on #1509
https://github.com/mfem/mfem

[2016-07-07 19:00] dcwhite commented on #1490
@gduffley has confirmed this fix works. I'll open a new issue to tackle the general problem later.

[2016-07-07 19:00] #1490 closed

[2016-07-07 19:02] dcwhite opened #1511 "Investigate combination of python execute_all, ViewScenes, and dynamic port generation"
Various combinations lead to crashes on execute. The workaround in #1490 disabled incoming connections to ViewScene, but this is undesirable. Need a real fix, most likely in the renderer thread.

[2016-07-08 16:01] dcwhite commented on #1305
I see the same thing on Windows 10 with retina display.

[2016-07-08 16:11] dcwhite commented on #1382
This is lower priority since we use boost::noncopyable. But we ought to go over every class and see which ones can be made noncopyable, that aren't already.

[2016-07-08 16:24] dcwhite commented on #1108
Tutorial wizard page idea: demonstrate all the various mouse interactions.

[2016-07-08 16:25] dcwhite commented on #1103
- [ ] Add a SCIRun environment variable for toolkit directory
- [ ] Once user sets it, download zips there
- [ ] On SCIRun load, add networks from toolkit directory to menu like in v4, but dynamically

[2016-07-08 16:26] dcwhite commented on #1103
See #1100

[2016-07-08 16:28] dcwhite commented on #1058
@zaracay @jessdtate Is this still happening?

[2016-07-08 16:40] jessdtate commented on #1058
Yes.  when you hold down the option button, the modules will jump positions most of the time.

[2016-07-08 17:42] dcwhite commented on #522
Let's explore GitHub Large File System for this.

[2016-07-08 17:57] #371 closed

[2016-07-08 19:19] dcwhite opened #1512 "Improve UI for Tag Manager"
It should contain options to set tags with just the mouse: "Tag pallette" or something.

[2016-07-08 19:21] dcwhite opened #1513 "Convert BasicTutorial manual from LaTeX to Markdown format"
This will enable online rendering and easier editing. Suggested by @lizutah.

[2016-07-08 19:21] dcwhite commented on #1513
@kgillette Do you still have time to work on this one?

[2016-07-08 19:23] dcwhite opened #1514 "Module documentation wiki page conversion: Use new github pages system"
@aylakhan can fill in the details on the new format. @lizutah suggests using Markdown for these.

[2016-07-08 19:27] dcwhite opened #1515 "More tutorial documentation conversion"
Some of these are crucial, and some can be left in version 4. They all will need updating for version 5 if they're converted. We (@aylakhan, @lizutah, myself) couldn't decide if we should keep latex+pdf or switch to pure online markdown, see comments of #1513 once that issue is worked on.
- [ ] BioMesh3DGuide
- [ ] DefibrillationTutorial
- [ ] DeveloperGuide.pdf
- [ ] ECGToolkitGuide.pdf
- [ ] Ele

[2016-07-08 19:28] dcwhite opened #1516 "Investigate how to archive a github pages site for offline help usage"

[2016-07-08 19:29] aylakhan commented on #1514
Andy Corbato has started this.

[2016-07-08 19:33] dcwhite opened #1517 "General help meta-issue"
Use this issue to discuss help/documentation ideas and strategies.

One key question is how much help content to put on each "level," where those levels are:

1. GUI Wizard
1.  GUI text label
1.  GUI link to webpage
1.  wiki/markdown content
1. Generated latex/pdf document

[2016-07-08 21:05] kgillette commented on #1513
I don't have time for about another week or two. I tried using a markdown converter over the weekend though.

[2016-07-08 22:33] johaenns commented on #1152
SetFieldData also seems to only return a null field when the input is a sparse matrix though the dimension of field and matrix are fitting. It worked after I added a ConvertMatrixType before. I would assume this behavior is not intentional, since in most cases explicit conversions aren't necessary?

Tested on v5.0-beta.C, opensuse.

[2016-07-08 22:46] dcwhite commented on #1513
Any luck with the converter?

[2016-07-11 21:04] johaenns commented on #1437
Currently I would assume that there is no bug.

The point rather is that -- unlike scirun4 -- scirun5 updates all connected modules when changing simple settings in ViewScene like selecting/deselecting "Show Edges", "Show Faces", etc. Since this can take a couple of seconds, it gave me the appearance that I couldn't select/deselect certain features.

Though there seems to be no bug, I wonder if th

[2016-07-12 02:52] dcwhite commented on #1437
This now falls under the general network/GUI performance umbrella (#1065 etc). The issue is the GUI thread--it's not optimized at all. You're right, when no module actually needs to execute (even though every module must check if it needs to), re-execution should be much faster. I ought to be able to look at this during IBBM and get a quick fix in for ShowField/ViewScene.

[2016-07-12 15:27] dcwhite opened #1518 "Auto-save network on a timed interval"
Like Seg3D.

[2016-07-12 20:10] dcwhite opened #1519 "Change wildcard port color to white"
Since it's compatible with all colors.

[2016-07-12 20:52] dcwhite opened #1520 "Another high resolution screen to test: 3200x1800"
Found on a Lenovo ultra book. Some UIs are too smushed to be usable.

[2016-07-13 20:45] dcwhite opened #1521 "Show text item for port to be connected to while dragging connection line"
This will help when there are multiple connection options and the user might not know/remember which port to connect to.

[2016-07-13 20:49] dcwhite opened #1522 "Clean up network feature has issues"
Modules aren't quite positioned well, and then they jump around.

[2016-07-13 20:53] johaenns opened #1523 "Standard expression in ClipFieldByFunction is erroneous"
When creating a new ClipFieldByFunction-module the standard expression is "DATA1 < 0", which is leading to an error, since a port DATA1 doesn't exist. I assume this should be "DATA < 0" instead.

Version: 5.0-beta.B-30

[2016-07-13 21:30] dcwhite opened #1524 "Sphere option: make scalable as percentage of bounding box"

[2016-07-13 21:32] dcwhite opened #1525 "Investigate issues with ExtractIsosurface"
There's already an issue about the number tab acting weird (#?), but now the list tab is also acting weird.

[2016-07-13 21:37] dcwhite opened #1526 "Issue with full screen mode on newer OSX"
Main window goes into a weird state that is hard to get out of. Time to upgrade my Mac....

[2016-07-13 21:40] johaenns opened #1527 "ShowField output not displayed in ViewScene after dis- and reconnecting"
1. Build a (simple) net to generate a volume, e.g., CreateLatVol -> ShowField -> ViewScene
2. Delete the connection between ShowField and ViewScene -> object disappears, empty viewscene
3. Create a new connection between ShowField and ViewScene

**Expected behavior:** The object/field should be shown in the viewscene

**Actual behavior:** nothing. Also re-execution of ShowField or the whole net do

[2016-07-14 18:48] dcwhite commented on #1523
Could you provide a test network? I could not replicate. The code checks for both "DATA" and "DATA1" for the first field's data.

[2016-07-14 19:04] #1437 closed

[2016-07-14 19:17] johaenns commented on #1523
My bad, had an old version running to check this. Sorry bout that. The error is gone. There only remains a discrepance between expression parser documentation and the standard expression, since DATA1 is not mentioned anywhere in the documentation, but always DATA is used. But I guess this has low priority to be fixed.

[2016-07-14 19:54] dcwhite commented on #1523
That's due to the generalization of the module to take arbitrary fields and data (two dynamic ports). I'll update the doc.

[2016-07-14 20:57] dcwhite opened #1528 "Implement confirm overwrite option on Write modules"

[2016-07-14 21:15] dcwhite opened #1529 "Add command line parameter to cap the number of threads used by parallel algorithms"
Suggested by ibbm participant today.

[2016-07-15 05:31] jessdtate opened #1530 "multiple line paste in the python console"
### Description

currently, code can only be pasted into the python console one line at a time.  It would be really be helpful to be able to copy multiple lines at once.

[2016-07-15 17:38] dcwhite opened #1531 "Split up regression networks into "continuous" and "nightly" folders"
I'm working on a simple automated build & test script that will run on a SCI server and post to Slack. To shorten the turnaround time, I'll divide up the folder of regression networks, which is growing quite large, into continuous (should run every commit/merge--covering essential features), and nightly (longer running, more complex, more arcane features).

[2016-07-15 18:45] #1519 closed

[2016-07-15 18:45] #1523 closed

[2016-07-15 18:45] #1527 closed

[2016-07-15 19:17] dcwhite commented on #1477
Any other opinions?

[2016-07-15 21:02] dcwhite commented on #250
I'll grab @gduffley's scripts from the IBBM folder and use those.

[2016-07-16 19:37] dcwhite commented on #1525
I have it matching v4 now, which includes an issue with the "inclusive" option under quantity (the last isovalue produces an empty mesh). I'll lump that in with implementing the "exclusive" option.

[2016-07-16 19:39] dcwhite opened #1532 "Implement remaining options in ExtractSimpleIsosurface, and rename it to ExtractIsosurface"
- [x] Exclusive quantity option
- [x] Inclusive quantity leads to empty mesh on one endpoint
- [x] Matrix input
- [x] Other minmax options
- [x] Slider for single isovalue

[2016-07-19 21:00] dcwhite commented on #1497
@cbrightsci Placeholder issue for future discussion of today's "smart widget" idea.

[2016-07-19 21:02] dcwhite commented on #881
I'm going to take another crack at this one since it was quite prevalent at this year's IBBM.

[2016-07-19 21:19] iauns commented on #881
I vaguely recall this from a while back. I remember thinking that we needed to reduce the complexity of the start up process and reduce the logic to something straight-forward. It also makes it easier if your rendering logic blocks for assets instead of using intermediates or waiting for them to load (SCIRun probably doesn't have a large number of assets to load or differing LODs for the individua

[2016-07-19 21:21] dcwhite commented on #881
Thanks! But alas, I'll be in New York this weekend.

[2016-07-19 22:40] iauns commented on #881
Regardless, if you have any questions ping me via email or messenger and we can work through it.

[2016-07-20 17:31] dcwhite opened #1534 "Make parser help text searchable"
Code is in Interface/Modules/Base, in files ParserHelp.ui, HasParserHelpDialog.*

[2016-07-20 18:33] dcwhite opened #1535 "Add Execute Module/Downstream only action to module dialog menu"
Expanding the ShowField execution model to any module.

Question: what should the module play button do by default?

[2016-07-20 22:42] dcwhite opened #1536 "Shift-drag (or some other keyboard modifier) to move a module and all of its downstream subnetwork"
This would make it easier to declutter networks while building them.

[2016-07-21 15:36] jessdtate opened #1537 "matplotlib"
### Description

when trying to use matplotlib in python in scirun, pulling up the matplotlib window will also bring up the splash screen and other windows.  closing all these windows to resume use of scirun is not possible.  SCIRun crashes when trying to close.  crash report included below.

### Steps to Reproduce

1. Install matplotlib
2. Try to plot a figure with matplot lib:
   import matplotl

[2016-07-21 15:57] jessdtate commented on #1152
After some testing, especially at IBBM, I agree that the error message only returns null without an error when the matrix is sparse.  There should be an exception added, even if it is planned to support sparse matrices in the future.

[2016-07-27 17:31] jessdtate opened #1538 "InterfaceWithTetgen crashes with point cloud input"
### Description

InterfaceWithTetgen crashes with a point cloud is passed as the main input.  It looks like it may be related to how the point cloud is converted for tetgen, as it always gives a message 'The point set is trivial'.  This has only started happening when the new version of tetgen was implemented.

Here is a sample network:
[test_tetgen.srn5.zip](https://github.com/SCIInstitute/SCIRun

[2016-07-29 20:34] johaenns opened #1539 "SetFieldData doesn't work with sparse vector/matrix"
When handing a sparse vector, i.e., nx1 matrix, as input to SetFieldData a null field is generated as output. No error message is given. Inserting a ConvertMatrixType set to "dense" resolves this.

As example to reproduce this one can use the heart defibrillation tutorial with floating electrodes.

### Steps to Reproduce

1. Create sparse vector
2. Hand it to SetFieldData

**Expected behavior:** T

[2016-07-29 20:45] johaenns opened #1540 "Should BuildFEMatrix check for nan/inf conductivity values?"
When having inf or nan values in the conductivity vector, BuildFEMatrix doesn't throw an error, instead AddKnownsToLinearSystem throws the error "NaN exist in the b vector". Since inf values can relatively easy occur when being careless during rescaling of conductivities (e.g., when computing them from DTI data), this might be a very helpful check. The current error obviously is not very helpful t

[2016-08-01 18:04] dcwhite commented on #1540
@jessdtate @zaracay @moritzdannhauer Thoughts?

[2016-08-01 18:11] moritzdannhauer commented on #1540
Yes, a more careful check is needed and I think there are ways (in Eigen) to check for these cases efficiently. We also should put some checking routines in place for the second input of the module and test its functionality again.

[2016-08-01 20:34] zaracay commented on #1540
I think a check would be useful.  It shouldn’t be necessary, but I could foresee scenarios in which people would try to put in inf or nan values and so, we should probably have something built in to check.

The second input is supposed to accept a look up table of conductivity values, so checking that for inf and nan makes sense as well.

Brett Burton

PhD Candidate in Bioengineering | University

[2016-08-01 21:59] jessdtate commented on #1540
I have lately come to favor only passing errors when it will break the code.  I think that it should be in the modules that cannot handle them, ie, the solver and addknowns (which already has a check apparently), and then add to the error message more info.  A warning, rather than an error, in BuildFEMatrix would be better as long as it isn't too expensive.  Though our solver doesn't explicitly ha

[2016-08-02 00:39] zaracay commented on #1540
I see logic in what Jess is saying.  I don’t know if it makes sense mathematically to allow inf or nan values.  It doesn’t make sense in any of the cases that I work with, but I’ve never thrown a perfect conductor into a model (inf conductivity), and I’ve never tried to solve for unknown conductivites.  We should talk to Steve Maas or Dave Rawlins about this to see if such conditions should ever b

[2016-08-02 15:27] johaenns commented on #1540
I am not aware of any case where inf or nan values would make sense mathematically. If one wants to model an infinite conductivity one should use addlinkednodestolinearsystem, trying to do this using inf values for your conductivity messes up the complete matrix condition, furthermore I have no idea what this would do to the solver. nan values for the conductivity don't make sense anyway.

[2016-08-02 17:20] zaracay commented on #1540
So we return to the question, should we put a check into the BuildFEMatrix module for inf/nan values?

My vote is yes, if it doesn’t require a lot of work.

New users won’t necessarily know about the “AddLinkedNodes…" module, and, therefore might try to input inf values.  It is, however, a low priority feature.

Brett Burton

PhD Candidate in Bioengineering | University of Utah
www.sci.utah.edu/~b

[2016-08-05 21:10] dcwhite commented on #1538
I have what I think is a fix, but now the crash doesn't happen in the original code. Did you get this crash all the time? Can you check other platforms?

[2016-08-11 20:24] jessdtate commented on #1538
it crashes every time on OS X 10.10, but the module behaves properly in my 10.8 version

[2016-08-11 20:39] dcwhite commented on #1538
Aha. I have 10.9 and it never crashed there, and it seems to be sporadic on Windows. I think it's a bad pointer delete, which will be random and depend on library implementation, which makes sense. Could you try building branch `bug-fixes` and see if that takes care of it? The commit is https://github.com/SCIInstitute/SCIRun/commit/cbf12c5d0755853b30d3d012ebc9541f93d4256d

[2016-08-11 21:38] dcwhite commented on #1538
Just replicated again on another Windows machine, and that fix does the job. Let me know when you can test on 10.10.

[2016-08-11 21:40] jessdtate commented on #1538
I can test it whenever.  Is it on a branch?

[2016-08-11 21:40] dcwhite commented on #1538
Yes, see above comment.

[2016-08-11 21:43] jessdtate commented on #1538
of course, my mistake.  building now

[2016-08-11 21:52] jessdtate commented on #1538
It's still crashing.  It's giving a bad memory access.

[2016-08-11 21:54] dcwhite commented on #1538
OIC, I fixed a crash when -p was unchecked. It does still crash with -p checked. Fix coming...

[2016-08-11 21:56] jessdtate commented on #1538
crashed with both still for me

[2016-08-11 21:59] dcwhite commented on #1538
Can you attach reports for both?

[2016-08-11 22:03] jessdtate commented on #1538
without -p

Process:               SCIRun_test [92546]
Path:                  /Users/USER/*/SCIRun_test
Identifier:            SCIRun_test
Version:               0
Code Type:             X86-64 (Native)
Parent Process:        bash [363]
Responsible:           Terminal [258]
User ID:               501

Date/Time:             2016-08-11 16:02:40.230 -0600
OS Version:            Mac OS X 10.10.5 (14F

[2016-08-11 22:04] jessdtate commented on #1538
with -p

Process:               SCIRun_test [92569]
Path:                  /Users/USER/*/SCIRun_test
Identifier:            SCIRun_test
Version:               0
Code Type:             X86-64 (Native)
Parent Process:        bash [363]
Responsible:           Terminal [258]
User ID:               501

Date/Time:             2016-08-11 16:03:57.888 -0600
OS Version:            Mac OS X 10.10.5 (14F190

[2016-08-11 22:50] dcwhite commented on #1538
Thanks. Try the bug-fixes branch again, there is a better fix.

[2016-08-12 05:41] aylakhan commented on #1477
I also vote for GitHub Flow. We're more likely to successfully follow a relatively simple model that's close to what we're already doing.

[2016-08-12 17:30] darrellswenson opened #1541 "SCIRun 5 perfomance issues"
I am currently running several very complex networks in SCIRun 4. I would like to transition to SCIRun 5 but at this point in time it is not possible because of performance issues with SCIRun 5. Here are a few observations. I downloaded the latest version of SCIRun 5, but these issues still persist.  I am running on windows 7.

SCIRun 5 crashes when reading in and writing out large data. I am not

[2016-08-12 17:44] dcwhite commented on #1541
I'll break this issue into multiple issues and write a reply for each part.

[2016-08-12 17:47] dcwhite commented on #1461
@wgood Any progress on this one?

[2016-08-12 17:48] aylakhan commented on #1461
See https://github.com/andycorb/scirun.pages. Andy should be making a pull request soon.

[2016-08-12 17:49] dcwhite commented on #1461
OK

[2016-08-12 17:50] dcwhite commented on #1461
<img width="969" alt="screenshot 2016-08-12 11 50 21" src="https://cloud.githubusercontent.com/assets/1399383/17631859/009bb7e0-6083-11e6-8a35-b05de9ca9c21.png">

[2016-08-12 19:31] jessdtate commented on #1538
I'm running headless remotely, but it is still crashing with the same message on the terminal ('point set trivial, segmentation fault: 11').  it is the same with and without the -p flag

[2016-08-12 19:37] dcwhite commented on #1538
I didn't get the "point set trivial" message, whether or not it crashed. Something is strange here...

[2016-08-15 16:47] jessdtate commented on #1538
The crash reports are the same, but they are flipped (with and without -p).  I may have mixed them up before.

[2016-08-16 19:17] dcwhite commented on #1537
This combination of matplotlib with a non-framework python install is not supported. See http://matplotlib.org/faq/virtualenv_faq.html. @jessdtate can you attempt one of the workarounds on that webpage and report back? Thanks.

[2016-08-16 19:24] dcwhite commented on #1477
We decided on `github flow`. I'll make a new issue to update the contributing documentation with some guidelines.

[2016-08-16 19:24] #1477 closed

[2016-08-16 19:31] dcwhite commented on #1461
@aylakhan Update on this issue? @andycorb's fork doesn't quite look done.

[2016-08-17 03:53] aylakhan commented on #1461
Stubs are done, list is updated. Documentation needs to be filled in for stubs, and updated with new port names, UI descriptions etc. for modules ported from SCIRun 4.

[2016-08-17 16:27] dcwhite commented on #1461
Could we update the html so it doesn't look so 1997?

[2016-08-17 20:05] jessdtate commented on #1538
it seems the resolution to this specific bug is to rebuild tetgen and scirun, as that resolved the issue on my machine.  The code for tetgen and SCIRun have to be changed for the compiler to actually rebuild, or a fresh install would probably work.

[2016-08-19 21:08] #1538 closed

[2016-08-19 21:24] dcwhite opened #1542 "Implement save network file in headless mode"

[2016-08-19 21:48] dcwhite opened #1543 "Fix infinite loop in headless/interactive mode"

[2016-08-19 23:00] dcwhite opened #1544 "Miscellaneous Darrell issues"
- [x] For Read/Write modules, save directory on a per-module basis
- [ ] SwapFieldData problem
- [ ] More as they come

[2016-08-22 18:55] dcwhite commented on #1544
@darrellswenson @jessdtate I'll need more information about the SwapFieldDataWithMatrixEntries "bug." The behavior looks like it matches v4.

[2016-08-22 18:56] dcwhite commented on #1152
@darrellswenson Please update this issue with your specific problem. @jessdtate can help.

[2016-08-25 16:27] johaenns opened #1545 "Unable to run scirun-net with "-e"/"-E" in headless built"
Trying to execute a scirun-net in the headless built using "-e"/"-E" option leads to a crash with output

HEADLESS MODE
Attempting load of empty.srn5
2016-08-25 10:16:26.047  [INFO] module position editor unavailable, module positions at default
File load done: empty.srn5
Goodbye!
terminate called after throwing an instance of 'boost::exception_detail::clone_impl<boost::exception_detail::error_inf

[2016-08-26 20:44] dcwhite opened #1547 "Add website contents to code repo (this)"
A simpler documentation model:
https://github.com/blog/2228-simpler-github-pages-publishing

This will simplify issues related to documentation, as well as enable documentation checks as part of CI and build scripts.

[2016-08-26 21:51] dcwhite commented on #1243
Any time to work on this issue in the next week? The priority is higher now due to client interest. If not I'll assign it back to me.

[2016-08-26 22:37] dcwhite commented on #1545
@johaenns This is a problem with the command dependencies. As a workaround for right now, add `-i` to any command. This will load/execute the file/script and then give you a prompt. I will soon merge a fix that allows the use of ^C or ^D to then exit. The fix for this issue will enable proper handling of -e/-E with headless.

[2016-08-29 14:59] dcwhite commented on #1541
Reply from Darrell:
---
ow many modules in your typical network?
20+, However, I was seeing these problems with only around 15 or so.

Could you give me a range on the crash threshold for read/write? 1GB, 2GB, ?? And what type, is it Field, Matrix, both, or other?
I am not sure the exact threshold but we would like to be able to write 3.5 – 14 GB data into a .mat format or some other binary format

[2016-08-29 16:52] #1535 closed

[2016-08-29 16:52] #1449 closed

[2016-08-29 16:52] #1543 closed

[2016-09-02 17:31] Mazze opened #1548 "SetFieldData method extract the data for 9 valued tensor incorrectly."
### Description
In SCIRun 5.0.beta.d the method SetFieldData extract the data for 9 valued tensor incorrectly. In the commit 'fix the tensor data setting for one case' (9c75cb0) in the new line 394 the tensor values are extracted from the data. The assumption seems to be a symmetric tensor. Therefore, I would expect reading the values of the array at 0,1,2,**4,5,**8; However it is 0,1,2,**3,4**,8.

[2016-09-08 20:34] dcwhite commented on #881
I burrowed a little bit deeper this time, and found a race condition occurring in the initialization phase, related to `ComponentContainer` and its `renormalize` function. I can write up a detailed report if you want.

[2016-09-09 19:23] aylakhan commented on #881
That would be a good idea.

[2016-09-10 19:11] collint8 commented on #1515
Where do you want them? Wiki, github, etc.

[2016-09-10 21:05] dcwhite commented on #1515
Let's discuss on Monday.

[2016-09-12 20:00] dcwhite commented on #1515
Try this converter: http://pandoc.org/

[2016-09-12 20:18] #716 closed

[2016-09-12 20:18] #1542 closed

[2016-09-12 20:18] #1545 closed

[2016-09-13 19:39] dcwhite commented on #1386
@aylakhan provided an update last week. :moneybag: :confused: :boom:

[2016-09-13 20:33] #1461 closed

[2016-09-13 22:12] #1548 closed

[2016-09-15 18:48] dcwhite opened #1551 "Provide convenience scripts+tutorial for github flow branching model"
See #1477.

To digest:
https://guides.github.com/introduction/flow/
https://gitversion.readthedocs.io/en/latest/git-branching-strategies/githubflow/
http://haacked.com/archive/2014/07/28/github-flow-aliases/

[2016-09-16 05:47] dcwhite commented on #744
This is no longer needed--modules are fixed size now, and people like the buttons-on-hover.

[2016-09-16 05:47] #744 closed

[2016-09-19 19:58] #1243 closed

[2016-09-19 19:58] #1529 closed

[2016-09-20 22:46] collint8 commented on #1513
Here is a link to a raw conversion from latex to markdown from the converter https://github.com/collint8/SCIRun/blob/master/src/Documentation/Manuals/BasicTutorial/BasicTutorial.md
It renders the images but it has problems with referencing images and it also lacks the captions for them.
It also doesn't work with the scope feature

[2016-09-21 18:19] dcwhite commented on #1513
Calling all @SCIInstitute/scirun-users, please check out the markdown version of the basic tutorial pdf above, and make comments about it here.

[2016-09-21 18:29] jessdtate commented on #1513
The markdown version looks pretty good. A couple notes.
It looks like the pandoc converter didn't convert the figure captions or figure references correctly.  If we move it to pure markdown there are ways around this.
As general feedback on the tutorial, it probably needs an update to the introduction, ie, and explanation of some of the preferences and features that are available.  Maybe it can wa

[2016-09-21 23:21] collint8 commented on #1513
There are 25 images in this manual. I could incorporate a mouse-over title really easily. I'm going to work on the physical titles but it will take longer.

[2016-09-22 18:28] dcwhite commented on #1005
@jessdtate @zaracay Could one of you guys attach some test networks here that demonstrate the quirks mentioned above?

[2016-09-22 19:12] collint8 commented on #1513
Physical titles are up.

[2016-09-22 21:24] gduffley commented on #1513
It looks good to me. How come it isn't linked from http://sciinstitute.github.io/scirun.pages/ ?

[2016-09-22 21:27] dcwhite commented on #1513
We're just trying things out, both with the tutorials and the github.io content. All works in progress

[2016-09-22 21:51] dcwhite commented on #1239
@aylakhan Will the ofstream fix close this one? How do I test it?

[2016-09-22 21:57] aylakhan commented on #1239
No, it won't. Basically, the exporter does not support the full OBJ spec. If we were to carefully document the fact that the exporter produces files that are probably only readable by ImageVis3D (and likely not readable by any other software that reads OBJ files), we could close it.

[2016-09-23 18:10] #1401 closed

[2016-09-27 16:09] aylakhan commented on #1513
The chapter and section headings are very large. Also, the link in section 1.1.1 should point to GitHub.

[2016-09-27 16:12] aylakhan commented on #1513
Equation formatting needs work:

<img width="317" alt="eqn" src="https://cloud.githubusercontent.com/assets/1399377/18882020/cd6f138a-849a-11e6-9309-0766b2784084.png">

[2016-09-27 16:16] aylakhan commented on #1513
Text is also missing section cross-references.

[2016-09-27 16:23] aylakhan commented on #1513
Use the [figure](http://www.w3schools.com/tags/tag_figure.asp) and [figcaption](http://www.w3schools.com/tags/tag_figcaption.asp) tags for figure layout.

[2016-09-27 16:28] aylakhan commented on #1513
It looks like the lines starting with "Scope:" got mangled in the conversion.

[2016-09-27 19:53] dcwhite commented on #1513
@collint8: try to implement @aylakhan's suggestions by next Monday.

[2016-09-28 20:08] dcwhite commented on #1443
Since this will depend on and adapt types from Duality/G3D.h, the most direct way to implement this might be to add Duality_Client as an external project.

[2016-09-29 00:51] collint8 commented on #1513
I'm on it. Here's the progress so far https://collint8.github.io/scirun.pages/BasicTutorial.html

[2016-09-29 02:21] zaracay commented on #1513
I agree with @jessdtate comments from earlier.  There needs to be some sort of installation instructions and an introduction that explains why you show the examples that you chose.  Also, the heading to 2.1, 2.1.2, 3.3 are the same (Slice Field).  Top level titles (2.x and 3.x) should be more descriptive of the overall goal of the section and should not be repeated.

3.4 text problem similar to wh

[2016-09-29 16:18] dcwhite commented on #1513
This issue is for formatting concerns. I'll open a new one for suggestions on new tutorials and manuals, and copy your comments there.

[2016-09-29 16:19] dcwhite opened #1556 "New tutorials and manual ideas"
From discussion in #1513:

@jessdtate:

@zaracay:

[2016-09-29 19:22] jessdtate commented on #1541
Just to report it here before I forget.  The execute downstream only option needs to be in the sprocket menu, and/or should be the default of the execute button on the module.

[2016-09-29 19:52] jessdtate commented on #1152
SelectSubMatrix has a similar problem, in that it will return a null output without showing an error.  I don't think it is related to sparse matrices though.  I will make another issue when I have time.

[2016-09-29 20:26] dcwhite commented on #1541
Good idea. I knew the execute-downstream action needed to be more visible/configurable, but just wanted to get it in quickly, so I will start with those suggestions.

[2016-09-30 20:33] dcwhite commented on #1513
Good work on scope and links. If you get equations looking nice by Monday at 2pm, we can show it to Rob.

[2016-10-06 18:28] jessdtate opened #1557 "build script option for headless build"
We need option to build headless using the build script.

[2016-10-06 23:11] jessdtate opened #1558 "quit when can't run script in headless mode."
### Description

When attempting to run a script in headless mode, if the script does not have a valid quit function, there is no way to regain control of scirun.  This happens if the script file doesn't exist, is not a valid script file, if there is no quit function, or if there is an error in the execution of the script (doesn't get to the quit function).  In these cases, SCIRun does not return

[2016-10-07 21:40] jessdtate opened #1559 "tetgen doesn't run on headless builds"
### Description

While trying to run interfacewithtetgen in a headless build, I can never get an output from tetgen.  It works on normal builds, running normally or headless, but not when the build is headless.  I have tried this on orion10, chiron, and my iMac to the same results.  The output messages indicate that the interfacewithtetgen module is running and completed, but I cannot manage to sa

[2016-10-10 21:20] dcwhite opened #1560 "Improve headless/console logging"
Not much other than start/stop of each module. Verbose mode is way too verbose. Need a middle option.

[2016-10-11 21:31] dcwhite commented on #1558
Error cases were fixed.

New/changed command line options to handle other cases:
`-S <script.py>`: interpret script and quit after first execution pass is done
`-s <script.py>`: interpret script and drop into internal python console.
These options mirror the `-e/-E` pair for the GUI.

[2016-10-13 19:11] dcwhite commented on #1100
To unzip within SCIRun, use http://quazip.sourceforge.net/index.html.

[2016-10-13 19:16] #373 closed

[2016-10-13 19:16] #1558 closed

[2016-10-13 19:16] #1559 closed

[2016-10-14 17:07] jessdtate commented on #1541
I've made a few tet meshes to test in the /home/sci/jess/mesh_testing/ directory.  The meshes are the same geometry with different resolution.  The number in the filename is the number of elements in the mesh.  I'm having trouble making meshes beyond the 52 million element range with sr4 or sr5.  sr4 has a writing problem, sr5 might be getting stuck on tetgen.

I can load in the 52 million element

[2016-10-14 17:08] jessdtate commented on #1541
I will keep trying to make bigger meshes.

[2016-10-18 15:42] jessdtate commented on #1541
saving and loading big data using the matlab is not possible with the current libraries.  At least in matlab, saving a file of > 100 million elements requires the newest version of the .mat file (7.3), which I think uses compression.  there was a discussion about this a number of years ago, I think with @moritzdannhauer for scirun4.  I'm not sure if anything is different now.

[2016-10-18 16:07] aylakhan commented on #1541
Matlab 7.3 can use compression, and I don't think anything has changed.

[2016-10-18 16:18] jessdtate commented on #1541
I was able to load a 530 million element mesh  (fld format) into SR5, but it crashed when attempting a mapping module.  I think I ran out of memory on my machine.

[2016-10-18 16:27] dcwhite commented on #1541
I will attach a link to a spreadsheet for loading (ReadField) and visualization (ShowField) execution times across all of our machines. Let me add some code that will make it easier to gather this data.

[2016-10-20 20:11] johaenns commented on #1443
An example script for my current way to export obj's with color and transparency from SCIRun so that they can be converted to g3d's using uvfconvert

[python-obj.tar.gz](https://github.com/SCIInstitute/SCIRun/files/542772/python-obj.tar.gz)

g3d's can be viewed in ImageVis3d by adding a geometry object to a (dummy) volume image, though there might be some rendering issues.

Dummy volume image:

[d

[2016-10-25 20:50] jessdtate opened #1563 "EditBoundingBox UI needs a reset button"
### Description

The EditMeshBoundingBox module needs a button to reset the transform, meaning to move it back to its original position.  This is something that was in SR4, and is useful when there is a mistake in transform.
### Steps to Reproduce
1. transform mesh with widget
2. hit reset button.

**Expected behavior:**

bounding box and and mesh should move to the original position, ie, the same

[2016-10-27 19:14] dcwhite commented on #1513
@jessdtate @collint8 Could one of you update this issue with details about equation handling tools that you found? Thanks

[2016-10-31 19:53] dcwhite commented on #1541
As you can see in this [performance spreadsheet](https://docs.google.com/spreadsheets/d/1NY3BucpRKdWuUPV9vbl4o4fpUTyj6SgHHF3xWSfIFko/edit?usp=sharing), SCIRun 5 is mostly faster than 4 across various mesh sizes when executing ReadField. I'm still testing ShowField. Can you be more specific when you say

[2016-11-02 15:29] gduffley opened #1565 "Syntax for passing arguments with python scripts"
Like you would call `python example.py arg1 arg2` you should be able to call `SCIRun -s example.py arg1 arg2`

[2016-11-02 16:51] jessdtate commented on #1563
I tested this update.  The reset is working, but the transform isn't working properly.  It seems to be scaling instead of translating. When the bounding box is at the original location, but when it is moved, the the size of the mesh (but not the widget) is changed.   Here is an example network.

[test_ebb_reset.srn5.zip](https://github.com/SCIInstitute/SCIRun/files/567176/test_ebb_reset.srn5.zip)

[2016-11-02 21:57] jessdtate commented on #1563
now it the scaling is working on the mesh.  However, the behavior with the the check boxes for center and size aren't consistent with sr4.  If the bock is checked it shouldn't reset, so if both are check, only the rotation is reset (not implemented yet).  As a side note, sr4 doesn't handle the size values with rotation correctly.

Also if only one on the options (center or size) is changed in the

[2016-11-02 22:23] jessdtate commented on #1563
The size is resetting when the box is moved now (still?), in addition to when the text is changed.

[2016-11-03 17:58] aylakhan commented on #1157
@moritzdannhauer @zaracay @ajanson @jessdtate - do we have content for this issue?

[2016-11-03 18:40] dcwhite commented on #1157
It was conceived of as an umbrella issue. We could turn this issue into its own project.

[2016-11-03 18:44] aylakhan commented on #1157
Do we have related issues to link to? If so, turning this into a project would make sense.

[2016-11-03 18:51] dcwhite commented on #1157
https://github.com/SCIInstitute/SCIRun/search?q=Tensor&state=open&type=Issues&utf8=%E2%9C%93

[2016-11-03 19:12] aylakhan commented on #1157
Moved to project, closing this issue.

[2016-11-03 19:12] #1157 closed

[2016-11-03 23:02] dcwhite commented on #1565
I passed the entire command line to the python interpreter, so now you have full access to sys.argv inside scripts and the console. Thus you can extract args out that way, just pass them in like you have above--SCIRun will ignore ones it doesn't recognize.

[2016-11-05 14:41] rsmacleod commented on #1556
Some comments on the technical side.  Content is a separate question we will need to address too. These comments come from the SCIRun tutorial pointer you sent me:
1) Layout is too open, fonts too large, too much wasted white space around the text in the section titles.
2) There really need to be better navigation tools, at least a table of contents.  Better, will the system automatically make sep

[2016-11-07 23:02] jessdtate opened #1566 "access to %SCIRUNDATA% path variable in python console"
### Description

Having access to the %SCIRUNDATA% path variable in python console and IWP would allow for importing python library dependency easier.  This could either be an environment variable, or a function call.   I think the environment variable would be better.

### Steps to Reproduce

env variable
1. get variable of SCIRUNDATA path
2. use path to load in other files

function
1. call func

[2016-11-09 22:25] #1563 closed

[2016-11-10 23:44] dcwhite commented on #1566
I went with option 1, and just added it to `os.environ`:
[code]

[2016-11-11 17:42] jessdtate commented on #1566
This works as describe.  While I was working on this I noticed something else.  When I try to type a path out that is the same as the SCIRUNDATADIR path in the IWP module, it is automatically changed to %SCIRUNDATADIR%.  So '/Users/jess/software/BrainStimulator' changes to '%SCIRUNDATADIR%'.  If the path is already in the IWP script, an the datadir is changed in the preferences, the IWP script wil

[2016-11-11 18:26] #1565 closed

[2016-11-11 18:26] #1566 closed

[2016-11-11 18:26] dcwhite commented on #1513
@jessdtate @collint8 Looking for any update on this one...and pushing to next milestone.

[2016-11-11 18:51] jessdtate opened #1568 "over replacing %SCIRUNDATADIR% variable"
### Description

When typing a string that matches the SCIRUNDATADIR string in any module, it replaces it with %SCIRUNDATADIR%.  This seems to happens in every text field in every module, but is probably the most problematic in iterfacewithpython.  This should replacement should be limit to the read and import modules.  The export write modules should still interpret the %SCIRUNDATADIR% as the act

[2016-11-11 22:54] jessdtate opened #1569 "calling user made scripts and functions in iterfacewithpython"
### Description

calling a user defined function in the interfacewithpython module has proven to be a bit of a problem.  I am currently trying to use the exec(open(fileanm.py), which is having problems with importing packages.  It seems that if there is an import statement at the top of a python function file, it will not be recognized in the functions, so the script will throw an error (test_scri

[2016-11-11 23:13] jessdtate commented on #1513
it looks like mathjax will be able to do all the equation stuff that we need.  @collint8  is testing it so he will give an update on that when he is finished.

[2016-11-11 23:26] jessdtate opened #1570 "importing scipy.io and matplotlib.pyplot in InterfaceWithPython hangs module"
### Description

Trying to import the scipy.io or matplotlib.pyplot in the IWP module or in a script called by IWP will hang the module (test_scripting_IV.srn5).  These same functions work fine if they are called from the python console.

[test_scripting_IV.srn5.zip](https://github.com/SCIInstitute/SCIRun/files/586816/test_scripting_IV.srn5.zip)

### Steps to Reproduce

1. open IWP and put import

[2016-11-16 20:23] #1568 closed

[2016-11-17 20:59] a-y-khan opened #1572 "Test Boost 1.62.0 for potential upgrade"
Test Boost 1.62.0 for potential updated. There is a [potentially useful bug fix](https://svn.boost.org/trac/boost/ticket/11602) in the release.

[2016-12-01 19:36] jessdtate opened #1573 "InterfaceWithPython gui variable names not scrolling"
### Description

in the InterfaceWIthPython module UI, the variable names do not scroll with the port names and types.  When this happens the names and the ports do not match (in the UI only).  It also makes it hard to the change the variable names at the bottom of the list.  However, if the you scroll down, then change tabs and then go back to the tab, it will be stuck in the new position.  This

[2016-12-01 23:01] dcwhite commented on #1573
This might be another Qt/10.8 bug with tables, similar to the buttons in the treeview not scrolling correctly. I will test it out on other platforms and see.

[2016-12-01 23:24] jessdtate commented on #1570
Here is another line that hangs the iwp module but not the python console: np.finfo(float).eps.  Use this code to test:

import numpy as np
print(np.finfo(float).eps)

[2016-12-01 23:38] jessdtate opened #1574 "interfacewithpython single line loops not recognizing outside environment"
### Description

When using single line loops in InterfaceWithPython, there is problem with using multiple variables.  It works if the loop is self contained, ie, [ [i] for i,e in enumerate(V) if e != 0], but if it relies on another variable or imported package it doesn't recognize them, ie, [a[i] for i in b].  These all work in the python console.  If the loop is expanded into long form, there ar

[2016-12-02 17:34] jessdtate commented on #1541
I finally updated the spreadsheet with the specs form my computer

[2016-12-02 19:24] dcwhite commented on #1541
Great! Could you update the other tabs as well? ShowField and SCIRun 4 times too.

[2016-12-02 22:26] dcwhite commented on #1574
@jessdtate I can make the "math" error go away by importing math at the script level, so the functions are available automatically (like with the scirun API). **Anymore very common modules I can import this way?**

With the second error, you stumbled on a Python 3 list comprehension/variable scoping in closures/embedded shell/environment problem 😈 . Read these links for explanation (gory details i

[2016-12-02 23:47] jessdtate commented on #1574
It may be a good idea  to import the common modules.  Since the expanded loop works too, it may not be worth fixing.   It will probably work in a script too, I haven't tested that yet.  Definitely needs to be documented at least.

[2016-12-02 23:50] jessdtate commented on #1541
Oops.  Done now.

[2016-12-03 00:03] jessdtate commented on #1570
Another set of code that hangs the IWP but works in the python console.  This one seems to have problems with return an error/warning and an inf value.  Similar functions that I have tried return inf and an error/warning have the same issue (np.linalg.norm, for example)

import numpy as np
g = np.identity(9)
c1 = np.linalg.cond(g)
print(c1)
g[0,:] =0
c2 = np.linalg.cond(g)
print(c2)

The first one

[2016-12-03 00:23] jessdtate commented on #1570
in the last example (np.linalg.cond) the terminal does print the warning and the result after a while.  It takes several minutes when it only takes a second in the python console.

[2016-12-12 22:51] moritzdannhauer opened #1576 "SCIRun5_compiling_macOS_Sierra_QT4_error"
* [x] Are you running the [latest version of SCIRun](https://github.com/SCIInstitute/SCIRun/releases)?
* [x] Are you reporting to the [correct repository](https://github.com/SCIInstitute/SCIRun)?
* [x] Did you [perform a cursory search](https://github.com/SCIInstitute/SCIRun/issues) to see if your bug or enhancement is already reported?

### Description

I am trying to compile SCIRun5 on macOS X S

[2016-12-14 19:48] dcwhite commented on #1576
@moritzdannhauer and I found a workaround, but this might be the last OSX that will work with Qt 4.x. Using this special homebrew "tap", you can build Qt from source and have it work with SCIRun on OSX 10.12. The instructions are available in the README at the bottom:

https://github.com/cartr/homebrew-qt4

[2016-12-14 19:52] dcwhite commented on #1576
There's a background discussion [here](https://github.com/Homebrew/homebrew-core/pull/5216) that indicates the importance of SCIRun moving to Qt 5 as soon as possible. It ought to be top priority for 2017.

[2016-12-14 19:55] dcwhite commented on #1576
@moritzdannhauer Let me know if you experience any issues with your 10.12 SCIRun build; if it's stable for your purposes, we can close this issue.

[2016-12-21 17:19] #1576 closed

[2016-12-22 21:52] dcwhite opened #1577 "Fix problem with version tag when building from source"
See recent scirun-users email.

[2017-01-04 19:21] dcwhite opened #1578 "New format for toolkit networks, to enable easier sharing/updating"
Instead of zipping a folder of networks together, let's experiment with a single file format for toolkit networks. It can be very simple: an XML list, with each network embedded as key/value pair with key = network name+relative path, and value = network XML as in a standalone network file. This will enable easier code to be added that can update a user's toolkit files, while allowing them to save

[2017-01-04 19:22] dcwhite commented on #1103
#1578 will make this easier to implement.

[2017-01-04 19:22] dcwhite commented on #1100
#1578 will make this easier to implement.

[2017-01-09 22:09] #1577 closed

[2017-01-12 19:28] #1557 closed

[2017-01-23 17:02] zaracay commented on #287
Feature Requests:

1 - Duplicatable
2 - Ask user if they really, REALLY want to have every UI pop up display when they select the UI button

[2017-01-23 21:03] dcwhite commented on #117
This may be defunct, need to test in 10.12.

[2017-01-23 21:11] aylakhan commented on #191
We're downloading archives in Seg3D now...

[2017-01-23 21:13] #73 closed

[2017-01-23 21:26] jessdtate commented on #1513
@collint8 Is there anything major left on this document?  if not, We should make a pull request, make a new issue of the things that are left and close this one.

[2017-01-23 21:38] dcwhite opened #1582 "Optionally-built modules need to be controlled at config file level"
Found by @zaracay .

[2017-01-23 21:58] dcwhite commented on #117
Yup, still appears in 10.12.

[2017-01-25 19:12] dcwhite commented on #57
Closed and added to Archive Project.

[2017-01-25 19:12] #57 closed

[2017-01-25 22:57] dcwhite commented on #64
Closed and added to Archive Project.

[2017-01-25 22:57] #64 closed

[2017-01-25 22:57] dcwhite commented on #128
Closed and added to Archive Project.

[2017-01-25 22:57] #128 closed

[2017-01-25 22:57] dcwhite commented on #27
Closed and added to Archive Project.

[2017-01-25 22:57] #27 closed

[2017-01-25 22:57] dcwhite commented on #102
Closed and added to Archive Project.

[2017-01-25 22:57] dcwhite commented on #42
Closed and added to Archive Project.

[2017-01-25 22:57] #42 closed

[2017-01-25 22:57] dcwhite commented on #65
Closed and added to Archive Project.

[2017-01-25 22:57] #65 closed

[2017-01-30 20:03] #108 closed

[2017-01-30 20:52] dcwhite commented on #201
The Python interface makes this obsolete.

[2017-01-30 20:52] #201 closed

[2017-01-30 20:57] dcwhite commented on #851
@aylakhan @jessdtate Placeholder issue for volume rendering

[2017-01-30 20:57] dcwhite commented on #208
DONE: python script runner
ENABLED with python: module that encapsulates a Scirun 4 network (I think there's an issue for this already)
DROPPED: UVF module for optional out-of-core volume rendering.

[2017-01-30 20:57] #208 closed

[2017-01-30 22:14] dcwhite commented on #176
Closed and added to Archive Project.

[2017-01-30 22:14] #176 closed

[2017-01-30 22:15] dcwhite commented on #178
Closed and added to Archive Project.

[2017-01-30 22:15] #178 closed

[2017-01-30 22:15] dcwhite commented on #200
Closed and added to Archive Project.

[2017-01-30 22:15] #200 closed

[2017-02-02 17:42] jessdtate opened #1584 "refactor module UI buttons"
### Description

The module UIs should have some buttons, like Execute or Close window.  The modules that allow options to execute interactively should have that option in the UI as a check box, rather than just one the drop done menu. Find (in the network) is another useful button.

[2017-02-03 20:51] dcwhite commented on #1537
@jessdtate Did you try any of the workarounds on the linked page above?

[2017-02-03 20:52] jessdtate commented on #1537
not yet.  I'm working on getting the packages installed on my machine.  I will work on in soon.

[2017-02-03 20:56] dcwhite commented on #1570
@jessdtate I was finally able to import numpy on my new Mac running 10.12. I never got pip to work, so I built numpy from source using the latest code (along with building the latest cython, downloading latest python installtools, and homebrewing latest gfortran compiler). This worked all within SCIRun's custom python install. Here are my findings:

1. The simple `print(np.finfo(float).eps)` line

[2017-02-03 21:01] jessdtate commented on #1570
it only hangs in the IWP for me.

[2017-02-03 21:02] dcwhite commented on #1570
Do you remember how long the infinite cond output took with IWP? Mine is still hung after 30+ minutes.

[2017-02-03 21:04] jessdtate commented on #1570
I never got it to finish.  I've waited hours for it.

[2017-02-03 21:06] dcwhite commented on #1570
Oh, above it said "several minutes."

[2017-02-03 21:13] jessdtate commented on #1570
oh, on that example I don't remember, but I think it was around there.   I will run it again.  The example in the fwd/inv toolkit I definitely ran a long time.

[2017-02-07 21:22] #424 closed

[2017-02-07 21:36] dcwhite commented on #378
Let's review stored options here.

[2017-02-07 21:49] dcwhite commented on #424
This is fixed already.

[2017-02-07 21:50] dcwhite commented on #427
Closed and added to Archive Project.

[2017-02-07 21:50] #427 closed

[2017-02-07 21:50] dcwhite commented on #386
Closed and added to Archive Project.

[2017-02-07 21:50] #386 closed

[2017-02-07 21:50] dcwhite commented on #387
Closed and added to Archive Project.

[2017-02-07 21:50] #387 closed

[2017-02-07 21:52] dcwhite commented on #321
Closed and added to Archive Project.

[2017-02-07 21:52] #321 closed

[2017-02-08 14:55] moritzdannhauer opened #1586 "Add complex number support to SolveLinearSystem"
We need complex number support for both inputs (2 additional complex number support) and the algorithmic part of this module.

[2017-02-08 14:58] moritzdannhauer opened #1587 "ConvertComplexToRealMatrix"
We need this module as a counterpart of 'ConvertRealToComplexMatrix' (also) in order to be able to export it from SCIRun5.

[2017-02-08 18:00] dcwhite commented on #1586
This will involve changing many, many files. As an initial step, we could make a new module with only one algorithm option. What size complex matrices do you need to solve right now? If they're not too big, we can try Eigen's solvers first.

[2017-02-08 18:03] dcwhite commented on #1587
Duplicate of #1371, already assigned to you.

[2017-02-08 18:03] #1587 closed

[2017-02-08 18:06] dcwhite commented on #1371
Will add @shayestehfard when she joins the github team.

[2017-02-08 18:31] moritzdannhauer commented on #1586
I see, we need to change all of the solvers... Do you want to merge/replace the real and the complex module version at some point?

Right now, they are small because we are using very simple examples and the stiffness matrix are generally very sparse too. Our short-term goal is to use realistic head meshes with millions of nodes. Thats why, EIgen may not be an option (because of limited matrix siz

[2017-02-08 19:00] dcwhite commented on #1586
Eigen can support any size matrix, it's more the speed of the solvers that would be tested. We still need to try multithreading the Eigen solvers (with a simple compiler flag).

[2017-02-08 19:09] moritzdannhauer commented on #1586
Is it efficient with memory? So, does it take advantage of the sparsity - if it does not it may be not worth it. If we do not know we can try it with the new version of 'SolveLinearSystemComplex'.

[2017-02-08 19:11] dcwhite commented on #1586
Of course, Eigen has a sparse matrix type which surely would be used by its solvers. For details read https://eigen.tuxfamily.org/dox-devel/group__TopicSparseSystems.html

[2017-02-08 20:33] #1100 closed

[2017-02-08 20:33] #1103 closed

[2017-02-08 20:33] #1578 closed

[2017-02-08 21:24] dcwhite commented on #378
Here is what's saved in the registry on Windows:

![screenshot 2017-02-08 14 23 29](https://cloud.githubusercontent.com/assets/1399383/22758044/366017c6-ee0a-11e6-814d-fb27be735297.png)

[2017-02-08 21:24] dcwhite commented on #378
Here is what is saved into the Qt settings object:
[code]

[2017-02-08 21:29] dcwhite commented on #378
@aylakhan @jessdtate @cbrightsci See any that could be useful in headless mode?

[2017-02-08 21:50] jessdtate commented on #378
The only thing that might be useful is the networkDirectory, dataDirectory, and dataPath, but even those aren't really needed.  Since the SCIRunData path can be passed in the command line, I say close this an not worry about it.

[2017-02-08 21:57] aylakhan commented on #378
Agreed.

[2017-02-08 22:18] dcwhite commented on #378
Done!

[2017-02-08 22:18] #378 closed

[2017-02-08 23:18] jessdtate commented on #1570
I retried it and it ran over the weekend without finishing.

[2017-02-09 01:33] dcwhite commented on #1570
Could you try running it through the debugger?

[2017-02-09 17:01] jessdtate opened #1588 "toolkit menu improvements"
The recently added toolkit menu needs a few improvements.

- Is it possible that when the user tries to load a toolkit with the same name, the prompt asks to confirm overwrite instead of rejecting it outright?  This will allow users to more easily replace a toolkit with an updated version.
- There needs to be an option to remove a toolkit from the menu, otherwise the list may become too long.  Thi

[2017-02-09 17:12] jessdtate commented on #1588
if the user replaces the same toolkit file with an updated version and keeps the name, will the list of networks update?  Based on my tests, it seems like it would, but only when SCIRun is restarted.  If this is the case than it is sufficient.  Otherwise, there can be an update toolkit button, where it reloads the toolkit files.

[2017-02-09 17:31] dcwhite commented on #1588
- [ ] Confirm overwrite instead of reject: yes
- [ ] Remove toolkit from menu action: yes
- [ ] Link with data dir menu: yes
- [ ] Update toolkit: I will test and make sure behavior makes sense

[2017-02-10 19:19] dcwhite commented on #670
@jessdtate How about I put module action buttons in the title bar? Then this can be combined with #1584.

[2017-02-21 20:45] dcwhite commented on #530
@jessdtate Here is the original text issue.

[2017-02-21 20:57] dcwhite commented on #360
@aylakhan Let's provide python examples for your socket-based method.

[2017-02-21 21:02] dcwhite commented on #356
Let's consult the user list on the fate of this one.

[2017-02-21 21:04] dcwhite commented on #356
@jessdtate Here is the issue

[2017-02-21 21:30] dcwhite commented on #337
Closed, head to #356 for any PropertyManager-related issues.

[2017-02-21 21:30] #337 closed

[2017-02-21 21:35] dcwhite commented on #363
Idea for later discussion.

[2017-02-21 21:35] #363 closed

[2017-02-21 21:36] #366 closed

[2017-02-24 17:17] moritzdannhauer opened #1589 "Convert module: RemoveUnusedNodes"
First programming exercise for Kimia.

[2017-02-24 17:19] moritzdannhauer opened #1590 "Convert module: CleanupTetMesh"
Second programming exercise for Kimia.

[2017-02-27 18:59] dcwhite opened #1594 "Use new Travis feature, "Crons," to run nightly functional/regression tests"
To save time we could cache a build somehow, this would enable more time for tests to run.

[2017-02-27 20:43] dcwhite commented on #305
@jessdtate Could you test this and give a verdict on fix/archive? Thanks.

[2017-02-27 20:44] dcwhite commented on #318
@SCIInstitute/cibc-users @SCIInstitute/scirun-users @SCIInstitute/scirun-developers Calling all users of v5: what's your thinking on this unimplemented v4 feature? Please comment.

[2017-02-27 20:48] dcwhite commented on #300
@SCIInstitute/cibc-users @SCIInstitute/scirun-users @SCIInstitute/scirun-developers Another user poll: Has anyone noticed this slowdown? In general, how should we go about provenance in large network files?

[2017-02-27 20:52] dcwhite commented on #336
https://docs.travis-ci.com/user/sonarqube/

[2017-02-27 21:15] zaracay commented on #318
In large networks, I'll actually use the minimap, so I would like to see it.  The zoom feature makes it less of a priority, but I just tested a large network and the zoom doesn't work great for navigating around a large network

In favor of keeping: 1
In favor of eliminating: 0

[2017-02-28 00:05] jessdtate commented on #305
I have a hard time remembering this. Is this for when the pipes are all on top of each other?  If so, the pipe selection is about as good as it is in 4 now.  Therefore it can be definitely archived if not closed.

[2017-02-28 00:09] jessdtate commented on #300
Provenance is part of it, but there the networks can be quite slow even when freshly loaded.  As for provenance, if we could set the number of steps (for undo) in preference, then set the default to 10 or so, that would probably help.

[2017-02-28 00:17] jessdtate commented on #318
The scrolling combined with autoview for the network are pretty good tools.  I think the mini map could be nice, but I think it can be at least archived for now.

[2017-02-28 18:54] dcwhite commented on #305
Correct. There's probably no perfect GUI for this, when it gets to be a mess of pipes. I'll close it.

[2017-02-28 18:54] #305 closed

[2017-02-28 18:55] dcwhite commented on #300
Sounds good. I'll put this on the list for 2017.

[2017-02-28 19:05] #670 closed

[2017-02-28 19:05] #1584 closed

[2017-02-28 19:14] jessdtate opened #1595 "module ui window bar inconsistency."
### Description

In the new toolbar in the module UIs, there the window bar sometimes shows up, and sometimes doesn't.  When the module pops up at first, there is no window bar and looks the same as it does when it is docked.  After docking and undocking, the window bar then appears.  I'll try to get images later. Upload isn't working right now.

![window_predocked](https://cloud.githubusercontent

[2017-02-28 22:21] #1588 closed

[2017-02-28 23:31] dcwhite commented on #1595
@jessdtate Can you try uploading screenshots now? AWS is back apparently.

[2017-03-01 22:00] dcwhite commented on #1595
I didn't test it with "Enable Module Dock" turned off. I will fix this soon.

[2017-03-02 00:00] jessdtate opened #1596 "bundle_toolkit tool needs help function"
### Description

The bundle toolkit used to package the toolkit networks could use some help documentation in it if it is to be called by users.  ie, running ./bundle_toolkit --help and getting directions.

### Steps to Reproduce

1. navigate to bin/SCIRun
2. ./bundle_toolkit --help

**Expected behavior:**

Should explain the syntax of the function

**Actual behavior:**

Creates a file --help.tool

[2017-03-02 01:15] dcwhite commented on #1596
If you run with no arguments, the help is printed. Matches most built in tools.

[2017-03-02 17:55] dcwhite commented on #1596
I'll add a basic help check though.

[2017-03-02 18:08] jessdtate commented on #1596
It seems like this tool will be used more than most of the others, so it might be helpful.  Maybe an error check for the '-', which is almost always supposed to be a flag.

[2017-03-02 18:14] dcwhite opened #1597 "Clean up module and algorithm header files to simplify training"

[2017-03-02 18:40] dcwhite commented on #1596
Any other parameters to check?
[code]

[2017-03-03 16:23] jessdtate commented on #1596
That solution works

[2017-03-06 20:50] dcwhite commented on #291
Needs project

[2017-03-06 20:54] dcwhite commented on #286
Check when `LegacyField` is used.

[2017-03-06 20:56] #284 closed

[2017-03-06 20:56] #280 closed

[2017-03-06 21:00] dcwhite commented on #278
Let's design a new module that can take advantage of ShowField's text labeling....

[2017-03-06 21:38] dcwhite commented on #288
Made defunct via closure of #378.

[2017-03-06 21:38] #288 closed

[2017-03-09 21:52] #286 closed

[2017-03-09 21:52] #1596 closed

[2017-03-14 19:10] dcwhite commented on #253
@SCIInstitute/scirun-users Has anyone seen this buggy behavior recently?

[2017-03-14 19:39] #222 closed

[2017-03-14 19:39] #246 closed

[2017-03-14 19:39] #264 closed

[2017-03-14 19:39] #275 closed

[2017-03-14 19:39] #292 closed

[2017-03-14 19:39] #308 closed

[2017-03-14 19:39] #314 closed

[2017-03-15 04:11] dcwhite commented on #287
http://scirundocwiki.sci.utah.edu/SCIRunDocs/index.php/CIBC:Documentation:SCIRun:UserGuide:Networks#Creating_a_Sub-Network

[2017-03-16 23:16] moritzdannhauer commented on #1586
Ok, thats the next goal to do something useful with the complex number we can create now in SCIRun5. How difficult will it be to connect the new solvers to SCIRun5?
Is it similar in way to the cleaver1 interface in terms of coding?

[2017-03-16 23:27] moritzdannhauer commented on #1586
I just looked at the Eigen code. Is it simply something like:

#include <Eigen/IterativeLinearSolvers>
ConjugateGradient<SparseMatrix<double>, Eigen::Upper> solver;
x = solver.compute(A).solve(b);

[2017-03-16 23:30] dcwhite commented on #1586
There's already a class I can reuse for the Eigen solving. I just need to make a new module and UI.

[2017-03-20 19:49] dcwhite commented on #477
Break up and make new issues.

[2017-03-20 20:02] dcwhite commented on #501
@jessdtate Needs some exec-thinking.

[2017-03-20 21:41] dcwhite opened #1602 "Create detailed UML class diagram for three main layers"
As begun in recent coding lunch.

[2017-03-21 19:27] #530 closed

[2017-03-21 20:58] #472 closed

[2017-03-21 20:59] #449 closed

[2017-03-21 20:59] #446 closed

[2017-03-24 21:32] aylakhan commented on #522
Add Superbuild External for downloading SCIRunData from GForge SVN to bin/SCIRun.

[2017-03-25 01:37] gduffley commented on #1565
I tested this today for the first time and it's not working. I am getting an error: "[ERROR] File load failed(FIRST_PASSED_ARG): exception in load_xml, unrecognized XML syntax"

[2017-03-25 01:46] dcwhite commented on #1565
Could you open a new bug issue with complete steps for reproduction? Thanks

[2017-03-25 01:52] gduffley opened #1605 "Python -s option not accepting arguments"
Steps:
1) Call SCIRun -x -s anyscript.py arg1

Result:
[PYTHON] Python 3.4.3 (default, Mar 24 2017, 16:45:03)
[GCC 4.8.3 20140627 [gcc-4_8-branch revision 212064]] on linux
HEADLESS MODE
2017-03-24 19:35:13.682  [ERROR] File load failed(arg1): exception in load_xml, unrecognized XML syntax

Expected result:
SCIRun runs the script and passes arg1 as an argument.

[2017-03-27 19:44] jessdtate commented on #531
@cbrightsci Is this on either of your old branches?

[2017-03-27 19:47] #545 closed

[2017-03-27 19:50] jessdtate commented on #556
@cbrightsci Could you elaborate on this one at all? If not, you can close it.

[2017-03-27 19:51] jessdtate commented on #558
@cbrightsci Same as #556.

[2017-03-27 19:54] jessdtate commented on #565
Let's review the whole GUI at the next testing lunch. 🍕

[2017-03-27 20:01] jessdtate commented on #568
Let's add yes/no for ViewScene, saved in the module state. That will close this. New issues for other modules and VS state will be made.

[2017-03-27 20:03] jessdtate commented on #575
Made obsolete by python. We should still make these sort of tests.

[2017-03-27 20:03] #575 closed

[2017-03-27 20:04] #576 closed

[2017-03-28 21:20] dcwhite commented on #1513
Completed with https://github.com/SCIInstitute/scirun.pages/pull/3

[2017-03-28 21:20] #1513 closed

[2017-03-29 20:14] #356 closed

[2017-03-30 19:56] collint8 commented on #522
I'm seeing advice to download the data from Gforge and to move the data to Github. Which would you like me to do?

[2017-03-30 20:19] dcwhite commented on #522
Keep it in gforge for now. There will be a future issue to go through it, trim down the large files, and transition to github. This issue is to automate the download only.

[2017-04-07 04:57] dcwhite opened #1609 "Subnets, part 2"
Continuation of #287.

Need to tackle list from part 1.

Also, which features/buttons/actions etc from the main network editor should be present in subnets?

[2017-04-07 17:22] #1586 closed

[2017-04-07 17:22] #287 closed

[2017-04-07 18:49] #568 closed

[2017-04-07 19:42] dcwhite commented on #1609
- [ ] File menu

[2017-04-07 19:44] dcwhite commented on #1609
@SCIInstitute/scirun-users Add comments here

[2017-04-07 19:49] zaracay opened #1612 "Toggle Between Mouse Modes Shortcut Feature"
Allow users to toggle between drag mode or select mode using simple key command or mouse+meta command.